<div class="card lg:m-3 lg:mb-8">
  <div class="row lg:flex ">
    <div class="md:col-12 lg:col-2 flex align-items-center justify-content-center ">
      <!-- <p-avatar image="https://sorrisologia.com.br/documents/37259750/37287069/15627-mais-do-que-tratar-do-seu-sorriso-o-den-slider_medias-2.jpg/186392e9-1639-b3ba-2d73-c1cd82a4608a?t=1622581613231" size="xlarge" shape="circle"></p-avatar> -->
      <p-image src="https://sorrisologia.com.br/documents/37259750/37287069/15627-mais-do-que-tratar-do-seu-sorriso-o-den-slider_medias-2.jpg/186392e9-1639-b3ba-2d73-c1cd82a4608a?t=1622581613231"
        width="180"
        alt="Foto de perfil do dentista"
        [preview]="true"
        ></p-image>
    </div>
    <div class="md:col-12 lg:col-7 lg:pt-5">
      <div class="md:flex md:justify-content-center lg:justify-content-start">
        <span class="dNome ">{{data.nome}}</span>
      </div>
      <div>
        <i>&nbsp;&nbsp;{{data.especialidade.tipo}}&nbsp;&nbsp;-&nbsp;&nbsp;
        @if (data.ativo){
          <p-tag icon="pi pi-check" severity="success" value="Ativo&nbsp;" [rounded]="true"></p-tag>
        }
        @else {
          <p-tag icon="pi pi-times" severity="danger" value="Inativo&nbsp;" [rounded]="true"></p-tag>
        }
        </i>
      </div>

    </div>
    <div class="md:col-12 lg:col-3  flex align-items-center justify-content-center">
      <ul>
        <li pTooltip="Informações" tooltipPosition="top">
          <p-button icon="pi pi-info-circle" [rounded]="true" [outlined]="true" [style]="{'color': '#7692BC'}"></p-button>
        </li>
        <li pTooltip="Editar" tooltipPosition="top">
          <p-button icon="pi pi-user-edit" [rounded]="true" [outlined]="true" [style]="{'color': '#7692BC'}"></p-button>
        </li>
        <li pTooltip="Exportar" tooltipPosition="top">
          <p-button icon="pi pi-download" [rounded]="true"[outlined]="true" [style]="{'color': '#7692BC'}"></p-button>
        </li>
        <li pTooltip="Deletar" tooltipPosition="top">
          <p-button icon="pi pi-trash" [rounded]="true" severity="danger" [outlined]="true"></p-button>
        </li>
      </ul>
    </div>

  </div>
  <div class="row lg:flex lg:justify-content-center lg:m-3">

    <div class="md:col-11 lg:col-3 ">
      <div class="card box flex" >
        <div class="col-6 py-4 " >
          <div class="row flex justify-content-start align-items-center ml-2">
            <span class="font-bold text-600 text-3xl">45</span>
          </div>
          <div class="row flex">
            <span class="text-lg text-600 font-medium ml-2 mr-3 ">Não sei</span>
            <div class="flex align-items-center">
              <span [class]="1 > 0? 'backGreen':'backRed'">
                <i [class]="1 > 0?
                  'pi pi-arrow-up-right text-xs font-bold text-green-500' : 'pi pi-arrow-down-right text-xs font-bold text-red-400'"
                ></i>
              </span>
              <span [class]="1 > 0?
                'font-medium text-sm text-green-500 ml-1' : 'font-medium text-sm text-red-400 ml-1'"
                >{{ calculaPorcentagem(200, 203) | percent: '1.1' }}
              </span>

            </div>
          </div>
        </div>

        <div class="col-6 flex justify-content-end align-items-center">
          <div class="absolute z-0 px-3">
            <i class="pi pi-shopping-cart text-8xl text-100"></i>
          </div>
          <div class="pt-2">
            <p-chart type="line"
            height="80"
            width="180"
            [responsive]="true"
            [data]="{
              labels: [ '', '', '', '','',''],
              datasets: [
                {
                  fill: false,
                  data: [35, 41, 37, 33, 39, 35],
                  borderColor: '#FF6259',
                  tension: 0.4
                }
              ],
            }"
            [options]="{
              maintainAspectRatio: false,
              aspectRatio: 3,
              name: false,
              plugins: {
                legend: {
                  display: false
                }
              },
              scales: {
                  x: {
                    display: false,
                    ticks: {
                        color: 'transparent',
                      },
                      grid: {
                        color: 'transparent',
                        drawBorder: false
                      }
                  },
                  y: {
                    display: false,
                      ticks: {
                        color: 'transparent',
                      },
                      grid: {
                        color: 'transparent',
                          drawBorder: false
                      }
                  }
              },
              elements: {
                point: {
                    radius:0
                },

              },
              layout: {
                padding: {
                left: 0,
                right: 0,
                top: 5,
                bottom: 5
              }
              }
            }"

            ></p-chart>
          </div>
        </div>
      </div>
    </div>
    <div class="md:col-11 lg:col-3 ">
      <div class="card box flex" >
        <div class="col-6 py-4 " >
          <div class="row flex justify-content-start align-items-center ml-2">
            <span class="font-bold text-600 text-3xl">45</span>
          </div>
          <div class="row flex">
            <span class="text-lg text-600 font-medium ml-2 mr-3 ">Não sei</span>
            <div class="flex align-items-center">
              <span [class]="1 > 0? 'backGreen':'backRed'">
                <i [class]="1 > 0?
                  'pi pi-arrow-up-right text-xs font-bold text-green-500' : 'pi pi-arrow-down-right text-xs font-bold text-red-400'"
                ></i>
              </span>
              <span [class]="1 > 0?
                'font-medium text-sm text-green-500 ml-1' : 'font-medium text-sm text-red-400 ml-1'"
                >{{ calculaPorcentagem(200, 203) | percent: '1.1' }}
              </span>

            </div>
          </div>
        </div>

        <div class="col-6 flex justify-content-end align-items-center">
          <div class="absolute z-0 px-3">
            <i class="pi pi-shopping-cart text-8xl text-100"></i>
          </div>
          <div class="pt-2">
            <p-chart type="line"
            height="80"
            width="180"
            [responsive]="true"
            [data]="{
              labels: [ '', '', '', '','',''],
              datasets: [
                {
                  fill: false,
                  data: [35, 41, 37, 33, 39, 35],
                  borderColor: '#FF6259',
                  tension: 0.4
                }
              ],
            }"
            [options]="{
              maintainAspectRatio: false,
              aspectRatio: 3,
              name: false,
              plugins: {
                legend: {
                  display: false
                }
              },
              scales: {
                  x: {
                    display: false,
                    ticks: {
                        color: 'transparent',
                      },
                      grid: {
                        color: 'transparent',
                        drawBorder: false
                      }
                  },
                  y: {
                    display: false,
                      ticks: {
                        color: 'transparent',
                      },
                      grid: {
                        color: 'transparent',
                          drawBorder: false
                      }
                  }
              },
              elements: {
                point: {
                    radius:0
                },

              },
              layout: {
                padding: {
                left: 0,
                right: 0,
                top: 5,
                bottom: 5
              }
              }
            }"

            ></p-chart>
          </div>
        </div>
      </div>
    </div>
    <div class="md:col-11 lg:col-3 ">
      <div class="card box flex" >
        <div class="col-6 py-4 " >
          <div class="row flex justify-content-start align-items-center ml-2">
            <span class="font-bold text-600 text-3xl">45</span>
          </div>
          <div class="row flex">
            <span class="text-lg text-600 font-medium ml-2 mr-3 ">Não sei</span>
            <div class="flex align-items-center">
              <span [class]="1 > 0? 'backGreen':'backRed'">
                <i [class]="1 > 0?
                  'pi pi-arrow-up-right text-xs font-bold text-green-500' : 'pi pi-arrow-down-right text-xs font-bold text-red-400'"
                ></i>
              </span>
              <span [class]="1 > 0?
                'font-medium text-sm text-green-500 ml-1' : 'font-medium text-sm text-red-400 ml-1'"
                >{{ calculaPorcentagem(200, 203) | percent: '1.1' }}
              </span>

            </div>
          </div>
        </div>

        <div class="col-6 flex justify-content-end align-items-center">
          <div class="absolute z-0 px-3">
            <i class="pi pi-shopping-cart text-8xl text-100"></i>
          </div>
          <div class="pt-2">
            <p-chart type="line"
            height="80"
            width="180"
            [responsive]="true"
            [data]="{
              labels: [ '', '', '', '','',''],
              datasets: [
                {
                  fill: false,
                  data: [35, 41, 37, 33, 39, 35],
                  borderColor: '#FF6259',
                  tension: 0.4
                }
              ],
            }"
            [options]="{
              maintainAspectRatio: false,
              aspectRatio: 3,
              name: false,
              plugins: {
                legend: {
                  display: false
                }
              },
              scales: {
                  x: {
                    display: false,
                    ticks: {
                        color: 'transparent',
                      },
                      grid: {
                        color: 'transparent',
                        drawBorder: false
                      }
                  },
                  y: {
                    display: false,
                      ticks: {
                        color: 'transparent',
                      },
                      grid: {
                        color: 'transparent',
                          drawBorder: false
                      }
                  }
              },
              elements: {
                point: {
                    radius:0
                },

              },
              layout: {
                padding: {
                left: 0,
                right: 0,
                top: 5,
                bottom: 5
              }
              }
            }"

            ></p-chart>
          </div>
        </div>
      </div>
    </div>
    <div class="md:col-11 lg:col-3 ">
      <div class="card box flex" >
        <div class="col-6 py-4 " >
          <div class="row flex justify-content-start align-items-center ml-2">
            <span class="font-bold text-600 text-3xl">45</span>
          </div>
          <div class="row flex">
            <span class="text-lg text-600 font-medium ml-2 mr-3 ">Não sei</span>
            <div class="flex align-items-center">
              <span [class]="1 > 0? 'backGreen':'backRed'">
                <i [class]="1 > 0?
                  'pi pi-arrow-up-right text-xs font-bold text-green-500' : 'pi pi-arrow-down-right text-xs font-bold text-red-400'"
                ></i>
              </span>
              <span [class]="1 > 0?
                'font-medium text-sm text-green-500 ml-1' : 'font-medium text-sm text-red-400 ml-1'"
                >{{ calculaPorcentagem(200, 203) | percent: '1.1' }}
              </span>

            </div>
          </div>
        </div>

        <div class="col-6 flex justify-content-end align-items-center">
          <div class="absolute z-0 px-3">
            <i class="pi pi-shopping-cart text-8xl text-100"></i>
          </div>
          <div class="pt-2">
            <p-chart type="line"
            height="80"
            width="180"
            [responsive]="true"
            [data]="{
              labels: [ '', '', '', '','',''],
              datasets: [
                {
                  fill: false,
                  data: [35, 41, 37, 33, 39, 35],
                  borderColor: '#FF6259',
                  tension: 0.4
                }
              ],
            }"
            [options]="{
              maintainAspectRatio: false,
              aspectRatio: 3,
              name: false,
              plugins: {
                legend: {
                  display: false
                }
              },
              scales: {
                  x: {
                    display: false,
                    ticks: {
                        color: 'transparent',
                      },
                      grid: {
                        color: 'transparent',
                        drawBorder: false
                      }
                  },
                  y: {
                    display: false,
                      ticks: {
                        color: 'transparent',
                      },
                      grid: {
                        color: 'transparent',
                          drawBorder: false
                      }
                  }
              },
              elements: {
                point: {
                    radius:0
                },

              },
              layout: {
                padding: {
                left: 0,
                right: 0,
                top: 5,
                bottom: 5
              }
              }
            }"

            ></p-chart>
          </div>
        </div>
      </div>
    </div>

  </div>
  <!-- <div class="card box p-3"  [style]="{'height': '57vh', 'width': '100%'}"> -->
  <div class="lg:flex" >
    <div class="row lg:flex">

      <div class="md:col-12 lg:col-3 web">
        <div class="row lg:flex lg:justify-content-around m-2">

          <div class="card box p-3" >
            <p-chart type="line" [data]="dataGrafic2" [options]="options2" width="410" height="300"></p-chart>
          </div>
        </div>
        <div class="row lg:flex justify-content-around m-2">

          <div class="card box p-3" >
            <p-chart type="line" [data]="dataGrafic2" [options]="options2" width="410" height="300"></p-chart>
          </div>
        </div>
          <div class="row lg:flex justify-content-around m-2">
            <div class="card box p-3 lg:flex justify-content-center align-items-center" >
              <p-chart type="doughnut" [data]="dataGrafic1" [options]="options1" width="410" height="330"></p-chart>
            </div>
          </div>

      </div>
      <div class="mobile">
        <h2 class=" flex justify-content-center ">Consultas</h2>
      </div>

      <div class="md:col-12 lg:col-9">
        <div class="row lg:flex lg:align-items-center ">
            <!-- <div class="card box p-5" [style]="{'height': 'auto', 'width': '100%'}"> -->
            <div class="card box md:p-3 lg:p-5 ">
              <div class="flex justify-content-between m-3 ">
                <span class="p-float-label p-input-icon-left ">
                  <i class="pi pi-search azul" ></i>
                  <input pInputText id="search"  class="search"/>
                  <label for="search" class="azul">Buscar Consulta...</label>
                </span>
                <button pButton type="button" label="Nova Consulta" styleClass="linear-gradient"  icon="pi pi-plus" (click)="newConsulta()" class="web"></button>
                <p-button icon="pi pi-plus" [rounded]="true"   class="mobile" [style]="{'background': '#2070b4'}" (click)="newConsulta()"></p-button>

              </div>

              <p-table
                #productsTable
                [value]="data.consultas"
                [rows]="10"
                [paginator]="true"
                [responsive]="true"
                [globalFilterFields]="['nome', 'dataConsulta']"
                [tableStyle]="{ 'min-width': '70rem' }"
                [rowHover]="true"
                [showCurrentPageReport]="true"
                dataKey="id"
                currentPageReportTemplate="{first} de {last} de {totalRecords}"
              >
                <ng-template pTemplate="header">
                  <tr>
                    <th pSortableColumn="nome" [width]="420">
                      <div class="flex row align-items-center">
                        <div class="col-8 flex justify-content-start align-items-center">
                          Paciente
                        </div>
                        <div class="col-4 flex justify-content-end align-items-center">
                          <p-sortIcon
                            field="nome"
                            pTooltip="Ordenar"
                            tooltipPosition="top"
                          ></p-sortIcon>
                          <p-columnFilter
                            type="text"
                            field="nome"
                            display="menu"
                            pTooltip="Filtrar"
                            tooltipPosition="top"
                          ></p-columnFilter>
                        </div>
                      </div>
                    </th>
                    <th pSortableColumn="dataConsulta" [width]="250">
                      <div class="flex row align-items-center">
                        <div class="col-8 flex justify-content-start align-items-center">
                          Data
                        </div>
                        <div class="col-4 flex justify-content-end align-items-center">
                          <p-sortIcon
                            field="dataConsulta"
                            pTooltip="Ordenar"
                            tooltipPosition="top"
                          ></p-sortIcon>
                          <p-columnFilter
                          type="date"
                          field="dataConsulta"
                          dateFormat="dd/mm/yyyy"
                          display="menu"
                          pTooltip="Filtrar"
                          tooltipPosition="top"
                          ></p-columnFilter>
                        </div>
                      </div>
                    </th>
                    <th pSortableColumn="horaConsulta" [width]="200">
                      <div class="flex row align-items-center">
                        <div class="col-8 flex justify-content-start align-items-center ">
                          Hora
                        </div>
                        <div class="col-4 flex justify-content-end align-items-center ">
                          <p-sortIcon
                            field="horaConsulta"
                            pTooltip="Ordenar"
                            tooltipPosition="top"
                            ></p-sortIcon>

                          <p-columnFilter
                          type="date"
                          field="horaConsulta"
                          timeFormat="HH:mm"
                          display="menu"
                          pTooltip="Filtrar"
                          tooltipPosition="top"
                          ></p-columnFilter>
                        </div>
                      </div>
                    </th>

                    <th pSortableColumn="pagamento" [width]="200">
                      <div class="flex row align-items-center">
                        <div class="col-8 flex justify-content-start align-items-center ">
                          Status
                        </div>
                        <div class="col-4 flex justify-content-end align-items-center ">
                          <p-columnFilter
                            type="text"
                            field="pagamento"
                            display="menu"
                            matchMode="contains"
                            [showMatchModes]="false"
                            [showOperator]="false"
                            [showAddButton]="false"
                            pTooltip="Filtrar"
                            tooltipPosition="top"
                          ></p-columnFilter>
                        </div>
                      </div>
                    </th>
                    <th >
                      <p-button icon="pi pi-file-excel" [rounded]="true" [text]="true" severity="success " pTooltip="Exportar para Excel" tooltipPosition="top"></p-button>
                    </th>
                </ng-template>

                <ng-template pTemplate="body" let-consulta>
                  <tr >
                    <td>{{ consulta?.paciente.nome }}</td>
                    <td>{{ consulta?.dataConsulta | date: 'dd/MM/yyyy' }}</td>
                    <td>{{ consulta?.dataConsulta | date: 'HH:mm' }}</td>
                    <td>
                        @if(!consulta.dataHoraInicioAtendimento && !consulta.dataHoraFimAtendimento &&  !consulta.ausente){
                            <p-tag severity="warning" value="&nbsp;Agendada&nbsp;" [rounded]="true"><i class="material-icons" >schedule</i></p-tag>
                          }
                        @else if (consulta.dataHoraInicioAtendimento && !consulta.dataHoraFimAtendimento) {
                          <p-tag severity="primary" value="&nbsp;Em Atendimento&nbsp;" [rounded]="true"><i class="material-icons" >timelapse</i></p-tag>
                          }
                        @else if (consulta.dataHoraInicioAtendimento && consulta.dataHoraFimAtendimento)
                          {
                            <p-tag severity="success" value="&nbsp;Atendido&nbsp;" [rounded]="true"><i class="material-icons" >task_alt</i></p-tag>
                          }
                        @else if (!consulta.dataHoraInicioAtendimento && !consulta.dataHoraFimAtendimento && consulta.ausente)
                          {
                            <p-tag severity="danger" value="&nbsp;Ausente&nbsp;" [rounded]="true"><i class="material-icons" >person_off</i></p-tag>
                          }
                    </td>
                    <td [width]="230">
                      <div class="flex justify-content-around">
                        <p-button
                          icon="pi pi-pw pi-play"
                          [rounded]="true"
                          [outlined]="true"
                          [severity]="'warning'"
                          [disabled]="consulta?.dataHoraInicioAtendimento || consulta?.ausente"
                          pTooltip="Iniciar Consulta"
                          tooltipPosition="top"
                          (click)="inicioConsulta(consulta)"
                          >
                        </p-button>
                        <p-button
                          icon="pi pi-pw pi-info-circle"
                          [rounded]="true"
                          [outlined]="true"
                          severity="info"
                          pTooltip="Informações"
                          tooltipPosition="top"
                          (click)="consultaSelecionadaInfo(consulta?.id, 1)"
                          >
                        </p-button>
                      </div>
                    </td>
                  </tr>
                </ng-template>
                <ng-template pTemplate="emptymessage">
                  <tr >
                      <td colspan="5">Não foram encontrado dados</td>
                  </tr>
                </ng-template>
              </p-table>
            </div>
        </div>
      </div>
    </div>
  </div>

</div>

<p-dialog header='Nova Consulta' [(visible)]="visible" [modal]="true" [style]="{ width: '40vw', height: 'auto' }" class="box web" [draggable]="false" [resizable]="false" [closable]="false">
  <ng-template pTemplate="content">
    <app-consulta-nova [dentistaSelecionado]="data.id" (closeModal)="closeModal($event)" (onlyClose)="onlyClose($event)"></app-consulta-nova>
  </ng-template>
</p-dialog>

<p-dialog header='Detalhes da Consulta' [(visible)]="infoConsulta" [modal]="true" [style]="{ width: '70vw',  height: '84vh' }" [draggable]="false" [resizable]="false" [closable]="true">
  @if (consultaSelecionada) {
    <p>O objeto esta preechido</p>
  }@else {
    <p>O objeto nao esta preenchido</p>
  }
  <ng-template pTemplate="content" *ngIf="consultaSelecionada" >

    <app-consulta-info [consultaSelecionada]="consultaSelecionada" (reloading)="reloading($event)" (closeModal)="closeInfo($event)"></app-consulta-info>
  </ng-template>
</p-dialog>
