.profileImg {
  border-radius: 50%;  /* Torna a imagem redonda */
  width: 100%;        /* Faz a imagem ocupar 100% da largura do contêiner pai */
  height: auto;       /* Mantém a proporção da imagem enquanto redimensiona */
  max-width: 180px;   /* Define a largura máxima da imagem */
}

.divProfileImg{
  width: 100%;
  height: 5vh;
}

ul {
  list-style-type: none;
  padding: 0;
  overflow: hidden;
}

li {
  float: left;
  margin-inline: 10px;
  padding: 0.25rem;
}

.dNome{
  font-size: xx-large;
  font-weight: 500;
}
.search{
  color: #2070b4;
  border-color:  #2070b4;
  width: 18vw;
  border-radius: 50px;
}

.box{
  background: #FFFFFF;
  border-radius: 15px ;
  border: 1px solid #c4ddf3;
  box-shadow: rgba(228, 238, 250, 1) 0px 10px 20px, rgba(228, 238, 250, 1) 0px 6px 6px;

}
.cardTitulo{
  color:#303030;
  font-weight: 700;
  font-size:medium;
}
.cardValor{
  color:#303030;
  font-weight: 700;
  font-size: xx-large;
  margin-top: 1rem;
}
.cardPorc{
  color:red;
  font-weight: 500;
  font-size: medium;
}
.cardPorcVerd{
  color:#159D47;
  font-weight: 500;
  font-size: medium;
}

button{
  background: linear-gradient(to right, #2070b4, #24aae3);
  font-size: 0.9rem;
  width: 10vw;
  border-radius: 50px;
  border:none;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15), 0 6px 6px rgba(0, 0, 0, 0.12);
}

button:hover{
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2), 0 8px 8px rgba(0, 0, 0, 0.16);
}

.backGreen{
  display: flex;
  width: 1.1vw;
  height: 2.3vh;
  border-radius: 50%;
  background-color: rgba(34, 197, 94, 0.14);
  justify-content: center;
  align-items: center;
  color: #324352
}

.backRed{
  display: flex;
  width: 1.1vw;
  height: 2.3vh;
  border-radius: 50%;
  background-color: rgba(255, 61, 50, 0.14);
  justify-content: center;
  align-items: center;
}
.dentistaConsultas {
  width: 80vw; /* Definir a largura para 100% do seu contêiner */
  height: auto; /* Ajustar a altura automaticamente com base na largura */
}

.mobile{
  display: none;
}

.web{
  display: block;
}


@media only screen and (max-width: 767px) {
  .p-chart {
    width: 200; /* Definir a largura para 100% em dispositivos móveis */
    height: auto; /* Ajustar a altura automaticamente com base na largura */
  }

  ul {
    list-style-type: none;
    padding: 0;
    overflow: hidden;
  }

  li {
    float: center;
    margin-inline: 10px;
    padding: 0.25rem;
  }
  .web{
    display: none;
  }
  .search{
    width: 55vw;
  }

  .mobile{
    display: block;
  }


}
