<div class="new p-component px-5">

  <div class="flex justify-content-between my-2">

      <div class="flex justify-content-start align-items-center">
        <p-tag severity="info" icon="pi pi-bolt" class="azul mr-2" [rounded]="true" *ngIf="consultaSelecionada.nomePaciente" [style]="{'font-size': '13px', 'font-weight': '400', 'padding-top':'7px', 'padding-bottom':'7px', 'padding-left':'8px'}"/>

        @if(consultaSelecionada.status == 1){
          <p-tag value="&nbsp;Aguardando" [rounded]="true" [style]="{'font-size': '13px', 'font-weight': '400', 'background-color': '#e3e6e5', 'color':'#4a4c54'}"><i class="material-icons" [style]="{'font-size': '15px'}" >schedule</i></p-tag> 
        } @else if (consultaSelecionada.status == 2) {
          <p-tag value="&nbsp;Confirmado" [rounded]="true" [style]="{'font-size': '13px', 'font-weight': '400', 'background-color': '#e8d5ff', 'color':'#8026d9'}"><i class="material-icons" [style]="{'font-size': '15px'}" >done_all</i></p-tag>
        }@else if (consultaSelecionada.status == 3) {
          <p-tag icon="pi pi-calendar-clock" severity="warning" value="Agendada" [rounded]="true" [style]="{'font-size': '13px', 'font-weight': '400'}"></p-tag>
        }@else if (consultaSelecionada.status == 4) {
          <p-tag  value="&nbsp;Em Atendimento" [rounded]="true" [style]="{'font-size': '13px', 'font-weight': '400'}"><i class="material-icons" [style]="{'font-size': '15px'}" >timelapse</i></p-tag>
        }@else if(consultaSelecionada.status == 5){
          <p-tag icon="pi pi-check-circle" severity="success" value="Atendido" [rounded]="true" [style]="{'font-size': '13px', 'font-weight': '400'}"></p-tag>
        }@else if (consultaSelecionada.status == 6) {
          <p-tag severity="danger" value="&nbsp;Ausente" [rounded]="true" [style]="{'font-size': '13px', 'font-weight': '400'}"><i class="material-icons" [style]="{'font-size': '15px'}" >person_off</i></p-tag>
        }
      </div>

      <div class="col-4 flex align-items-center justify-content-between ">
          <p-button
            icon="pi pi-pw pi-play"
            [rounded]="true"
            [text]="true"
            pTooltip="Iniciar"
            tooltipPosition="top"
            *ngIf="!loading.iniciar"
            [disabled]="consultaSelecionada.dataHoraInicioAtendimento !== null || consultaSelecionada.ausente === true"
            (onClick)="iniciarConsulta()"
            [style]="{'color': '#e9500d'}"
            [style.--cor-fundo]="'#ffebd5'"
            [style.--cor-fundo-hover]="'#ffdbbc'"
            class="btnAcao border-circle"
          ></p-button>

          <p-button
            icon="pi pi-spin pi-spinner"
            [rounded]="true"
            [text]="true"
            pTooltip="Iniciando..."
            tooltipPosition="top"
            *ngIf="loading.iniciar"
            [style]="{'color': '#e9500d'}"
            [style.--cor-fundo]="'#ffebd5'"
            [style.--cor-fundo-hover]="'#ffdbbc'"
            class="btnAcao border-circle"
          ></p-button>

          <p-button
            icon="pi pi-pw pi-check-circle"
            [rounded]="true"
            [text]="true"
            pTooltip="Finalizar"
            tooltipPosition="top"
            *ngIf="!loading.finalizar"
            [disabled]="!(consultaSelecionada.dataHoraInicioAtendimento !== null && consultaSelecionada.dataHoraFimAtendimento === null) || consultaSelecionada.ausente === true"
            (onClick)="finalizarConsulta()"
            [style]="{'color': '#1DA750'}"
            [style.--cor-fundo]="'#ddfbe7'"
            [style.--cor-fundo-hover]="'#cef9d9'"
            class="btnAcao border-circle"
          ></p-button>

          <p-button
            icon="pi pi-spin pi-spinner"
            [rounded]="true"
            [text]="true"
            pTooltip="Finalizando..."
            tooltipPosition="top"
            *ngIf="loading.finalizar"
            [style]="{'color': '#1DA750'}"
            [style.--cor-fundo]="'#ddfbe7'"
            [style.--cor-fundo-hover]="'#cef9d9'"
            class="btnAcao border-circle"
          ></p-button>

          <p-button
            icon="pi pi-pw pi-save"
            [rounded]="true"
            [text]="true"
            pTooltip="Salvar"
            tooltipPosition="top"
            [disabled]="(consultaSelecionada.dataHoraInicioAtendimento !== null) || consultaSelecionada.ausente === true"
            (onClick)="this.loading.editar = !this.loading.editar"
            *ngIf="this.loading.editar"
            [style]="{'color': '#2570eb'}"
            [style.--cor-fundo]="'#dbecfe'"
            [style.--cor-fundo-hover]="'#cde6fe'"
            class="btnAcao border-circle"
          ></p-button>

          <p-button
            icon="pi pi-pw pi-pencil"
            [rounded]="true"
            [text]="true"
            pTooltip="Editar"
            tooltipPosition="top"
            [disabled]="(consultaSelecionada.dataHoraInicioAtendimento !== null) || consultaSelecionada.ausente === true"
            (onClick)="preparaEdicao()"
            *ngIf="!this.loading.editar"
            [style]="{'color': '#2570eb'}"
            [style.--cor-fundo]="'#dbecfe'"
            [style.--cor-fundo-hover]="'#cde6fe'"
            class="btnAcao border-circle"
          ></p-button>

          <p-button
            icon="pi pi-pw pi-user-minus"
            [rounded]="true"
            [text]="true"
            pTooltip="Ausentar"
            tooltipPosition="top"
            [disabled]="(consultaSelecionada.dataHoraInicioAtendimento !== null && consultaSelecionada.dataHoraFimAtendimento === null) || (consultaSelecionada.dataHoraInicioAtendimento !== null && consultaSelecionada.dataHoraFimAtendimento !== null)"
            *ngIf="!consultaSelecionada.ausente && !loading.ausentar"
            (onClick)="ausentarPaciente()"
            [style]="{'color': '#cb7c14'}"
            [style.--cor-fundo]="'#faf3cb'"
            [style.--cor-fundo-hover]="'#f8eeb2'"
            class="btnAcao border-circle"
          ></p-button>

          <p-button
            icon="pi pi-spin pi-spinner"
            [rounded]="true"
            [text]="true"
            pTooltip="Deletar"
            tooltipPosition="top"
            *ngIf="loading.ausentar"
            [style]="{'color': '#cb7c14'}"
            [style.--cor-fundo]="'#faf3cb'"
            [style.--cor-fundo-hover]="'#f8eeb2'"
            class="btnAcao border-circle"
          ></p-button>

          <p-button
            icon="pi pi-pw pi-user-plus"
            [rounded]="true"
            [text]="true"
            pTooltip="Presença do Paciente"
            tooltipPosition="top"
            (onClick)="presencaPaciente()"
            *ngIf="consultaSelecionada.ausente"
            [style]="{'color': '#1DA750'}"
            [style.--cor-fundo]="'#ddfbe7'"
            [style.--cor-fundo-hover]="'#cef9d9'"
            class="btnAcao border-circle"
          ></p-button>

          <p-button
            icon="pi pi-pw pi-trash"
            [rounded]="true"
            [text]="true"
            pTooltip="Deletar"
            tooltipPosition="top"
            (onClick)="deletarConsulta()"
            [disabled]="consultaSelecionada.dataHoraInicioAtendimento !== null || consultaSelecionada.ausente === true || consultaSelecionada.pagamento.pago === true"
            [style]="{'color': '#ed2115'}"
            [style.--cor-fundo]="'#ffe1df'"
            [style.--cor-fundo-hover]="'#ffd4d2'"
            class="btnAcao border-circle"
          ></p-button>

          <p-button
            icon="pi pi-pw pi-times"
            [rounded]="true"
            [text]="true"
            pTooltip="Fechar"
            tooltipPosition="top"
            (onClick)="fecharJanela()"
            [style]="{'color': '#5b616e'}"
            [style.--cor-fundo]="'#edeef1'"
            [style.--cor-fundo-hover]="'#e3e6e5'"
            class="btnAcao border-circle"
          ></p-button>
      </div>


  </div>
  <p-divider layout="horizontal" [style]="{'margin': '0'}" ></p-divider>


    <div class=" mt-4">
      <div class="row flex">
        <div class="col-2 flex justify-content-center">
          <p-image
            src="https://primefaces.org/cdn/primeng/images/galleria/galleria10.jpg"
            alt="Image"
            width="120"
            class="border-round-2xl"
          />
        </div>
        <div class="col-10 flex">
          <div class="col-12  mt-2" *ngIf="consultaSelecionada.paciente">
            <div>
              <span class="flex justify-content-start text-2xl font-bold" >
                {{ consultaSelecionada.paciente.nome }}
              </span>
            </div>
            <div class="flex mt-4">
              <div class="flex mx-3">
                <span class="font-semibold">
                  <i class="pi pi-folder-open azul"></i>&nbsp;Pasta:&nbsp;
                </span>
                <span>{{ consultaSelecionada.paciente.numPasta }}</span>
              </div>
              <div class="flex mx-3">                
                <span class="font-semibold">
                  <i class="pi pi-calendar azul"></i>&nbsp;Idade:&nbsp;
                </span>
                <span>{{ calcularIdade(consultaSelecionada.paciente.dataNascimento) }}</span>
              </div>
            </div>
          </div>
          <div class="col-12  mt-2" *ngIf="!consultaSelecionada.paciente">
            <div>
              <span class="flex justify-content-start text-2xl font-bold" >
                {{ consultaSelecionada.nomePaciente }}
              </span>
            </div>
            <div class="flex mt-4">
              <div class="flex mx-3">
                <span class="font-semibold">
                  <i class="pi pi-phone azul"></i>&nbsp;Telefone:&nbsp;
                </span>
                <span>{{ consultaSelecionada.telefone }}</span>
              </div>
            </div>
          </div>

          <!-- <div class="col-6 flex justify-content-start align-items-center" *ngIf="!consultaSelecionada.paciente">
            <span class="flex justify-content-center text-2xl font-bold" >
              {{ consultaSelecionada.nomePaciente }}
            </span>
          </div>

          <div class="col-3 flex justify-content-center" *ngIf="!consultaSelecionada.paciente">
            <div>
              <span class="font-bold text-lg flex justify-content-center m-2">
                <i class="pi pi-phone azul"></i>&nbsp;&nbsp;
                Telefone
              </span>
              <span class="flex justify-content-center" >
                {{ consultaSelecionada.telefone }}
              </span>
            </div>
          </div>

          <div class="col-3 flex justify-content-center" *ngIf="!consultaSelecionada.paciente">
            <div>
              <span class="font-bold text-lg flex justify-content-center m-2">
                <i class="pi pi-phone azul"></i>&nbsp;&nbsp;
                Consulta Rápida
              </span>
              <span class="flex justify-content-center" >
                {{ consultaSelecionada.telefone }}
              </span>
            </div>
          </div> -->

          

        </div>
      </div>

      <div class="row flex mt-2">
        <div class="col-4 flex justify-content-center bg-blue-200">
          <div>
            <span class="font-bold text-lg flex justify-content-center m-2">
              <i class="pi pi-user azul"></i>&nbsp;&nbsp;
              Dentista
            </span>
            <span class="flex justify-content-center" >
              {{consultaSelecionada.dentista.nome}}
            </span>
          </div>
        </div>
        <div class="col-3 flex justify-content-center bg-blue-300">
          <div>
            <span class="font-bold text-lg flex justify-content-center m-2">
              <i class="pi pi-calendar azul"></i>&nbsp;&nbsp;
              Data
            </span>
            <span class="flex justify-content-center" >
              <div *ngIf="!loading.editar">
                {{consultaSelecionada.dataConsulta | date: "dd/MM/yyyy"}}
              </div>

              <div class="field" *ngIf="loading.editar">
                <span class="p-float-label p-float-icon-left ">
                  <p-calendar
                    [iconDisplay]="'input'"
                    [showIcon]="true"
                    inputId="dataConsulta"
                    [showTime]="false"
                    formControlName="dataConsulta"
                    [style]="{ 'width': '11vw' }"
                    dateFormat="dd/mm/yy"
                  ></p-calendar>
                </span>
              </div>
            </span>
          </div>
        </div>
      </div>
      <div class="row">

        <form [formGroup]="formularioEditar" (ngSubmit)="salvarEdicao()">
        <div class="row flex justify-content-around mt-5" [style]="{'height':'6vh'}" >
            <div class="col-5 flex justify-content-start ">
              <span class="font-bold text-lg"><i class="pi pi-user azul"></i>&nbsp;&nbsp;Dentista:&nbsp;</span> {{consultaSelecionada.dentista.nome}}
              <!-- <div>
                <h4 class="flex justify-content-center text-lg ">Dentista</h4>
                <span class="azul text-lg "><i class="pi pi-user azul"></i>&nbsp;&nbsp;{{consultaSelecionada.dentista.nome}}</span>
              </div> -->
            </div>

            <div class="col-2 flex justify-content-start">

                <div>
                  <!-- <h4 class="flex justify-content-center text-lg ">Data</h4> -->
                  @if(!loading.editar){
                    <span class="font-bold text-lg"><i class="pi pi-calendar azul"></i>&nbsp;&nbsp;Data:&nbsp;</span> {{consultaSelecionada.dataConsulta | date: "dd/MM/yyyy"}}
                    <!-- <span class="azul text-lg "><i class="pi pi-calendar azul"></i>&nbsp;&nbsp;{{consultaSelecionada.dataConsulta | date: "dd/MM/yyyy"}}</span> -->
                  }@else {
                    <div class="field ">
                      <span class="p-float-label p-float-icon-left ">
                        <p-calendar
                          [iconDisplay]="'input'"
                          [showIcon]="true"
                          inputId="dataConsulta"
                          [showTime]="false"
                          [[(ngModel)]="formularioEditar.get('dataConsulta')?.value"
                          [style]="{'width': '8vw', 'height':'4vh'}"
                          dateFormat="dd/mm/yy"
                          ></p-calendar>
                      </span>
                    </div>
                  }

                </div>
            </div>

            <div class="col-2 flex justify-content-center">
                <div>
                  <!-- <h4 class="flex justify-content-center text-lg ">Inicio</h4> -->
                  @if(!loading.editar){
                    <span class="font-bold text-lg"><i class="pi pi-clock azul"></i>&nbsp;&nbsp;Inicio:&nbsp;</span> {{consultaSelecionada.dataConsulta | date: "HH:mm"}}
                    <!-- <span class="azul text-lg "><i class="pi pi-clock azul"></i>&nbsp;&nbsp;{{consultaSelecionada.dataConsulta | date: "HH:mm"}}</span> -->
                  }@else {
                    <div class="field">
                      <span class="p-float-label p-input-icon-right ">
                        <i class="pi pi-clock azul"></i>
                        <p-inputMask mask="99:99" [style]="{'width': '6vw', 'height':'4vh'}" formControlName="horaConsulta"></p-inputMask>

                      </span>
                    </div>
                  }
                </div>
            </div>

            <div class="col-2 flex justify-content-start ">
              <div *ngIf="!loading.editar">
                  <!-- <h4 class="flex justify-content-center text-lg ">Fim</h4> -->
                    <!-- <span class="azul text-lg "><i class="pi pi-clock azul"></i>&nbsp;&nbsp;{{consultaSelecionada.dataConsultaReserva | date: "HH:mm"}}</span> -->
                  <span class="font-bold text-lg"><i class="pi pi-clock azul"></i>&nbsp;&nbsp;Fim:&nbsp;</span> {{consultaSelecionada.dataConsultaReserva | date: "HH:mm"}}
              </div>
              <div *ngIf="loading.editar">
                <p-button label="Reagendar" type="sumit" icon="pi pi-save" [rounded]="true" [outlined]="true" severity="info" [style]="{'height':'4vh'}"></p-button>
              </div>
            </div>

            <div class="col-1 ">

            </div>

        </div>
        </form>

        <div class="row flex justify-content-center mt-5 ">
          <div class="col-5 flex justify-content-start ">
            <span class="font-bold text-lg"><i class="pi pi-tag azul"></i>&nbsp;&nbsp;Tipo de Consulta:&nbsp;</span> {{consultaSelecionada.consultaEspecialidade.tipo}}
            <!-- <div>
              <h4 class="flex justify-content-center text-lg ">Tipo de Consulta</h4>
              <span class="azul text-lg "><i class="pi pi-tag azul"></i>&nbsp;&nbsp;{{consultaSelecionada.consultaEspecialidade.tipo}}</span>
            </div> -->

          </div>
            <div class="col-7">
            <!--<div class="flex justify-content-center">
              <div class="row">
                <h4 class="text-lg flex justify-content-center align-items-center"><i class="pi pi-pw pi-align-left azul"></i>&nbsp;&nbsp;Observação</h4>
                  <textarea  id="float-input" rows="2" cols="70" pInputTextarea [(ngModel)]="consultaSelecionada.observacao" class="azul" disabled></textarea>
              </div>
            </div>-->
          </div>
        </div>
        <div class="row flex justify-content-center align-items-center mt-5 mb-2">
          <span class="font-bold text-lg"><i class="pi pi-align-left font-medium azul"></i>&nbsp;&nbsp;Observação&nbsp;&nbsp;</span>
          <textarea  id="float-input" rows="2" cols="70" [autoResize]="true" pInputTextarea [ngModel]="consultaSelecionada.observacao" readonly></textarea>
        </div>

      </div>
    </div>

    <p-divider layout="horizontal"></p-divider>

    <form [formGroup]="formularioProcedimentos" (ngSubmit)="salvarProcedimentos()" >
      <div class="row flex justify-content-center  mb-6">
        <div class="col p-fluid">

          <span class=" text-lg flex justify-content-center align-items-center mb-3 font-bold"><i class="pi pi-pw pi-list azul"></i>&nbsp;&nbsp;Procedimentos</span>

          <p-chips
            [separator]="separatorExp"
            placeholder="Digite os procedimentos realizados na consulta"
            class="azul"
            formControlName="procedimentos"
          ></p-chips>

        </div>
        <div class="flex justify-content-around align-items-center pt-5" [style]="{'width':'120px'}">
          <p-button
            icon="pi pi-pw pi-pencil"
            [rounded]="true"
            [text]="true"
            pTooltip="Editar"
            [style]="{'color': '#3B82F6', 'background-color':'#dbe8fe'}"
            tooltipPosition="top"

            class=" border-circle"
          ></p-button>
          <p-button
            type="submit"
            icon="pi pi-pw pi-save"
            [rounded]="true"
            [text]="true"
            pTooltip="Salvar"
            [style]="{'color': '#1DA750', 'background-color':'#ddfbe7'}"
            tooltipPosition="top"
            [disabled]="!(consultaSelecionada.dataHoraInicioAtendimento !== null && consultaSelecionada.dataHoraFimAtendimento === null) || consultaSelecionada.ausente === true"
            class=" border-circle"

          ></p-button>
          <!-- <p-button label="Salvar e Finalizar" icon="pi " [rounded]="true" [outlined]="true" severity="success" type="submit"

          ><i class="material-icons">task_alt</i></p-button> -->
        </div>
      </div>
    </form>
</div>


