<div class="new p-component px-5">

  <div class="flex justify-content-between mt-2 mb-1">

      <div class="flex justify-content-start align-items-center">
        <p-tag severity="info" icon="pi pi-bolt" class="azul mr-2" [rounded]="true" *ngIf="consultaSelecionada.nomePaciente" [style]="{'font-size': '13px', 'font-weight': '400', 'padding-top':'7px', 'padding-bottom':'7px', 'padding-left':'8px'}"/>

        @if(consultaSelecionada.status == 1){
          <p-tag value="&nbsp;Aguardando" [rounded]="true" [style]="{'font-size': '13px', 'font-weight': '400', 'background-color': '#e3e6e5', 'color':'#4a4c54'}"><i class="material-icons" [style]="{'font-size': '15px'}" >schedule</i></p-tag>
        } @else if (consultaSelecionada.status == 2) {
          <p-tag value="&nbsp;Confirmado" [rounded]="true" [style]="{'font-size': '13px', 'font-weight': '400', 'background-color': '#e8d5ff', 'color':'#8026d9'}"><i class="material-icons" [style]="{'font-size': '15px'}" >done_all</i></p-tag>
        }@else if (consultaSelecionada.status == 3) {
          <p-tag icon="pi pi-calendar-clock" severity="warning" value="Agendada" [rounded]="true" [style]="{'font-size': '13px', 'font-weight': '400'}"></p-tag>
        }@else if (consultaSelecionada.status == 4) {
          <p-tag  value="&nbsp;Em Atendimento" [rounded]="true" [style]="{'font-size': '13px', 'font-weight': '400'}"><i class="material-icons" [style]="{'font-size': '15px'}" >timelapse</i></p-tag>
        }@else if(consultaSelecionada.status == 5){
          <p-tag icon="pi pi-check-circle" severity="success" value="Atendido" [rounded]="true" [style]="{'font-size': '13px', 'font-weight': '400'}"></p-tag>
        }@else if (consultaSelecionada.status == 6) {
          <p-tag severity="danger" value="&nbsp;Ausente" [rounded]="true" [style]="{'font-size': '13px', 'font-weight': '400'}"><i class="material-icons" [style]="{'font-size': '15px'}" >person_off</i></p-tag>
        }
      </div>

      <div class="col-4 flex align-items-center justify-content-between ">
        <p-button
          icon="pi"
          [rounded]="true"
          [text]="true"
          pTooltip="Confirmar"
          tooltipPosition="top"
          *ngIf="consultaSelecionada.status == 3"
          (onClick)="alteraStatusConsulta(2)"
          [style]="{'color': '#8026d9'}"
          [style.--cor-fundo]="'#f2e8ff'"
          [style.--cor-fundo-hover]="'#e8d5ff'"
          class="btnAcao border-circle"
        >
          <i class="material-icons" *ngIf="!loading.status" [style]="{'font-size': '18px'}">done_all</i>
          <i class="pi pi-spin pi-spinner" *ngIf="loading.status"></i>
        </p-button>
        <p-button
          icon="pi"
          [rounded]="true"
          [text]="true"
          pTooltip="Aguardando"
          tooltipPosition="top"
          *ngIf="consultaSelecionada.status == 2"
          (onClick)="alteraStatusConsulta(1)"
          [style]="{'color': '#4a4c54'}"
          [style.--cor-fundo]="'#e3e6e5'"
          [style.--cor-fundo-hover]="'#cdcfd4'"
          class="btnAcao border-circle"
        >
        <i class="material-icons" *ngIf="!loading.status" [style]="{'font-size': '18px'}">schedule</i>
        <i class="pi pi-spin pi-spinner" *ngIf="loading.status"></i>
        </p-button>

          <p-button
            [icon]="loading.status?'pi pi-spin pi-spinner':'pi pi-pw pi-play'"
            [rounded]="true"
            [text]="true"
            pTooltip="Iniciar"
            tooltipPosition="top"
            *ngIf="consultaSelecionada.status == 1"
            (onClick)="alteraStatusConsulta(4)"
            [style]="{'color': '#e9500d'}"
            [style.--cor-fundo]="'#ffebd5'"
            [style.--cor-fundo-hover]="'#ffdbbc'"
            class="btnAcao border-circle"
          ></p-button>


          <p-button
            [icon]="loading.status?'pi pi-spin pi-spinner':'pi pi-pw pi-check-circle'"
            [rounded]="true"
            [text]="true"
            pTooltip="Finalizar"
            tooltipPosition="top"
            *ngIf="(consultaSelecionada.status == 4) || (consultaSelecionada.status == 5)"
            [disabled]="consultaSelecionada.status == 5"
            (onClick)="alteraStatusConsulta(5)"
            [style]="{'color': '#1DA750'}"
            [style.--cor-fundo]="'#ddfbe7'"
            [style.--cor-fundo-hover]="'#cef9d9'"
            class="btnAcao border-circle"
          ></p-button>

          <p-button
            icon="pi pi-pw pi-save"
            [rounded]="true"
            [text]="true"
            pTooltip="Salvar"
            tooltipPosition="top"
            (onClick)="this.loading.editar = !this.loading.editar"
            *ngIf="this.loading.editar"
            [style]="{'color': '#1DA750'}"
            [style.--cor-fundo]="'#ddfbe7'"
            [style.--cor-fundo-hover]="'#cef9d9'"
            class="btnAcao border-circle"
          ></p-button>

          <p-button
            icon="pi pi-pw pi-pencil"
            [rounded]="true"
            [text]="true"
            pTooltip="Editar"
            tooltipPosition="top"
            [disabled]="(consultaSelecionada.status === 4) || (consultaSelecionada.status === 5) || (consultaSelecionada.status === 6)"
            (onClick)="preparaEdicao()"
            *ngIf="!this.loading.editar"
            [style]="{'color': '#2570eb'}"
            [style.--cor-fundo]="'#dbecfe'"
            [style.--cor-fundo-hover]="'#cde6fe'"
            class="btnAcao border-circle"
          ></p-button>

          <p-button
            [icon]="loading.ausentar?'pi pi-spin pi-spinner':'pi pi-user-minus'"
            [rounded]="true"
            [text]="true"
            pTooltip="Ausentar"
            tooltipPosition="top"
            [disabled]="(consultaSelecionada.status === 1) || (consultaSelecionada.status === 4) || (consultaSelecionada.status === 5) || (consultaSelecionada.status === 6)"
            *ngIf="!consultaSelecionada.ausente"
            (onClick)="ausentarPaciente()"
            [style]="{'color': '#cb7c14'}"
            [style.--cor-fundo]="'#faf3cb'"
            [style.--cor-fundo-hover]="'#f8eeb2'"
            class="btnAcao border-circle"
          ></p-button>

          <p-button
            icon="pi pi-pw pi-user-plus"
            [rounded]="true"
            [text]="true"
            pTooltip="Presença do Paciente"
            tooltipPosition="top"
            (onClick)="presencaPaciente()"
            *ngIf="consultaSelecionada.ausente"
            [style]="{'color': '#1DA750'}"
            [style.--cor-fundo]="'#ddfbe7'"
            [style.--cor-fundo-hover]="'#cef9d9'"
            class="btnAcao border-circle"
          ></p-button>

          <p-button
            icon="pi pi-pw pi-trash"
            [rounded]="true"
            [text]="true"
            pTooltip="Deletar"
            tooltipPosition="top"
            (onClick)="deletarConsulta()"
            [disabled]="consultaSelecionada.status === 1||consultaSelecionada.status === 4 || consultaSelecionada.status === 5 || consultaSelecionada.status === 6 || consultaSelecionada.pagamento.pago === true"
            [style]="{'color': '#ed2115'}"
            [style.--cor-fundo]="'#ffe1df'"
            [style.--cor-fundo-hover]="'#ffd4d2'"
            class="btnAcao border-circle"
          ></p-button>

          <p-button
            icon="pi pi-pw pi-times"
            [rounded]="true"
            [text]="true"
            pTooltip="Fechar"
            tooltipPosition="top"
            (onClick)="fecharJanela()"
            [style]="{'color': '#5b616e'}"
            [style.--cor-fundo]="'#edeef1'"
            [style.--cor-fundo-hover]="'#e3e6e5'"
            class="btnAcao border-circle"
          ></p-button>
      </div>


  </div>
  <p-divider layout="horizontal" [style]="{'margin': '0'}" ></p-divider>


    <div class=" mt-3">
      <div class="row flex">
        <div class="col-2 flex justify-content-center">
          <p-image
            src="https://primefaces.org/cdn/primeng/images/galleria/galleria10.jpg"
            alt="Image"
            width="120"
            class="border-round-2xl"
          />
        </div>
        <div class="col-10 flex">
          <div class="col-7 mt-2" *ngIf="consultaSelecionada.paciente">
            <div>
              <span class="flex justify-content-start text-2xl font-bold" >
                {{ consultaSelecionada.paciente.nome }}
              </span>
            </div>
            <div class="flex mt-4">
              <div class="flex mx-3">
                <span class="font-semibold">
                  <i class="pi pi-folder-open azul"></i>&nbsp;Pasta:&nbsp;
                </span>
                <span>{{ consultaSelecionada.paciente.numPasta }}</span>
              </div>
              <div class="flex mx-3">
                <span class="font-semibold">
                  <i class="pi pi-calendar azul"></i>&nbsp;Idade:&nbsp;
                </span>
                <span>{{ calcularIdade(consultaSelecionada.paciente.dataNascimento) }}</span>
              </div>
            </div>
          </div>

          <div class="col-7 mt-2" *ngIf="!consultaSelecionada.paciente">
            <div>
              <span class="flex justify-content-start text-2xl font-bold" >
                {{ consultaSelecionada.nomePaciente }}
              </span>
            </div>
            <div class="flex mt-4">
              <div class="flex mx-3">
                <span class="font-semibold">
                  <i class="pi pi-phone azul"></i>&nbsp;Telefone:&nbsp;
                </span>
                <span>{{ consultaSelecionada.telefone }}</span>
              </div>
            </div>
          </div>

          <div class="col-5">
            <div>
              <span class="font-bold text-lg flex justify-content-center m-2">
                <i class="pi pi-user azul"></i>&nbsp;
                Dentista
              </span>
              <span class="flex justify-content-center" >
                {{ consultaSelecionada.dentista.nome }}
              </span>
            </div>
          </div>

        </div>
      </div>

      <div class="row flex mt-2 ">
        <div class="col-8 d-flex align-items-end">
          <form [formGroup]="formularioEditar" (ngSubmit)="salvarEdicao()" class="w-100 ">
            <div class="row flex justify-content-center align-items-center">


              <div class="col-4 d-flex justify-content-start ">

                <ng-container *ngIf="!loading.editar; else editarData">
                 <div class="mt-2">
                  <span class="font-bold text-lg"><i class="pi pi-calendar azul"></i>&nbsp;Data:&nbsp;</span>
                  {{consultaSelecionada.dataConsulta | date: "dd/MM/yyyy"}}
                 </div>
                </ng-container>
                <ng-template #editarData>
                  <span class="p-float-label p-input-icon-right" [style]="{'width': '100%'}">
                    <p-calendar
                      inputId="filtroData"
                      appendTo="body"
                      [autoZIndex]="true"
                      formControlName="dataConsulta"
                      [iconDisplay]="'input'"
                      [showIcon]="true"
                      [showTime]="false"
                      [showButtonBar]="true"
                      dateFormat="dd/mm/yy"
                      class="inputFiltro"
                      [style]="{'width': '100%'}"
                    >
                      <ng-template pTemplate="inputicon" let-clickCallBack="clickCallBack" class="p-input-icon-right">
                        <i class="pi pi-calendar azul" (click)="clickCallBack($event)"></i>
                      </ng-template>
                    </p-calendar>
                    <label for="filtroData" class="azul">Data</label>
                  </span>
                </ng-template>

              </div>


              <div class="col-4 d-flex justify-content-centrer ">

                <ng-container *ngIf="!loading.editar; else editarHora">
                  <div class="mt-2">
                    <span class="font-bold text-lg"><i class="pi pi-clock azul"></i>&nbsp;Inicio:&nbsp;</span>
                    {{consultaSelecionada.dataConsulta | date: "HH:mm"}}
                  </div>
                </ng-container>
                <ng-template #editarHora>
                  <span class="p-float-label pl-4">
                    <p-calendar inputId="calendar-timeonly" [showIcon]="true" [iconDisplay]="'input'" (input)="aplicarMascaraHora($event)" formControlName="horaConsulta" [timeOnly]="true" [style]="{'width': '80%'}">
                      <ng-template pTemplate="inputicon" let-clickCallBack="clickCallBack">
                        <i class="pi pi-clock azul pointer-events-none" (click)="clickCallBack($event)"></i>
                    </ng-template>
                    </p-calendar>
                    <label for="filtroData" class="azul pl-4">Hora</label>
                  </span>
                </ng-template>
              </div>


              <div class="col-4 d-flex justify-content-start ">
                <div *ngIf="!loading.editar">
                  <div class="mt-2">
                    <span class="font-bold text-lg"><i class="pi pi-clock azul"></i>&nbsp;Fim:&nbsp;</span>
                    {{consultaSelecionada.dataConsultaReserva | date: "HH:mm"}}
                  </div>
                </div>
                <div *ngIf="loading.editar" class="d-flex justify-content-center align-items-center">
                  <p-button label="Reagendar" type="submit" icon="pi pi-save" [rounded]="true" [outlined]="true" severity="info" [style]="{'height':'4vh'}"></p-button>
                </div>
              </div>

            </div>
          </form>
        </div>

        <div class="col-4 flex justify-content-center">
          <div>
            <span class="font-bold text-lg flex justify-content-center m-2">
              <i class="pi pi-tag azul"></i>&nbsp;
              Tipo de Consulta:
            </span>
            <span class="flex justify-content-center" >
              {{consultaSelecionada.consultaEspecialidade.tipo}}
            </span>
          </div>
        </div>
      </div>

      <div class="row flex justify-content-center mt-3" [ngClass]="(consultaSelecionada.status != 4) && (consultaSelecionada.status != 5)? 'mb-4':''">

          <div class="flex align-items-center">
            <span class="font-bold text-lg "><i class="pi pi-align-left azul"></i>&nbsp;Observação&nbsp;&nbsp;</span>
          </div>
          <textarea  id="float-input" rows="3" cols="70" class="text-sm"  [autoResize]="true" pInputTextarea [ngModel]="consultaSelecionada.observacao" readonly></textarea>

      </div>


    </div>



    <form [formGroup]="formularioProcedimentos" (ngSubmit)="salvarProcedimentos()" *ngIf="(consultaSelecionada.status == 4) || (consultaSelecionada.status == 5)" >
      <p-divider layout="horizontal"></p-divider>
      <div class="row flex justify-content-center">
        <div class="col-11 p-fluid">

          <div class="flex justify-content-center align-items-center mb-1">
            <span class=" text-lg font-bold"><i class="pi pi-pw pi-list azul"></i>&nbsp;&nbsp;Procedimentos</span>
          </div>

          <p-chips
            [separator]="separatorExp"
            placeholder="Digite os procedimentos realizados na consulta"
            class="azul"
            formControlName="procedimentos"
            [disabled]="desableProcd"
          ></p-chips>

        </div>
        <div class="col-1 flex justify-content-center align-items-center pt-4" >
          <p-button
            icon="pi pi-pw pi-pencil"
            [rounded]="true"
            [text]="true"
            pTooltip="Editar"
            tooltipPosition="top"
            *ngIf="consultaSelecionada.status == 5 && this.desableProcd"
            class=" border-circle"
            (onClick)="this.desableProcd = !this.desableProcd"
            [style]="{'color': '#2570eb'}"
            [style.--cor-fundo]="'#dbecfe'"
            [style.--cor-fundo-hover]="'#cde6fe'"
            class="btnAcao border-circle"
          ></p-button>
          <p-button
            type="submit"
            icon="pi pi-pw pi-save"
            [rounded]="true"
            [text]="true"
            pTooltip="Salvar"
            *ngIf="(consultaSelecionada.status == 4 || consultaSelecionada.status == 5) && !this.desableProcd"
            tooltipPosition="top"
            class=" border-circle"
            [style]="{'color': '#1DA750'}"
            [style.--cor-fundo]="'#ddfbe7'"
            [style.--cor-fundo-hover]="'#cef9d9'"
            class="btnAcao border-circle"
          ></p-button>
          <!-- <p-button label="Salvar e Finalizar" icon="pi " [rounded]="true" [outlined]="true" severity="success" type="submit"

          ><i class="material-icons">task_alt</i></p-button> -->
        </div>
      </div>
      <div class="flex justify-content-end align-items-center p-0 m-0">
        <span class="text-xs font-italic">Procedimentos do último atendimento</span>
        <p-button icon="pi pi-search text-xs" [rounded]="true" [text]="true" size="small" />
      </div>
    </form>
</div>


