<div class="new p-3 ">
  <form [formGroup]="formulario" (ngSubmit)="onSubmit()">
    <div class="row flex justify-content-center">

      <div class="col-4 flex justify-content-center ">
        <span class="font-bold text-lg"><i class="pi pi-calendar azul"></i>&nbsp;&nbsp;Data Consulta:&nbsp;</span> {{consultaSelecionadaPg.dataConsulta | date: "dd/MM/yyyy"}}
      </div>

      <div class="col-4 flex justify-content-center">
        <span class="font-bold text-lg"><i class="pi pi-tag azul"></i>&nbsp;&nbsp;Tipo de Consulta:&nbsp;</span> {{consultaSelecionadaPg.consultaEspecialidade.tipo}}
      </div>

      <div class="col-4 flex justify-content-center">
        <span class="font-bold text-lg"><i class="pi pi-dollar azul"></i>&nbsp;&nbsp;Valor base:&nbsp;</span>
        <span>{{consultaSelecionadaPg.consultaEspecialidade.valorBase | currency:'BRL'}}</span>
      </div>
    </div>

    <div class="row flex justify-content-around mt-3">

      <div class="col-4 flex justify-content-center ">
        <div>
          <span class="font-bold text-lg flex justify-content-center m-2"><i class="pi pi-pw pi-arrow-circle-down azul"></i>&nbsp;&nbsp;
            Desconto (R$)
          </span>
          <span class="p-float-label flex justify-content-center" >
            <p-inputNumber
              mode="currency"
              inputId="currency-brazil2"
              currency="BRL"
              locale="pt-BR"
              formControlName="desconto"
              class="desconto"
              (onInput)="calculoValorConsulta()"
            ></p-inputNumber>
          </span>
        </div>
      </div>

      <div class="col-4 flex justify-content-center ">
        <div>
          <span class="font-bold text-lg flex justify-content-center m-2"><i class="pi pi-pw pi-arrow-circle-up azul"></i>&nbsp;&nbsp;
            Acréscimo (R$)
          </span>
          <span class="p-float-label flex justify-content-center">
            <span class="p-float-label" >
              <p-inputNumber
                mode="currency"
                inputId="currency-brazil"
                currency="BRL"
                locale="pt-BR"
                formControlName="acrescimo"
                class="acrescimo"
                (onInput)="calculoValorConsulta()"
              ></p-inputNumber>
            </span>
          </span>
        </div>
      </div>

      <div class="col-4 flex justify-content-center ">
        <div>
          <span class="font-bold text-lg flex justify-content-center m-2"><i class="pi pi-pw pi-calculator azul"></i>&nbsp;&nbsp;Parcelas</span>
          @if(consultaSelecionadaPg.pagamento.fatFechado){
          <div class="field">
            <span class="p-float-label p-input-icon-right">
              <i class="pi pi-angle-down text-xl"></i>
              <input pInputText [value]="parcelas[index].label"  [style]="{'width': '11vw', 'height':'46px'}" [disabled]="true" />
            </span>
          </div>

          }@else {

            <p-dropdown
              [options]="parcelas"
              appendTo="body"
              [autoZIndex]="true"
              [style]="{'width': '11vw', 'height':'46px'}"
              formControlName="parcelas"
              optionLabel="label"
              optionValue="value"
              (onChange)="ajustaParcelas()"
              >
                <ng-template let-item pTemplate="selectedItem">
                    <i [class]="item?.icon"></i>
                    {{ item?.label }}
                </ng-template>
                <ng-template let-item pTemplate="item">
                    <i [class]="item?.icon"></i>
                    {{ item?.label }}
                </ng-template>
            </p-dropdown>
          }


        </div>
      </div>

    </div>
    <div *ngIf="!consultaSelecionadaPg.pagamento.fatFechado">

    <div class="row flex justify-content-start ml-8 mt-2 mb-3">
      <i class="azul font-medium underline cursor-pointer" *ngIf="!addEntrada" (click)="!addEntrada? criaEntrada() : false"><i class="pi pi-plus-circle text-sm"></i>&nbsp;Incluir Entrada</i>
    </div>

    <div class="row mx-8" *ngIf="addEntrada">
      <div class="flex justify-content-around border-solid border-1 border-200 surface-50">
        <div class="col-1 flex justify-content-center font-bold"></div>
        <div class="col-2 flex justify-content-center font-bold">Valor</div>
        <div class="col-3 flex justify-content-center font-bold">Forma de pagamento</div>
        <div class="col-2 flex justify-content-center font-bold">Data Pagamento</div>
        <div class="col-2 flex justify-content-center font-bold">Comprovante</div>
        <div class="col-1 flex justify-content-center font-bold"></div>
      </div>

      <div class="flex justify-content-around align-items-center border-solid border-1 border-200 ">

        <div class="col-1 flex justify-content-center">
          <span>Entrada</span>
        </div>
        <div class="col-2 flex justify-content-center">
          <span class="p-float-label" >
            <p-inputNumber
              mode="currency"
              inputId="currency-brazil3"
              currency="BRL"
              locale="pt-BR"
              formControlName="entrada"
              class="valorEntrada"
              (onInput)="calculoValorConsulta()"
            ></p-inputNumber>
          </span>
        </div>
        <div class="col-3 flex justify-content-center">
          <p-dropdown
          [options]="formaPagamento"
          appendTo="body"
          [autoZIndex]="true"
          [style]="{'width': '9vw', 'height':'46px', 'padding': '0'}"
          formControlName="formaPagamento"
          optionLabel="descricao"
          class="width"
          [disabled]="true"
          >
          <ng-template let-item pTemplate="selectedItem">
            <i [class]="item?.icon"></i>
            {{ item?.label }}
          </ng-template>
          <ng-template let-item pTemplate="item">
              <i [class]="item?.icon"></i>
              {{ item?.label }}
          </ng-template>
          </p-dropdown>
        </div>
        <div class="col-2 flex justify-content-center">

        </div>
        <div class="col-2 flex justify-content-center">
          <label for="file" class="custom-file-button"><i [class]="selectedFileName == 'Buscar'? 'pi pi-upload' :'pi pi-download'"></i>&nbsp;&nbsp;{{selectedFileName}}</label>
          <input type="file" id="file" name="image[]" multiple="multiple" (change)="onFileSelected($event)">
        </div>
        <div class="col-1 flex justify-content-center">
          <p-button label="Excluir" [text]="true" severity="danger" (click)="excluirEntrada()" ></p-button>
        </div>
      </div>

    </div>

    <div class="my-5" *ngIf="consultaSelecionadaPg.pagamento.parcelas">

      <div class="flex justify-content-around border-solid border-1 border-200 surface-50">
        <div class="col-2 flex justify-content-center font-bold">Parcelas</div>
        <div class="col-1 flex justify-content-center font-bold">Valor</div>
        <div class="col-2 flex justify-content-center font-bold">Data Vencimento</div>
        <div class="col-2 flex justify-content-center font-bold">Forma de pagamento</div>
        <div class="col-2 flex justify-content-center font-bold">Data Pagamento</div>
        <div class="col-2 flex justify-content-center font-bold">Comprovante</div>
        <div class="col-1 flex justify-content-center font-bold">Acao</div>
      </div>
      <p-dataView #dv [value]="consultaSelecionadaPg.pagamento.parcelas">
        <ng-template let-products pTemplate="list"  >
          @for (item of consultaSelecionadaPg.pagamento.parcelas; track $index) {
            @if(item.ehEntrada !== true){
            <div class="flex justify-content-around align-items-center  border-1 border-solid border-200">

              <div class="col-2 flex justify-content-center">
                @if(this.formulario.get('parcelas')?.value === 1 && addEntrada === false){
                  <span>Parcela única</span>
                }@else{
                    <span>{{$index + 1}}° Parcela</span>
                }
                <!-- @if (consultaSelecionadaPg.pagamento.pago)
                  {
                    <p-tag icon="pi pi-dollar" severity="success" value="" [rounded]="true"></p-tag>
                  }
                  @else
                  {
                    <p-tag icon="pi pi-dollar" severity="warning" value="" [rounded]="true"></p-tag>
                  } -->
              </div>

              <div class="col-1 flex justify-content-center">
                {{item.valorParcela | currency: 'BRL'}}
              </div>

              <div class="col-2 flex justify-content-center">
                {{item.dataVencimento | date: 'dd/MM/yyyy'}}
              </div>

              <div class="col-2 flex justify-content-center">
                <p-dropdown
                [options]="formaPagamento"
                appendTo="body"
                [autoZIndex]="true"
                [style]="{'width': '9vw', 'height':'46px', 'padding': '0'}"
                formControlName="formaPagamento"
                optionLabel="descricao"
                class="width"
                [disabled]="true"
                >
                <ng-template let-item pTemplate="selectedItem">
                  <i [class]="item?.icon"></i>
                  {{ item?.label }}
                </ng-template>
                <ng-template let-item pTemplate="item">
                    <i [class]="item?.icon"></i>
                    {{ item?.label }}
                </ng-template>
                </p-dropdown>
              </div>

              <div class="col-2 flex justify-content-center">
                @if(item.dataPagamento){
                  {{item.dataPagamento | date: 'dd/MM/yyyy'}}
                }@else {
                  __/__/____
                }

              </div>

              <div class="col-2 flex justify-content-center">
                <label for="file" class="custom-file-button"><i [class]="selectedFileName == 'Buscar'? 'pi pi-upload' :'pi pi-download'"></i>&nbsp;&nbsp;{{selectedFileName}}</label>
                <input type="file" id="file" name="image[]" multiple="multiple" (change)="onFileSelected($event)">
              </div>

              <div class="col-1 flex justify-content-center">
                <p-button icon="pi pi-save" [rounded]="true" severity="success" [outlined]="true" [disabled]="!item.pago" (click)="salvarPagamentoParcela(item.id)"></p-button>
              </div>
            </div>
            }
          }
        </ng-template>
      </p-dataView>
      <div class="flex justify-content-around border-solid border-1 border-200 surface-50">
        <div class="col-1"></div>
        <div class="col-2 flex justify-content-center">
          <!-- <span class="font-bold "  >Total:&nbsp; {{ calculaValorTotalParcelas() | currency: 'BRL' }}</span> -->
        </div>
        <div class="col-2"></div>
        <div class="col-2"></div>
        <div class="col-2"></div>
        <div class="col-2"></div>
      </div>
    </div>
    <div class="row flex justify-content-center" *ngIf="!consultaSelecionadaPg.pagamento.fatFechado">
      <p-button type="submit" label="Salvar Pagamento" [rounded]="true" severity="success"  icon="pi pi-save" class="mx-2"></p-button>
    </div>
    </div>

    <div *ngIf="consultaSelecionadaPg.pagamento.fatFechado">

      @for (item of consultaSelecionadaPg.pagamento.parcelas; track $index) {
        @if(item.ehEntrada === true){
          <div class="mx-8 my-4">
            <div class="flex justify-content-around border-solid border-1 border-200 surface-50">

              <div class="col-1 flex justify-content-center font-bold "></div>
              <div class="col-2 flex justify-content-center font-bold">Valor</div>
              <div class="col-3 flex justify-content-center font-bold">Forma de pagamento</div>
              <div class="col-2 flex justify-content-center font-bold">Data Pagamento</div>
              <div class="col-2 flex justify-content-center font-bold">Comprovante</div>
              <div class="col-1 flex justify-content-center font-bold"></div>

            </div>
            <div class="flex justify-content-around align-items-center border-solid border-1 border-200 ">

              <div class="col-1 flex justify-content-center">
                <span>Entrada</span>
              </div>
              <div class="col-2 flex justify-content-center">
                {{item.valorParcela | currency: 'BRL'}}
              </div>
              <div class="col-3 flex justify-content-center">
                <!-- <p-dropdown
                [options]="formaPagamento"
                [value]="item.formaDePagamento"
                appendTo="body"
                [autoZIndex]="true"
                [style]="{'width': '9vw', 'height':'46px', 'padding': '0'}"
                optionLabel="descricao"
                class="width"
                [disabled]="item.pago"
                >
                <ng-template let-item pTemplate="selectedItem">
                  <i [class]="item?.icon"></i>
                  {{ item?.label }}
                </ng-template>
                <ng-template let-item pTemplate="item">
                    <i [class]="item?.icon"></i>
                    {{ item?.label }}
                </ng-template>
                </p-dropdown> -->
                <span class="p-float-label p-input-icon-left p-input-icon-right">
                  <i [class]="formaPagamento[item.formaDePagamento].icon"></i>
                  <i class="pi pi-pw pi-angle-down text-xl"></i>
                  <input pInputText [value]="formaPagamento[item.formaDePagamento].label"  [style]="{'width': '9vw', 'height':'46px'}" [disabled]="true" />
                </span>

              </div>
              <div class="col-2 flex justify-content-center">
                {{item.dataPagamento | date: "dd/MM/yyyy"}}
              </div>
              <div class="col-2 flex justify-content-center">
                <label for="file" class="custom-file-button"><i [class]="selectedFileName == 'Buscar'? 'pi pi-upload' :'pi pi-download'"></i>&nbsp;&nbsp;{{selectedFileName}}</label>
                <input type="file" id="file" name="image[]" multiple="multiple" (change)="onFileSelected($event)">
              </div>
              <div class="col-1 flex justify-content-center">
                <p-button label="Excluir" [text]="true" severity="danger" (click)="excluirEntrada()" [disabled]="true" ></p-button>
              </div>
            </div>
          </div>

        }
      }
          <div class="flex justify-content-around border-solid border-1 border-200 surface-50">
            <div class="col-2 flex justify-content-center font-bold">Parcelas</div>
            <div class="col-1 flex justify-content-center font-bold">Valor</div>
            <div class="col-2 flex justify-content-center font-bold">Data Vencimento</div>
            <div class="col-2 flex justify-content-center font-bold">Forma de pagamento</div>
            <div class="col-2 flex justify-content-center font-bold">Data Pagamento</div>
            <div class="col-2 flex justify-content-center font-bold">Comprovante</div>
            <div class="col-1 flex justify-content-center font-bold">Acao</div>
          </div>
      @for (item of consultaSelecionadaPg.pagamento.parcelas; track $index) {
        @if(item.ehEntrada !== true){


          <p-dataView #dv [value]="consultaSelecionadaPg.pagamento.parcelas">
            <ng-template let-products pTemplate="list"  >

                <div class="flex justify-content-around align-items-center  border-1 border-solid border-200">

                  <div class="col-2 flex justify-content-center">
                    @if(consultaSelecionadaPg.pagamento.parcelas.length <= 1){
                      <span>Parcela única</span>
                    }@else{
                        <span>{{$index + 1}}° Parcela</span>
                    }
                    <!-- @if (consultaSelecionadaPg.pagamento.pago)
                      {
                        <p-tag icon="pi pi-dollar" severity="success" value="" [rounded]="true"></p-tag>
                      }
                      @else
                      {
                        <p-tag icon="pi pi-dollar" severity="warning" value="" [rounded]="true"></p-tag>
                      } -->
                  </div>

                  <div class="col-1 flex justify-content-center">
                    {{item.valorParcela | currency: 'BRL'}}
                  </div>

                  <div class="col-2 flex justify-content-center">
                    {{item.dataVencimento | date: 'dd/MM/yyyy'}}
                  </div>

                  <div class="col-2 flex justify-content-center">
                    @if(item.pago){
                      <span class="p-float-label p-input-icon-left p-input-icon-right">
                        <i [class]="formaPagamento[item.formaDePagamento].icon"></i>
                        <i class="pi pi-pw pi-angle-down text-xl"></i>
                        <input pInputText [value]="formaPagamento[item.formaDePagamento].label"  [style]="{'width': '9vw', 'height':'46px'}" [disabled]="true" />
                      </span>
                    }@else {
                      <p-dropdown
                    [options]="formaPagamento"
                    appendTo="body"
                    [autoZIndex]="true"
                    [style]="{'width': '9vw', 'height':'46px', 'padding': '0'}"
                    formControlName="formaPagamento"
                    optionLabel="descricao"
                    class="width"
                    >
                    <ng-template let-item pTemplate="selectedItem">
                      <i [class]="item?.icon"></i>
                      {{ item?.label }}
                    </ng-template>
                    <ng-template let-item pTemplate="item">
                        <i [class]="item?.icon"></i>
                        {{ item?.label }}
                    </ng-template>
                    </p-dropdown>
                    }


                  </div>
                  <div class="col-2 flex justify-content-center">
                    @if(item.dataPagamento){
                      {{item.dataPagamento | date: 'dd/MM/yyyy'}}
                    }@else {
                      __/__/____
                    }

                  </div>

                  <div class="col-2 flex justify-content-center">
                    <label for="file" class="custom-file-button"><i [class]="selectedFileName == 'Buscar'? 'pi pi-upload' :'pi pi-download'"></i>&nbsp;&nbsp;{{selectedFileName}}</label>
                    <input type="file" id="file" name="image[]" multiple="multiple" (change)="onFileSelected($event)">
                  </div>

                  <div class="col-1 flex justify-content-center">
                    <p-button icon="pi pi-save" [rounded]="true" severity="success" [outlined]="true" [disabled]="habilitaBotao(item)" (click)="salvarPagamentoParcela(item.id)"></p-button>
                  </div>
                </div>
            </ng-template>
          </p-dataView>
        }
      }
    </div>
  </form>
</div>
