:host ::ng-deep .p-inputNumber{
width: 10vw;
}


.new {
  background: #ffffff;
  border-radius: 8px;
  border: 1px solid #c4ddf3;
}
.azul{
  color: #2070B4
}

.width{
  width: 100%;
}

.box{
  background: #FFFFFF;
  border-radius: 15px ;
  border: 1px solid #c4ddf3;
  box-shadow: rgba(228, 238, 250, 1) 0px 10px 20px, rgba(228, 238, 250, 1) 0px 6px 6px;
}
.card{
  background: #FFFFFF;
  border-radius: 15px ;
  border: 1px solid #c4ddf3;
  box-shadow: rgba(228, 238, 250, 1) 0px 10px 20px, rgba(228, 238, 250, 1) 0px 6px 6px;
}


.p-stepper {
  flex-basis: auto ;
}

.search{
  color: #2070b4;
  border-color:  #2070b4;
  width: 22.9vw;
  height: 5vh;
  border-radius: 50px;
  font-size: large;
  }
  .patient-list {
    list-style: none;
  }



  .patient-list li.selected {
    border: 1px solid #54a2dc;
    border-radius: 8px;
    background-color: #e4eefa; /* Cor de seleção */
  }


input[type=file]{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 360px;
  height: 46px;
  max-width: 100%;
  color: #8a8989;
  padding: 5px;
  background: #fff;
  border-radius: 7px;
  border: 1px solid #c7c7c7;
  font: 14px/20px Roboto, sans-serif;

}
input[type=file]::file-selector-button {
  font-weight: 500;
  margin-right: 20px;
  border: none;
  text-emphasis: none;
  height: 35px;
  background: linear-gradient(to right, #2070b4, #24aae3);
  padding: 10px 20px;
  border-radius: 50px;
  color: #fff;
  cursor: pointer;


  /* box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15), 0 6px 6px rgba(0, 0, 0, 0.12); */
}

input[type=file]::file-selector-button:hover {
  background: linear-gradient(to right, #2070b4, #24aae3);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.10), 0 6px 6px rgba(0, 0, 0, 0.10);
}

/* Ocultar o input file original */
input[type="file"] {
  display: none;
}

/* Estilizar o botão personalizado */
.custom-file-button {
  border: 1px solid #ccc;
  padding: 8px 12px;
  border-radius: 7px;
  cursor: pointer;
}

.custom-file-button:hover {
  border: 1px solid #3B82F6;
}

.custom-file-name {
  margin-left: 10px;
  color: #666;
}
.custom-file-icon {
  position: absolute;
  top: 50%;
  right: 8px;
  transform: translateY(-50%);
}
