


<div class="card p-component pt-6 new">
  <form [formGroup]="formulario" (ngSubmit)="onSubmit()">
    <div class="row flex justify-content-center">
      <div class="col-12 flex justify-content-around">
        <span class="p-float-label">
          <p-dropdown
            [options]="listaPaciente"
            formControlName="paciente"
            [filter]="true"
            optionLabel="name"
            [style]="{'width': '14vw', 'height':'46px'}"
            scrollHeight="300px"
            inputId="paciente"
            ></p-dropdown>
          <label for="paciente">Selecione o Paciente</label>
        </span>

        <span class="p-float-label">
          <p-dropdown
            [options]="listaDentista"
            formControlName="dentista"
            optionLabel="name"
            [filter]="true"
            [style]="{'width': '14vw', 'height':'46px'}"
            scrollHeight="300px"
            inputId="dentista"
            ></p-dropdown>
          <label for="dentista">Selecione o Dentista</label>
        </span>
      </div>
    </div>
    <div class="row flex justify-content-center mt-3">
        <div class="col-12 flex justify-content-around">
          <div class="field">
            <span class="p-float-label">
              <p-calendar
                [iconDisplay]="'input'"
                [showIcon]="true"
                inputId="dataConsulta"
                placeholder="dd/mm/yyyy"

                [style]="{'color':'#2070B4', 'width': '12vw'}"
                ></p-calendar>
              <label for="dataConsulta">Data Consulta</label>
            </span>
          </div>
          <div class="field">
            <span class="p-float-label p-input-icon-right">
              <i class="pi pi-clock"></i>
              <p-inputMask mask="99:99" slotChar="--:--" [style]="{'width': '12vw'}"></p-inputMask>
              <label for="dataConsulta">Hora Consulta</label>
            </span>
          </div>
      </div>
    </div>
    <div class="flex justify-content-center mt-3">
      <h4>Tempo Previsto</h4>
    </div>

    <div class="flex justify-content-center">
          <div class="flex align-items-center m-2 ">
            <p-radioButton name="tempoPrevisto" value="t1" formControlName="tempoPrevisto" inputId="tempo1" label="15 Minutos"></p-radioButton>
          </div>
          <div class="flex align-items-center m-2">
            <p-radioButton name="tempoPrevisto" value="t2" formControlName="tempoPrevisto" inputId="tempo2" label="30 Minutos"></p-radioButton>
          </div>
          <div class="flex align-items-center m-2">
            <p-radioButton name="tempoPrevisto" value="t3" formControlName="tempoPrevisto" inputId="tempo3" label="45 Minutos"></p-radioButton>
          </div>
          <div class="flex align-items-center m-2">
            <p-radioButton name="tempoPrevisto" value="t4"  formControlName="tempoPrevisto" inputId="tempo4" label="60 Minutos"></p-radioButton>
          </div>


    </div>
    <div class="row flex justify-content-center mt-6">
      <span class="p-float-label">
        <textarea id="float-input" rows="3" cols="58" pInputTextarea></textarea>
        <label for="float-input">Observações</label>
      </span>
    </div>
    <div class="flex justify-content-center align-content-center mt-7">
      <button pButton type="button"  label="Salvar" icon="pi pi-save" class="btnSalvar"></button>
   </div>
</form>
</div>




