
.bannerCliente{
    width: 98%;
    height: 230px;
    display: flex;
    margin-top: 15px;

    /* background-image: url("src/assets/img/teste2.png"); */
    background-image: url("src/assets/img/banner.jpg");
    background-repeat:no-repeat;
    background-size:cover;
    background-position: center center;

    border: 1px solid #c4ddf3;
    box-shadow: rgba(228, 238, 250, 1) 0px 10px 20px, rgba(228, 238, 250, 1) 0px 6px 6px;
}

.box{
  background: #FFFFFF;
  border-radius: 8px ;
  border: 1px solid #c4ddf3;
  box-shadow: rgba(228, 238, 250, 1) 0px 10px 20px, rgba(228, 238, 250, 1) 0px 6px 6px;

}
.new{
  background: #FFFFFF;
  border-radius: 8px ;
  border: 1px solid #c4ddf3;
  /* box-shadow: rgba(228, 238, 250, 1) 0px 10px 20px, rgba(228, 238, 250, 1) 0px 6px 6px; */

}

.options{
  background: #FFFFFF;
  border-radius: 7px ;
  border: 1px solid #c4ddf3;

}

.options:hover{
background: #f2f7fc;
}

.width{
  width: 100%;
}

ul {
  list-style-type: none;

}

li {
  float:left;
  margin: 15px
}

.imgPaciente{
  width: 100px;
  height: 100px;
  border-radius: 50px;
  overflow: hidden;
  object-fit: cover;

}

:host ::ng-deep {
  .custom-select-button{
    background: #F1F5F9;
    border-radius: 8px;
    color: #000;
  }

  .custom-select-button .p-button {
    background-color: #F1F5F9;
    font-size: 14px;
    border: none;
    padding: 10px;
    margin-inline: 5px;
    border-radius: 8px;
  }
  
  .custom-select-button .p-button.p-highlight {
    background-color: #fff; /* Cor quando o botão está selecionado */
    color: #000;
  }
  
  .custom-select-button .p-button:hover {
    background-color: #fff; /* Cor ao passar o mouse */
  }
}


:host ::ng-deep .p-menubar {
  border: 1px #c4ddf3;
  border-style: solid;
  border-radius: 50px;
  background: #FFFFFF;
  /* box-shadow: 0px 4px 6px 0px green; */
  box-shadow: rgba(228, 238, 250, 1) 0px 10px 20px, rgba(228, 238, 250, 1) 0px 6px 6px;
}
:host ::ng-deep .p-tabview{
  padding: 10px;
  margin-bottom: 15px;

  border-radius: 1rem;
  /* box-shadow: rgba(228, 238, 250, 1) 0px 10px 20px, rgba(228, 238, 250, 1) 0px 6px 6px; */
}
 :host ::ng-deep .p-card{
  border: 1px #c4ddf3;
  border-style: solid;
  border-radius: 1rem;
  padding: 15px;
  box-shadow: rgba(228, 238, 250, 1) 0px 10px 20px, rgba(228, 238, 250, 1) 0px 6px 6px;
 }

 button {
  background: linear-gradient(to right, #2070b4, #24aae3);
  font-size: .9rem;
  color: #fff;
  width: auto;
  padding: 12px 24px;
  border-radius: 50px;
  border: none;
  cursor: pointer; 
  transition: all 0.3s ease; 
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15), 0 4px 4px rgba(0, 0, 0, 0.12); 
}

button:hover {
  background: linear-gradient(to right,#226199, #1E9CC9); 
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2), 0 8px 8px rgba(0, 0, 0, 0.15); 
  transform: translateY(-2px); 
}

button:active {
  transform: translateY(0); 
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15), 0 4px 4px rgba(0, 0, 0, 0.12); 
}

th{
  /* background: #c4ddf3 !important; */
  color: #2070b4;
  font-size: large;

}


.search{
color: #2070b4;
border-color:  #2070b4;
width: 25vw;
border-radius: 50px;
}
.btnSalvar {
  width: 8vw;
  background: #1DA750;
  border-radius: 15px;
  margin-inline: 2vw;
  border: none;
}

.btnSalvarFoto{
  width: 7vw;
  background: linear-gradient(to right, #2070b4, #24aae3);;
  border-radius: 25px;
  border: none;
}

input[type=file]{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 360px;
  height: 46px;
  max-width: 100%;
  color: #8a8989;
  padding: 5px;
  background: #fff;
  border-radius: 7px;
  border: 1px solid #c7c7c7;
  font: 14px/20px Roboto, sans-serif;

}
input[type=file]::file-selector-button {
  font-weight: 500;
  margin-right: 20px;
  border: none;
  text-emphasis: none;
  height: 35px;
  background: linear-gradient(to right, #2070b4, #24aae3);
  padding: 10px 20px;
  border-radius: 50px;
  color: #fff;
  cursor: pointer;
  /* box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15), 0 6px 6px rgba(0, 0, 0, 0.12); */
}

input[type=file]::file-selector-button:hover {
  background: linear-gradient(to right, #2070b4, #24aae3);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.10), 0 6px 6px rgba(0, 0, 0, 0.10);
}

/* .tiered-menu-position {
  position: absolute !important;
  top: 100% !important; 
  right: 0 !important; 
  z-index: 1000 !important; 
} */

.mobile{
  display: none;
}

.web{
  display: block;
}
@media only screen and (max-width: 767px) {

  .web{
    display: none;
  }
  .search{
    width: 55vw;
  }

  .mobile{
    display: block;
  }
  .bannerCliente{
    top: -50px;
  }
}
