<div class="clienteMain">
  <div class="bannerCliente">           
      <div class="clienteFoto">
          <mat-card class="example-card">
              <img mat-card-image src="https://media.istockphoto.com/id/1337144146/vector/default-avatar-profile-icon-vector.jpg?s=612x612&w=0&k=20&c=BIbFwuv7FxTWvh5S3vB6bkT0Qv8Vn8N5Ffseq84ClGI=" alt="Photo of a Shiba Inu">
          </mat-card>
      </div>
      <div class="clienteInfo">
         <span >Guilherme Oliveira</span> 
         <span>32 998220082</span>
         
      </div>
  
  </div>

  

  
</div>
