
<div class="container">
    <div class="container_left">        
        <!-- <img src="https://www.zarla.com/images/zarla-odontoplus-1x1-2400x2400-20210608-8pkdbt4xmjwptx39r66b.png?crop=1:1,smart&width=250&dpr=2" /> -->
        <img src="assets/img/odonto.png" alt="Logo Odonto" class="img">
    </div>
    <div class="container_right">
        <div class="create">
           <div class="msg">
                <div class="alertDanger" *ngFor="let erro of errors"> 
                    {{erro}}
                </div>
           </div>
            
            <div class="alertSucess" *ngIf="msgSuccess"> 
                {{msgSuccess}}
            </div>
            <div class="createHeader">
                <h1 class="titulo">Bem Vindo!</h1>                
            </div>
            <div class="createBody">
                <form  (ngSubmit)="onSubmit()">
                    <div class="containerLogin">   

                        <div class="row">
                            <!-- <mat-icon aria-hidden="false" fontIcon="person" class="loginIcon"></mat-icon>  -->
                            <mat-form-field appearance="outline" class="inputLogin"> 
                                <mat-icon matPrefix>person</mat-icon> 
                                <mat-label>Login </mat-label>                         
                                <input matInput type="text"  name="userName" id="userName" [(ngModel)]="userName" autocomplete="off">
                            </mat-form-field >
                        </div>
                        <div class="row">
                            <!-- <mat-icon aria-hidden="false" fontIcon="key" class="loginIcon"></mat-icon>  -->
                            <mat-form-field appearance="outline" class="inputLogin">
                                <mat-icon matPrefix>key</mat-icon>
                                <mat-label>Senha </mat-label>
                                <input matInput type="password" name="password" id="password"  [(ngModel)]="password" autocomplete="off">
                            </mat-form-field> 
                        </div>          
                    </div>
                    <div>
                        <button mat-fab extended (click)="onSubmit()" class="btnLogin">
                            <mat-icon>login</mat-icon>
                            Login
                        </button>                        
                    </div> 
                                       
                </form>
            </div>
        </div>
    </div>
</div>


