*{
    margin: 0 auto;
    padding: 0 auto;
    justify-content: center;
}

.container{
    width: 60vw;
    display: flex;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 2vh ;
    border-width: 2px;
    border-style: solid;
    border-color: #54a2dc;
    background: #f2f8fd;
}
.mat-icon{
    color: #2070B4;
    font-size:26px;
}


.container_left{
    margin: auto;
    width: 25vw;
    height: 40vh;
    border-radius: 2vh 0vh 0vh 2vh;
    display: flex;
    justify-content: center;

}

.container_right{
    margin: auto;
    width: 60vw;
    height: 40vh;
    border-radius: 0vh 2vh 2vh 0vh;
    display: flex;
    text-align: center;
    position: relative;

}




.titulo{
    font-weight: bold;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: xx-large;
    color:#2070b4;

}

button{
  background: linear-gradient(to right, #2070b4, #24aae3);
  font-size: 0.9rem;
  width: 8vw;
  border-radius: 50px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15), 0 6px 6px rgba(0, 0, 0, 0.12);
  border:none;
}

button:hover{
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2), 0 8px 8px rgba(0, 0, 0, 0.16);
}
