<div class="h-10rem"></div>

<div class="flex justify-content-center align-items-center" >
  <div class="grid">
    <div class="bg-white border-round-2xl border-1 border-blue-400 shadow-7 p-4 m-4 lg:flex ">
      <div class="col-12 md:col-6 lg:col-6">
          <div class="flex justify-content-center align-items-center">
            <img src="assets/img/odonto.png" alt="Logo Odonto">
              <!-- <p-image src="assets/img/odonto.png"
                width="300"
                alt="Logo Odonto"
                [preview]="false"
              ></p-image> -->
          </div>
      </div>
      <div class="col-12 md:col-6 lg:col-6">
          <div class="flex justify-content-center m-3">
              <h1 class="titulo">Bem Vindo!</h1>
          </div>
          <form  (ngSubmit)="onSubmitLogin()" [formGroup]="loginForm">
              <div class="col-12 flex justify-content-center">
                  <div class="field">
                      <span class="p-float-label p-input-icon-left shadow-1">
                          <i class="pi pi-user azul" ></i>
                          <input pInputText id="login" formControlName="userName" autocomplete="off" class="h-3rem"/>
                          <label for="login" class="azul">Login</label>
                      </span>
                  </div>
              </div>
              <div class="col-12 flex justify-content-center">
                  <div class="field ">
                      <span class="p-float-label p-input-icon-left shadow-1 ">
                          <i class="pi pi-key azul" ></i>
                          <input pInputText id="password" type="password" formControlName="password" autocomplete="off" class="h-3rem"/>
                          <label for="password" class="azul">Password</label>
                      </span>
                  </div>
              </div>
              <div class="flex justify-content-center mt-4">
                  <button pButton type="submit" label="Acessar" styleClass="shadow-5" icon="pi pi-sign-in"></button>
              </div>
          </form>
      </div>
  </div>
</div>
</div>
<!-- <div class="flex justify-content-center align-items-center h-full">
  <div class="row flex justify-content-center align-items-center w-auto h-auto border-solid border-2 container">
    <div class="col-6">
      <div class="flex justify-content-center align-items-center">
        <img src="assets/img/odonto.png" alt="Logo Odonto" width="800" >
      </div>

    </div>
    <div class="col-6">
        <div class="flex justify-content-center m-3">
          <h1 class="titulo">Bem Vindo!</h1>
        </div>
        <form  (ngSubmit)="onSubmitLogin()" [formGroup]="loginForm">
            <div class="col-12 flex justify-content-center">
              <div class="field">
                <span class="p-float-label p-input-icon-left shadow-1">
                  <i class="pi pi-user azul" ></i>
                  <input pInputText id="login" formControlName="userName" autocomplete="off" class="h-3rem"/>
                  <label for="login" class="azul">Login</label>
                </span>
              </div>
            </div>

            <div class="col-12 flex justify-content-center">
              <div class="field ">
                <span class="p-float-label p-input-icon-left shadow-1 ">
                  <i class="pi pi-key azul" ></i>
                  <input pInputText id="password" type="password" formControlName="password" autocomplete="off" class="h-3rem"/>
                  <label for="password" class="azul">Password</label>
                </span>
              </div>
            </div>

            <div class="flex justify-content-center mt-4">
              <button pButton type="submit" label="Acessar" styleClass="shadow-5" icon="pi pi-sign-in"></button>
            </div>

        </form>
    </div>
  </div> -->
