<div class="new p-3">
    <form [formGroup]="formCargo" (ngSubmit)="onSubmit()" autocomplete="off" [autofocus]="false">

        <div class="row lg:flex lg:justify-content-center mt-2">
            <div class="field col-4 m-0">
            <span class="p-float-label p-input-icon-left width">
                <i class="pi pi-pencil azul"></i>
                <input pInputText id="cargo" formControlName="nome" [autofocus]="true" required class="width" [ngClass]="{'ng-invalid ng-dirty': formCargo.controls['nome'].invalid && formCargo.controls['nome'].touched}" />
                <label for="cargo" class="azul">Cargo <span class="p-error ">*</span></label>
            </span>
            </div>

            <div class="field col-4 m-0">
                <span class="p-float-label p-input-icon-left width">
                    <i class="pi pi-pencil azul"></i>
                    <input pInputText id="departamento" formControlName="departamento" required class="width" [ngClass]="{'ng-invalid ng-dirty': formCargo.controls['departamento'].invalid && formCargo.controls['departamento'].touched}" />
                    <label for="departamento" class="azul">Departamento <span class="p-error ">*</span></label>
                </span>
            </div>

            <div class="field col-3 m-0">
                <span class="p-float-label width">
                <p-dropdown
                inputId="nivelHierarquico"
                formControlName="nivelHierarquico"
                [options]="[
                    { name: 'Aprendiz'},
                    { name: 'Júnior'},
                    { name: 'Pleno'},
                    { name: 'Senior' },
                    { name: 'Especialista' },
                    { name: 'Gestor' },
                    { name: 'Coordenador'},
                    { name: 'Diretor' },
                ]"
                optionLabel="name"
                appendTo="body" [autoZIndex]="true"
                [style]="{width: '100%'}"
                [showClear]="true"
                [ngClass]="{'ng-invalid ng-dirty': formCargo.controls['nivelHierarquico'].invalid && formCargo.controls['nivelHierarquico'].touched}"
                />
                <label for="nivelHierarquico" class="azul">Senioridade <span class="p-error ">*</span></label>
                </span>
            </div>
        </div>

        <div class="row lg:flex lg:justify-content-center mt-2">
            <div class="field col-4 m-0">
                <span class="p-float-label width">
                <p-dropdown
                    inputId="requisitos"
                    formControlName="requisitos"
                    [options]="[
                        { name: 'Ensino fundamental incompleto'},
                        { name: 'Ensino fundamental completo'},
                        { name: 'Ensino médio incompleto'},
                        { name: 'Ensino médio completo'},
                        { name: 'Ensino superior incompleto'},
                        { name: 'Ensino superior completo'},
                        { name: 'Especialização'},
                        { name: 'Mestrado'},
                        { name: 'Douturado'},
                    ]"
                    optionLabel="name"
                    appendTo="body" [autoZIndex]="true"
                    [style]="{width: '100%'}"
                    [showClear]="true"
                    [ngClass]="{'ng-invalid ng-dirty': formCargo.controls['requisitos'].invalid && formCargo.controls['requisitos'].touched}"
                />
                <label for="requisitos" class="azul">Requisitos/Qualificações <span class="p-error ">*</span></label>
                </span>
            </div>
            <div class="field col-3 m-0">
                <span class="p-float-label width">
                <p-dropdown
                    inputId="cargaHoraria"
                    formControlName="cargaHoraria"
                    [options]="[
                        { name: '12h/36h'},
                        { name: '40h'},
                        { name: '44h'},
                        { name: 'Plantão'},
                        { name: 'Contrato'},
                    ]"
                    optionLabel="name"
                    appendTo="body" [autoZIndex]="true"
                    [style]="{width: '100%'}"
                    [showClear]="true"
                    [ngClass]="{'ng-invalid ng-dirty': formCargo.controls['cargaHoraria'].invalid && formCargo.controls['cargaHoraria'].touched}"
                />
                <label for="cargaHoraria" class="azul">Carga Horaria <span class="p-error ">*</span></label>
                </span>
            </div>

            <div class="field col-3 m-0">
                <span class="p-float-label width">
                <!-- <i class="pi pi-dollar azul"></i> -->
                <!-- <input pInputText id="salarioBase" formControlName="salarioBase" required class="width p-input-sm"  /> -->

                    <p-inputNumber
                        formControlName="salarioBase"
                        id="salarioBase"
                        mode="currency"
                        currency="BRL"
                        locale="pt-BR"
                        required
                        class="width p-input-sm"
                    />
                    <label for="salarioBase" class="azul">Salário Base <span class="p-error ">*</span></label>
                </span>
            </div>
        </div>

        <div class="row lg:flex lg:justify-content-center mt-2">
            <div class="field col-11 m-0">
                <span class="p-float-label p-input-icon-left width">
                <i class="pi pi-pencil azul"></i>
                <!-- <input pInputText id="departamento" formControlName="departamento" required class="width" [ngClass]="{'ng-invalid ng-dirty': formCargo.controls['departamento'].invalid && formCargo.controls['departamento'].touched}" /> -->
                <textarea rows="4" pInputTextarea formControlName="descricao" class="width"></textarea>
                <label for="departamento" class="azul">Descrição das atribuições</label>
                </span>
            </div>

        </div>
        <div class="row" >
            <div class="flex justify-content-end" >
                <span class="p-error text-xs ml-3">* Campos obrigatórios</span>
            </div>
            <div class="row lg:flex lg:justify-content-center">
                <span class="azul">
                    <i class="pi pi-user"></i>
                    Benefícios
                </span>
            </div>
            <div class="row lg:flex lg:justify-content-center ">
                <div class="md:col-12 lg:col-2 flex justify-content-center align-items-center m-0">
                    <span class=" flex justify-content-start align-items-center mt-2">
                    <p-inputSwitch id="valeTrans" formControlName="valeTrans" class="custom-switch"></p-inputSwitch>
                    <label for="valeTrans" class="azul">&nbsp;&nbsp;VT</label>
                    </span>

                </div>
                <div class="md:col-12 lg:col-2 flex justify-content-center align-items-center m-0">
                    <span class="flex justify-content-start align-items-center  my-2">
                    <p-inputSwitch id="valeAR" formControlName="valeAR" class="custom-switch"></p-inputSwitch>
                    <label for="valeAR" class="azul">&nbsp;&nbsp;VA/VR</label>
                    </span>
                </div>
                <div class="md:col-12 lg:col-2 flex justify-content-center align-items-center m-0">
                    <span class=" flex justify-content-start align-items-center  my-2">
                    <p-inputSwitch id="planoSaude"formControlName="planoSaude" class="custom-switch"></p-inputSwitch>
                    <label for="planoSaude" class="azul">&nbsp;&nbsp;Plano Saúde</label>
                    </span>
                </div>
                <div class="md:col-12 lg:col-2 flex justify-content-center align-items-center m-0">
                    <span class=" flex justify-content-start align-items-center  my-2">
                    <p-inputSwitch id="plr" formControlName="plr" class="custom-switch"></p-inputSwitch>
                    <label for="plr" class="azul" >&nbsp;&nbsp;PLR</label>
                    </span>
                </div>
                <div class="md:col-12 lg:col-2 flex justify-content-center align-items-center m-0">
                    <span class=" flex justify-content-start align-items-center  my-2">
                    <p-inputSwitch id="premiacao" formControlName="premiacao"  class="custom-switch"></p-inputSwitch>
                    <label for="premiacao" class="azul" >&nbsp;&nbsp;Premiação</label>
                    </span>
                </div>
                <div class="md:col-12 lg:col-2 flex justify-content-center align-items-center m-0">
                    <span class=" flex justify-content-start align-items-center  my-2">
                    <p-inputSwitch id="gymPass" formControlName="gymPass" class="custom-switch"></p-inputSwitch>
                    <label for="gymPass" class="azul">&nbsp;&nbsp;GymPass</label>
                    </span>
                </div>
                </div>
        </div>
        <div class="row flex justify-content-center mt-4">
            <p-button type="ngSubmit" [rounded]="true" label="Salvar" severity="success" icon="pi pi-save" iconPos="right" />
        </div>
    </form>

</div>
