/* :host::ng-deep {
  .btnNew {
    background: linear-gradient(to right, #2070b4, #24aae3);
    border: none;
  }
} */

.box{
  background: #FFFFFF;
  border-radius: 7px ;
  border: 1px solid #c4ddf3;
  box-shadow: rgba(228, 238, 250, 1) 0px 10px 20px, rgba(228, 238, 250, 1) 0px 6px 6px;
}
.new{
  background: #FFFFFF;
  border-radius: 7px ;
  border: 1px solid #c4ddf3;

}
.search{
  color: #2070b4;
  border-color:  #2070b4;
  width: 25vw;
  border-radius: 50px;
}
.width{
  width: 100%;
}

/* button.btnNew{

  font-size: 0.9rem;
  width: 220px;
  border-radius: 50px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15), 0 6px 6px rgba(0, 0, 0, 0.12);
  border:none;
  color: #FFF
} */
.azul{
  color: #2070b4
}


button {
  background: linear-gradient(to right, #2070b4, #24aae3);
  font-size: .9rem;
  color: #fff;
  width: auto;
  padding: 12px 24px;
  border-radius: 50px;
  border: none;
  cursor: pointer; 
  transition: all 0.3s ease; 
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15), 0 4px 4px rgba(0, 0, 0, 0.12); 
}

button:hover {
  background: linear-gradient(to right,#226199, #1E9CC9); 
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2), 0 8px 8px rgba(0, 0, 0, 0.15); 
  transform: translateY(-2px); 
}

button:active {
  transform: translateY(0); 
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15), 0 4px 4px rgba(0, 0, 0, 0.12); 
}

.btnAcao{
  color: var(--color);
  background-color: var(--cor-fundo);
  border-radius: 50%;
}
.btnAcao:hover{
  color: var(--color-hover);
  background-color: var(--cor-fundo-hover);
  border-radius: 50%;
}
