@import "primeicons/primeicons.css";
@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
.grid {
  /* background-image: url("../../../assets/sean-pollock-PhYq704ffdA-unsplash.jpg") !important; */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

}

@media screen and (min-width: 1400px) {
  .grid {
    background-position: top;
  }
}

@media screen and (max-width: 1000px) {
  .grid {
    height: 100vmax;
  }
}


button{
  background: linear-gradient(to right, #2070b4, #24aae3);
  font-size: 0.9rem;
  width: 10vw;
  border-radius: 50px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15), 0 6px 6px rgba(0, 0, 0, 0.12);
}

button:hover{
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2), 0 8px 8px rgba(0, 0, 0, 0.16);
}

th{
    /* background: #c4ddf3 !important; */
    color: #2070b4;
    font-size: large;

}


.search{
  color: #2070b4;
  border-color:  #2070b4;
  width: 25vw;
  border-radius: 50px;
}


.titulo{

    font-size: 2.5rem;
    font-weight: bold;
    color: #2070b4;

}


