
.btnadd{ 
    background: linear-gradient(to right, #2070b4, #24aae3);
    width: 15vw;
}
.btnadd:hover{ 
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    
}

.tableBody{
    margin-top: 2%;
}
.table{
    background-color: #FFFFFF;    
   
}
.mat-table {
    width: 50%;
    font-weight: 800;
    font-size: x-large;
}
th, td{
    text-align: center;   
    font-size: 18px;
    
}
th{
    background: #c4ddf3 !important;
    color: #2070b4;
    font-size: x-large;
    
}
.mat-column-paciente{
    width: 15vw;
}
.mat-column-btns{
    width: 15vw;
}
.mat-column-dentista{
    width: 35vw;
}
.acoes{
    display: flex;
    justify-content:space-around;

}

.info{   
    background-color: #54a2dc;
    color: #F4F2F0;
    width: 40px;
    height: 40px;
}
.delete{
    background-color: #f44336;
    color: #F4F2F0;
    width: 36px;
    height: 36px;
}
.edit{
    background-color: #e9b136;
    color: #F4F2F0;
    width: 36px;
    height: 36px;
}
.search{
    color: #2070b4;
    border: none;
    width: 25vw;
}
.cardTitulo{
    display: flex;
    justify-content: center;
    margin-bottom: 2%;
}

.titulo{
    /* font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; */
    font-size: 2.5rem;
    font-weight: bold;
    color: #2070b4;
    
}
.mat-cell{
    font-weight: 600;
    color:  #888888
}
.mat-column-btns{
    width: 15vw;
}
