<div class="container">
  <div class="grid">
    <div class="col-12 ">

      <div class="card box p-5 m-5 text-indigo-800">
        <div class="flex justify-content-between mb-3 ml-5 mr-5 ">
          <!-- <span class="p-float-label p-input-icon-left ">
            <i class="pi pi-search azul" ></i>
            <input pInputText id="search" (keyup)="applyFilter($event)" class="search"/>
            <label for="search" class="azul">Buscar Consulta...</label>
          </span> -->

          <div class="flex align-items-center">
            <p-selectButton
            [options]="paymentOptions"
            [(ngModel)]="filtro"
            [multiple]="false"
            optionLabel="name"
            optionValue="value"
            class="selectButton"
            onOptionClick="filtarTabela(value)"
            (onChange)="filtrarTabela($event)"
            >
            </p-selectButton>
          </div>

          <button pButton type="button" label="Nova Consulta" styleClass="linear-gradient" (click)="cadastro()" icon="pi pi-plus"></button>
          </div>

          <!--<div class="row flex justify-content-between m-2 ">
            <div class="col-3 ml-2 ">
               <p-dropdown

                formControlName="selectedCity"
                [options]="[
                  {name: 'Selecione um dentista', code: ''},
                  { name: 'Australia', code: 'AU' },
                  { name: 'Brazil', code: 'BR' },
                  { name: 'China', code: 'CN' },
                  { name: 'Egypt', code: 'EG' },
                  { name: 'France', code: 'FR' },
                  { name: 'Germany', code: 'DE' },
                  { name: 'India', code: 'IN' },
                  { name: 'Japan', code: 'JP' },
                  { name: 'Spain', code: 'ES' },
                  { name: 'United States', code: 'US' },
                ]"
                [filter]="true"
                optionLabel="name"
                [style]="{'width': '20vw'}"
                scrollHeight="300px"
                ></p-dropdown>
            </div>


          </div> -->
          <p-table
            #productsTable
            [value]="dataSource.data"
            [rows]="10"
            [paginator]="true"
            [responsive]="true"
            [globalFilterFields]="['name', 'amount']"
            [tableStyle]="{ 'min-width': '75rem' }"
            [rowHover]="true"
            [showCurrentPageReport]="true"
            dataKey="id"
            currentPageReportTemplate="Mostrando {first} de {last} de {totalRecords} consultas"
          >
            <ng-template pTemplate="header">
              <tr>
                <th pSortableColumn="nomePaciente" [width]="380">
                  <div class="flex justify-content-between align-items-center">
                    <div class="flex justify-content-center align-items-center">
                      Paciente
                    </div>
                    <div class="flex justify-content-center align-items-center">
                      <p-sortIcon
                        field="nomePaciente"
                        pTooltip="Ordenar"
                        tooltipPosition="top"
                      ></p-sortIcon>
                      <p-columnFilter
                        type="text"
                        field="nomePaciente"
                        display="menu"
                        matchMode="contains"
                        [showMatchModes]="false"
                        [showOperator]="false"
                        [showAddButton]="false"
                        pTooltip="Filtrar"
                        tooltipPosition="top"
                      ></p-columnFilter>
                    </div>
                  </div>
                </th>
                <th pSortableColumn="nomeDentista" [width]="380" >
                  <div class="flex justify-content-between align-items-center">
                    <div class="flex justify-content-between align-items-center">
                      Dentista
                    </div>
                    <div class="flex justify-content-between align-items-center">
                      <p-sortIcon
                        field="nomeDentista"
                        pTooltip="Ordenar"
                        tooltipPosition="top"
                        ></p-sortIcon>
                      <p-columnFilter
                        type="text"
                        field="nomeDentista"
                        display="menu"
                        matchMode="contains"
                        [showMatchModes]="false"
                        [showOperator]="false"
                        [showAddButton]="false"
                        pTooltip="Filtrar"
                        tooltipPosition="top"
                      ></p-columnFilter>
                    </div>
                  </div>
                </th>

                <th pSortableColumn="dataConsulta" [width]="230">
                  <div class="flex justify-content-between align-items-center">
                    <div class="flex justify-content-between align-items-center">
                      Data Consulta
                    </div>
                    <div class="flex justify-content-between align-items-center">
                      <p-sortIcon
                        field="dataConsulta"
                        pTooltip="Ordenar"
                        tooltipPosition="top"
                        ></p-sortIcon>
                      <p-columnFilter
                      type="date"
                      field="dataConsulta"
                      dateFormt='yyyy-mm-dd'
                      display="menu"
                      pTooltip="Filtrar"
                      tooltipPosition="top"
                      ></p-columnFilter>
                    </div>
                  </div>
                </th>
                <th pSortableColumn="horaConsulta" [width]="230">
                  <div class="flex justify-content-between align-items-center">
                    <div class="flex justify-content-between align-items-center">
                      Hora Consulta
                    </div>
                    <div class="flex justify-content-between align-items-center">
                      <p-sortIcon
                        field="horaConsulta"
                        pTooltip="Ordenar"
                        tooltipPosition="top"
                        ></p-sortIcon>
                      <p-columnFilter
                        type="text"
                        field="horaConsulta"
                        display="menu"
                        matchMode="contains"
                        [showMatchModes]="false"
                        [showOperator]="false"
                        [showAddButton]="false"
                        pTooltip="Filtrar"
                        tooltipPosition="top"
                      ></p-columnFilter>
                    </div>
                  </div>
                </th>
                <th pSortableColumn="status" [width]="180">
                  <div class="flex justify-content-between align-items-center">
                    <div class="flex justify-content-between align-items-center">
                      Status
                    </div>
                    <div class="flex justify-content-between align-items-center">
                      <p-sortIcon
                        field="status"
                        pTooltip="Ordenar"
                        tooltipPosition="top"></p-sortIcon>
                      <p-columnFilter
                        type="text"
                        field="status"
                        display="menu"
                        matchMode="contains"
                        [showMatchModes]="false"
                        [showOperator]="false"
                        [showAddButton]="false"
                        pTooltip="Filtrar"
                        tooltipPosition="top"
                      ></p-columnFilter>
                    </div>
                  </div>
                </th>
                <!-- <th pSortableColumn="status" [width]="180">
                  <div class="flex justify-content-between align-items-center">
                    <div class="flex justify-content-between align-items-center">
                      Pagamento
                    </div>
                    <div class="flex justify-content-between align-items-center">
                      <p-sortIcon
                        field="status"
                        pTooltip="Ordenar"
                        tooltipPosition="top"></p-sortIcon>
                      <p-columnFilter
                        type="text"
                        field="status"
                        display="menu"
                        matchMode="contains"
                        [showMatchModes]="false"
                        [showOperator]="false"
                        [showAddButton]="false"
                        pTooltip="Filtrar"
                        tooltipPosition="top"
                      ></p-columnFilter>
                    </div>
                  </div>
                </th> -->
                <th [width]="250">
                  <div class="flex justify-content-end align-items-center">
                    <p-button icon="pi pi-file-excel" [rounded]="true" [text]="true" severity="success " pTooltip="Exportar para Excel" tooltipPosition="top"></p-button>
                  </div>
                </th>
            </ng-template>

            <ng-template pTemplate="body" let-consulta>
              <tr>
                <td>{{ consulta?.paciente.nome }}</td>
                <td>{{ consulta?.dentista.nome }}</td>
                <td>{{ consulta?.dataConsulta | date: 'dd/MM/yyyy'}}</td>
                <td>{{  consulta?.dataConsulta | date: 'HH:mm' }}</td>
                <td>
                      @if(!consulta.dataHoraInicioAtendimento && !consulta.dataHoraFimAtendimento &&  !consulta.ausente){
                        <p-tag severity="warning" value="&nbsp;Agendada&nbsp;" [rounded]="true"><i class="material-icons" >schedule</i></p-tag>
                      }
                    @else if (consulta.dataHoraInicioAtendimento && !consulta.dataHoraFimAtendimento) {
                      <p-tag severity="primary" value="&nbsp;Em Atendimento&nbsp;" [rounded]="true"><i class="material-icons" >timelapse</i></p-tag>
                      }
                    @else if (consulta.dataHoraInicioAtendimento && consulta.dataHoraFimAtendimento)
                      {
                        <p-tag severity="success" value="&nbsp;Atendido&nbsp;" [rounded]="true"><i class="material-icons" >task_alt</i></p-tag>
                      }
                    @else if (!consulta.dataHoraInicioAtendimento && !consulta.dataHoraFimAtendimento && consulta.ausente)
                      {
                        <p-tag severity="danger" value="&nbsp;Ausente&nbsp;" [rounded]="true"><i class="material-icons" >person_off</i></p-tag>
                      }
                </td>
                <td [width]="230">
                        <div class="flex justify-content-around">
                          <p-button
                            *ngIf="!inicioConsulta"
                            icon="pi pi-pw pi-play"
                            [rounded]="true"
                            [outlined]="true"
                            [severity]="'warning'"
                            [disabled]="consulta?.dataHoraInicioAtendimento || consulta?.ausente"
                            pTooltip="Iniciar Consulta"
                            tooltipPosition="top"
                            (click)="iniciarConsulta(consulta)"
                            >
                          </p-button>
                          <p-button
                          *ngIf="inicioConsulta"
                          icon="pi pi-spin pi-spinner"
                          [rounded]="true"
                          [outlined]="true"
                          [severity]="'warning'"
                          [disabled]="consulta?.dataHoraInicioAtendimento || consulta?.ausente"
                          pTooltip="Iniciar Consulta"
                          tooltipPosition="top"

                          >
                        </p-button>
                          <p-button
                            icon="pi pi-pw pi-info-circle"
                            [rounded]="true"
                            [outlined]="true"
                            severity="info"
                            pTooltip="Informações"
                            tooltipPosition="top"
                            (click)="consultaSelecionadaInfo(consulta?.id, 1)"
                            >
                            <!-- <i class="material-icons">info</i> -->
                          </p-button>
                          <p-button icon="pi pi-pw pi-dollar"
                            [rounded]="true"
                            [outlined]="true"
                            [severity]="consulta.pagamento.pago?'secondary':'success'"

                            [pTooltip]="consulta.pagamento.pago?'Pagamento Realizado':'Pagamento Aberto'"
                            tooltipPosition="top"
                            (onClick)="consultaSelecionadaInfo(consulta?.id, 2)"
                            >
                            <!-- <i class="material-icons">paid</i> -->
                          </p-button>
                          <!-- <p-button icon="pi"
                            [rounded]="true"
                            [outlined]="true"
                            [severity]="consulta?.pagamento.pago? 'secondary':'help'"
                            [disabled]="consulta?.dataHoraAtendimento == null && consulta?.pagamento.pago"
                            pTooltip="Reagendar"
                            tooltipPosition="top"
                            ><i class="material-icons">edit_document</i>
                          </p-button> -->
                          <!-- <p-button icon="pi"
                            [rounded]="true"
                            [outlined]="true"
                            [severity]="consulta?.pagamento.pago? 'secondary':'danger'"
                            [disabled]="consulta?.pagamento.pago"
                            pTooltip="Deletar"
                            tooltipPosition="top"
                            ><i class="material-icons">delete</i>
                          </p-button> -->
                        </div>
                </td>
              </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage">
              <tr >
                  <td colspan="6">Não foram encontrado dados</td>
              </tr>
            </ng-template>
          </p-table>
      </div>
    </div>
  </div>
</div>

<p-dialog header="Nova Consulta" [(visible)]="visible" [modal]="true" [style]="{ width: '40vw', height: '85vh' }" class="box" [draggable]="false" [resizable]="false">
  <app-consulta-nova (closeModal)="closeModal($event)"></app-consulta-nova>
</p-dialog>

<!-- <p-dialog header="Detalhes da consulta" [(visible)]="infoConsulta" [modal]="true" [style]="{ width: '40vw', height: '90vh' }" class="box" [draggable]="false" [resizable]="false">
  <app-consulta-info ></app-consulta-info>
</p-dialog> -->

<p-dialog header="Detalhes da Consulta" [(visible)]="infoConsulta" [modal]="true" [style]="{ width: '80vw',  height: '99vh' }" [draggable]="false" [resizable]="false">
  <app-consulta-info *ngIf="consultaSelecionada" [consultaSelecionada]="consultaSelecionada" (closeModal)="closeModal($event)"></app-consulta-info>
</p-dialog>

<p-dialog header="Pagamento da Consulta" *ngIf="consultaSelecionadaPg" [(visible)]="pagamentoInfo" [modal]="true" [style]="{ width: '40vw',  height: '70vh' }" [draggable]="false" [resizable]="false">
  <!-- <app-pagamento *ngIf="consultaSelecionadaPg"  [consultaSelecionadaPg]="consultaSelecionadaPg"></app-pagamento> -->
  <div class="pg">
    <div class="row m-4 ">
      <div class="flex justify-content-start">
        <span class="z-1"><span class="font-bold m-2"><i class="pi pi-user azul"></i>&nbsp;&nbsp;Paciente:</span> {{consultaSelecionadaPg.paciente.nome}}</span>
      </div>
    </div>

    <div class="row m-4 z-1">
      <div class="flex justify-content-start">
        <span class="z-1"><span class="font-bold m-2"><i class="pi pi-calendar azul"></i>&nbsp;&nbsp;Data Consulta: </span>{{consultaSelecionadaPg.dataConsulta | date:'dd/MM/yyy'}} - {{consultaSelecionadaPg.dataConsulta | date:'HH:mm'}}</span>
      </div>
      <!-- <div class="flex justify-content-around">
        <div class="col-6 flex justify-content-center">
          <i class="pi pi-calendar azul"></i>&nbsp;&nbsp;{{consultaSelecionadaPg.dataConsulta | date:'dd/MM/yyy'}}
        </div>
        <div class="col-6 flex justify-content-center">
          <i class="pi pi-clock azul"></i>&nbsp;&nbsp;{{consultaSelecionadaPg.dataConsulta | date:'HH:mm'}}
        </div>
      </div> -->
    </div>

    <div class="row  flex justify-content-center">
      <div class="col-4">
        <div class="flex justify-content-center">
          <span class="font-bold m-2 z-1">Tipo de Consulta</span>
        </div>
        <div class="flex justify-content-center">
          <span class="z-1"><i class="pi pi-briefcase azul "></i>&nbsp;&nbsp;{{consultaSelecionadaPg.consultaEspecialidade.tipo }}</span>
        </div>
      </div>
      <div class="col-4 ">
        <div class="flex justify-content-center">
          <span class="font-bold m-2 z-1">Tipo de Aparelho</span>
        </div>
        <div class="flex justify-content-center">
          <span class="z-1"><i class="pi pi-calendar azul"></i>&nbsp;&nbsp;{{consultaSelecionadaPg.consultaEspecialidade.tipoAparelho }}</span>
        </div>
      </div>
      <div class="col-4 ">
        <div class="flex justify-content-center">
          <span class="font-bold m-2 z-1">Valor Base</span>
        </div>
        <div class="flex justify-content-center">
          <span class="z-1"> <i class="pi pi-dollar azul"></i>&nbsp;&nbsp;{{consultaSelecionadaPg.consultaEspecialidade.valorBase | currency:'BRL' }}</span>
        </div>
      </div>
    </div>
    <h4 class="flex justify-content-center"><span  class="z-1">Pagamento</span></h4>
    <div class="row flex justify-content-around z-1">
      <div class="field col-3">
        <span class="p-float-label p-input-icon-left width z-1">
          <i class="pi pi-minus azul"></i>
          <input pInputText id="pasta" maxlength="5" required class="width" />
          <label for="pasta" class="azul">Desconto</label>
        </span>
        <!-- <small *ngIf="formulario.controls['numPasta'].errors?.['required']"  class="p-error "><br>* Campo obrigatório</small> -->
      </div>
      <div class="field col-3">
        <span class="p-float-label p-input-icon-left width">
          <i class="pi pi-plus azul"></i>
          <input pInputText id="pasta" maxlength="5" required class="width" />
          <label for="pasta" class="azul">Acrecimo</label>
        </span>
        <!-- <small *ngIf="formulario.controls['numPasta'].errors?.['required']"  class="p-error "><br>* Campo obrigatório</small> -->
      </div>
      <div class="field col-3">
        <span class="p-float-label p-input-icon-left width">
          <i class="pi pi-percentage azul"></i>
          <input pInputText id="pasta" maxlength="5" required class="width" />
          <label for="pasta" class="azul">Reajuste</label>
        </span>
        <!-- <small *ngIf="formulario.controls['numPasta'].errors?.['required']"  class="p-error "><br>* Campo obrigatório</small> -->
      </div>
    </div>
    <div class="row flex justify-content-around z-1">
      <div class="field col-3">
        <span class="p-float-label p-input-icon-left width">
          <i class="pi pi-dollar azul"></i>
          <input pInputText id="pasta" maxlength="5" class="width" value="184,90" [disabled]="true" />
          <label for="pasta" class="azul">Total</label>
        </span>
        <!-- <small *ngIf="formulario.controls['numPasta'].errors?.['required']"  class="p-error "><br>* Campo obrigatório</small> -->
      </div>

    </div>
    <!-- <div class="row flex justify-content-center">
      <button type="submit" (click)="closeModalPagamento()">Voltar</button>
    </div> -->

  </div>
</p-dialog>





