<div class="lg:py-4 text-indigo-800">
    <div class="flex flex-row-reverse flex-wrap mb-3">
        <button pButton type="button" label="Novo funcionario" (click)="cadastroFunc()" icon="pi pi-user-plus" class="web"></button>
        <p-button icon="pi pi-plus" [rounded]="true"  (click)="cadastroFunc()" [style]="{'background': '#2070b4'}" class="mobile"></p-button>
    </div>
    <div>
        <p-table
        #productsTable
        [value]="listaFuncionarios"
        [rows]="10"
        [paginator]="true"
        [responsive]="true"
        [globalFilterFields]="['nome', 'cargo', 'telefone', 'dataAdmissao', 'status']"
        [tableStyle]="{ 'min-width': '75rem' }"
        [rowHover]="true"
        [showCurrentPageReport]="true"
        dataKey="id"
        currentPageReportTemplate="{first} de {last} de {totalRecords}"
      >
        <ng-template pTemplate="header">
          <tr>
            <th></th>
            <th pSortableColumn="nome">
              <div class="flex justify-content-between align-items-center">
                <div class="flex justify-content-between align-items-center">
                  Nome
                </div>
                <div class="flex justify-content-between align-items-center">
                  <p-sortIcon
                    field="nome"
                    pTooltip="Ordenar"
                    tooltipPosition="top"
                  ></p-sortIcon>
                  <p-columnFilter
                  type="text"
                  field="nome"
                  display="menu"
                  pTooltip="Filtrar"
                  tooltipPosition="top"
                  ></p-columnFilter>
                </div>
              </div>
            </th>
            <th pSortableColumn="cargo">
              <div class="flex justify-content-between align-items-center">
                <div class="flex justify-content-center align-items-center">
                  Função
                </div>
                <div class="flex justify-content-center align-items-center">
                  <p-sortIcon
                    field="cargo"
                    pTooltip="Ordenar"
                    tooltipPosition="top"
                  ></p-sortIcon>
                  <p-columnFilter
                  type="text"
                  field="cargo"
                  display="menu"
                  pTooltip="Filtrar"
                  tooltipPosition="top"
                  ></p-columnFilter>
                </div>
              </div>
            </th>
            <th pSortableColumn="telefone">
              <div class="flex justify-content-between align-items-center">
                <div class="flex justify-content-between align-items-center">
                  Telefone
                </div>
                <div class="flex justify-content-between align-items-center">
                  <p-sortIcon
                    field="telefone"
                    pTooltip="Ordenar"
                    tooltipPosition="top"
                  ></p-sortIcon>
                  <p-columnFilter
                  type="text"
                  field="telefone"
                  display="menu"
                  pTooltip="Filtrar"
                  tooltipPosition="top"
                  ></p-columnFilter>
                </div>
              </div>
            </th>
            <th pSortableColumn="role">
              <div class="flex justify-content-between align-items-center">
                <div class="flex justify-content-between align-items-center">
                  Perfil Acesso
                </div>
                <div class="flex justify-content-between align-items-center">
                  <p-sortIcon
                    field="role"
                    pTooltip="Ordenar"
                    tooltipPosition="top"
                  ></p-sortIcon>
                  <p-columnFilter
                    type="text"
                    field="role"
                    display="menu"
                    pTooltip="Filtrar"
                    tooltipPosition="top"
                  ></p-columnFilter>
                </div>
              </div>
            </th>
            <th pSortableColumn="dataAdmissao">
              <div class="flex justify-content-between align-items-center">
                <div class="flex justify-content-between align-items-center">
                  Data Admissão
                </div>
                <div class="flex justify-content-between align-items-center">
                  <p-sortIcon
                    field="dataAdmissao"
                    pTooltip="Ordenar"
                    tooltipPosition="top"
                  ></p-sortIcon>
                  <p-columnFilter
                  type="date"
                  field="dataAdmissao"
                  dateFormat="dd/MM/yyyy"
                  display="menu"
                  pTooltip="Filtrar"
                  tooltipPosition="top"
                  ></p-columnFilter>
                </div>
              </div>
            </th>
            <th pSortableColumn="ativo" [width]="180">
              <div class="flex justify-content-between align-items-center">
                <div class="flex justify-content-between align-items-center">
                  Status
                  <div class="flex align-items-center gap-2" *ngIf="selectedStatus">
                    <p-tag
                    [severity]="selectedStatus?.status ? 'success' : 'danger'"

                    [rounded]="true"
                    [style]="{'font-size': '12px', 'font-weight': '400', 'padding-left': '10px'}"
                    [icon]="selectedStatus.status ? 'pi pi-verified' : 'pi pi-ban'"
                  >
                  </p-tag>
                  </div>
                </div>
                <div class="flex justify-content-between align-items-center">
                  <p-sortIcon
                    field="ativo"
                    pTooltip="Ordenar"
                    tooltipPosition="top"
                  ></p-sortIcon>

                    <p-columnFilter field="ativo" matchMode="equals" display="menu" [showMatchModes]="false" [showOperator]="false" [showAddButton]="false">
                    <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                        <p-dropdown [(ngModel)]="selectedStatus" [options]="statuses" placeholder="Status">
                        <ng-template pTemplate="selectedItem">
                            <div class="flex align-items-center gap-2" *ngIf="selectedStatus">
                            <p-tag
                            [severity]="selectedStatus?.status ? 'success' : 'danger'"
                            [value]="selectedStatus?.status ? ' Ativo ' : ' Inativo '"
                            [rounded]="true"
                            [style]="{'font-size': '12px', 'font-weight': '400'}"
                            [icon]="selectedStatus.status ? 'pi pi-verified' : 'pi pi-ban'"
                            >
                            </p-tag>
                            </div>
                        </ng-template>
                        <ng-template let-option pTemplate="item">
                            <p-tag
                            [severity]="option?.status ? 'success' : 'danger'"
                            [value]="option?.status ? ' Ativo ' : ' Inativo '"
                            [rounded]="true"
                            [style]="{'font-size': '12px', 'font-weight': '400'}"
                            [icon]="option.status ? 'pi pi-verified' : 'pi pi-ban'"
                            >
                            </p-tag>
                        </ng-template>
                        </p-dropdown>
                    </ng-template>
                    </p-columnFilter>
                </div>
              </div>
            </th>
            <th></th>

        </ng-template>

        <ng-template pTemplate="body" let-func>
          <tr>
            <td [width]="60">
              <p-avatar
                image="https://primefaces.org/cdn/primeng/images/demo/avatar/amyelsner.png"
                styleClass=""
                size="large"
                shape="circle"
              />
            </td>
            <td >{{ func?.nome }}</td>
            <td>{{ func?.cargo.nome }}</td>
            <td>{{ func?.telefone }}</td>
            <td >{{ func?.role }} - {{ func?.nivelAcesso }}</td>
            <td >{{ func?.dataAdmissao | date: "dd/MM/yyyy"}}</td>
            <td>
              <p-tag
                [severity]="func?.ativo? 'success':'danger'"
                [value]="func?.ativo? ' Ativo ':' Inativo '"
                [rounded]="true"
                [style]="{'font-size': '12px', 'font-weight': '400'}"
                [icon]="func.ativo? 'pi pi-verified' : 'pi pi-ban'"
              >
              </p-tag>

            </td>
            <td>
              <div
                class="flex justify-content-around">
                  <p-button
                    icon="pi pi-pw pi-info-circle"
                    [rounded]="true"
                    [text]="true"
                    severity="info"
                    pTooltip="Informações"
                    tooltipPosition="top"
                    (click)="info(func.id)"

                  ></p-button>
                  <!-- <p-button
                    icon="pi pi-pw pi-info-circle"
                    [rounded]="true"
                    severity="info"
                    [outlined]="true"
                    pTooltip="Informações"
                    tooltipPosition="top"
                    (click)="info(paciente.id)"
                  >
                  </p-button> -->
                  <!-- <p-button
                    icon="pi pi-pw pi-ban"
                    [rounded]="true"
                    severity="danger"
                    [outlined]="true"
                    pTooltip="Deletar"
                    tooltipPosition="top"
                    (click)="delet(paciente.id)"
                  >
                  </p-button> -->
                  <p-button
                    icon="pi pi-pw pi-trash"
                    [rounded]="true"
                    [text]="true"
                    severity="danger"
                    pTooltip="Inativar"
                    tooltipPosition="top"
                    (click)="info(func.id)"
                    [disabled]="!func.status"
                  ></p-button>

              </div>
            </td>
          </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
          <tr >
            <td colspan="6"> <span class="flex justify-content-center"> Não foram encontrado dados</span></td>
          </tr>
        </ng-template>
      </p-table>
    </div>
</div>






<p-dialog header='Novo funcionario' [(visible)]="novoFuncionario" [style]="{ width: '80vw',  height: 'auto' }" [modal]="true" [draggable]="false" [resizable]="false" [closable]="true" class="">
    <ng-template pTemplate="content">
      <app-novo-funcionario></app-novo-funcionario>
    </ng-template>
</p-dialog>
