<!-- <div class="row flex justify-content-center new ">
  <div class="py-5 px-8">
    <form  [formGroup]="formulario" (ngSubmit)="onSubmit()">
      <div class="card ">
        <div class="row lg:flex lg:justify-content-around ">

          <div class=" md:col-12 lg:col-4">
            <span class="p-float-label p-input-icon-left p-input-icon-right width">
              <i class="pi pi-user azul"></i>
              <i [ngClass]="loading? 'pi pi-spin pi-spinner azul': ''" style="font-size: 1.3rem"></i>
              <i [ngClass]="validacaoLogin? 'pi pi-check azul': ''" style="font-size: 1.3rem; color: #136C34"></i>
              <input pInputText id="login" formControlName="login" required (input)="buscaLogin()" minlength="3" [style]="validacaoLogin? 'border-color:  #136C34': ''" class="width"/>
              <label for="login " class="azul">Login</label>
            </span>
            <small *ngIf="formulario.controls['login'].errors?.['required']" class="p-error"><br>* Campo obrigatório</small>
            <small *ngIf="formulario.controls['login'].errors?.['loginEmUso']" class="p-error"><br>Login digitado já está em uso.</small>
            <small *ngIf="validacaoLogin" style="color: #136C34"><br>O login é válido.</small>
          </div>

          <div class=" md:col-12 lg:col-4">
            <span class="p-float-label p-input-icon-left p-input-icon-right  width">
              <i class="pi pi-key azul"></i>
              <i [ngClass]="hide? 'pi pi-eye azul' : 'pi pi-eye-slash azul'" (click)="hide = !hide"></i>
              <input pInputText [type]="hide ? 'text' : 'password'" id="password" formControlName="senha" class="width"/>
              <label for="password" class="azul">Senha</label>
            </span>
            <small *ngIf="formulario.controls['senha'].errors?.['required']"  class="p-error "><br>* Campo obrigatório</small>
          </div>

          <div class=" md:col-12 lg:col-4">
            <span class="p-float-label p-input-icon-right width">
              <p-calendar inputId="dataNascimento" formControlName="dataNascimento" [iconDisplay]="'input'" [showIcon]="true" [showTime]="false" [showButtonBar]="false" dateFormat="dd/mm/yy" class="width" appendTo="body" [autoZIndex]="true">
                <ng-template pTemplate="inputicon" let-clickCallBack="clickCallBack" class="p-input-icon-right">
                  <i class="pi pi-calendar azul" (click)="clickCallBack($event)"></i>
                </ng-template>
              </p-calendar>
              <label for="dataNascimento" class="azul">Data Nascimento</label>
            </span>
            <small *ngIf="formulario.controls['dataNascimento'].errors?.['required']"  class="p-error "><br>* Campo obrigatório</small>
          </div>

        </div>

        <div class=" row lg:flex lg:justify-content-center  my-3">

            <div class=" md:col-12 lg:col-5 ">
              <span class="p-float-label p-input-icon-left width"  >
                <i class="pi pi-pencil azul"></i>
                <input pInputText id="nome" formControlName="nome" required class="width" />
                <label for="nome" class="azul">Nome Completo</label>
              </span>
              <small *ngIf="formulario.controls['nome'].errors?.['required']"  class="p-error "><br>* Campo obrigatório</small>
            </div>

            <div class=" md:col-12 lg:col-4">
              <span class="p-float-label p-input-icon-left p-input-icon-right width">
                <i class="pi pi-id-card azul"></i>
                @if (!validacaoCPF && validacaoCPF != null || existeCPF) {
                  <i class='pi pi-times' style="font-size: 1.3rem; color: #FF3D32"></i>
                }
                @else if (validacaoCPF && validacaoCPF != null) {
                  <i class='pi pi-check' style="font-size: 1.3rem; color: #136C34"></i>
                }
                <input pInputText id="cpf" formControlName="cpf" maxlength="14" minlength="11" (input)="validaCPF()" required  [style]="validacaoCPF && validacaoCPF != null? 'border-color:  #136C34': 'none'" class="width"/>
                <label for="cpf" class="azul">CPF</label>
              </span>
              <small *ngIf="formulario.controls['cpf'].errors?.['required']"  class="p-error "><br>* Campo obrigatório</small>
              <small *ngIf="!validacaoCPF && validacaoCPF != null || existeCPF"  class="p-error "><br>CPF inválido ou já cadastrado</small>
              <small *ngIf="validacaoCPF && validacaoCPF != null"  style="color: #136C34"><br>CPF válido</small>
            </div>

            <div class=" md:col-12 lg:col-3">
              <span class="p-float-label" [style]="{width: '100%'}">
                <p-dropdown [options]="especialidades" appendTo="body" [autoZIndex]="true" formControlName="especialidade" placeholder="" optionLabel="tipo" inputId="float-label" [style]="{width: '100%'}"></p-dropdown>
                <label for="float-label" class="azul">Especialidade</label>

              </span>
              <small *ngIf="formulario.controls['especialidade'].errors?.['required']"  class="p-error ">* Campo obrigatório</small>
            </div>

        </div>

        <div class="row lg:flex lg:justify-content-center my-3">

          <div class=" md:col-12 lg:col-3">
            <span class="p-float-label p-input-icon-left width">
              <i class="pi pi-id-card azul"></i>
              <input pInputText id="cro" formControlName="cro" maxlength="5" required  class="width" />
              <label for="cro" class="azul">CRO</label>
            </span>
            <small *ngIf="formulario.controls['cro'].errors?.['required']"  class="p-error "><br>* Campo obrigatório</small>
          </div>

          <div class=" md:col-12 lg:col-3">
            <span class="p-float-label p-input-icon-left width">
              <i class="pi pi-phone azul"></i>
              <input pInputText id="telefone" formControlName="telefone" (input)="replaceTelefone(1)" required class="width" />
              <label for="cpf" class="azul">Telefone</label>
            </span>
            <small *ngIf="formulario.controls['telefone'].errors?.['required']"  class="p-error "><br>* Campo obrigatório</small>
          </div>

          <div class=" md:col-12 lg:col-6 ">
            <span class="p-float-label p-input-icon-left width">
              <i class="pi pi-envelope azul"></i>
              <input pInputText id="email" formControlName="email" required  class="width" />
              <label for="email" class="azul">Email</label>
            </span>
            <small *ngIf="formulario.controls['email'].errors?.['required']"  class="p-error "><br>* Campo obrigatório</small>
          </div>

        </div>
        <div>
          <div class="row lg:flex lg:justify-content-center">
            <span class="azul text-lg" ><i class="pi pi-palette azul"></i>&nbsp;&nbsp;Escolha a cor primaria do dentista: <p-colorPicker formControlName="corDentista" appendTo="body" [autoZIndex]="true"></p-colorPicker></span>
          </div>
          <small *ngIf="formulario.controls['corDentista']"  class="p-error flex justify-content-center">* Escolha obrigatória</small>
        </div>

        <div class="row lg:flex lg:justify-content-evenly lg:align-items-center mb-5">
          <div class="lg:col-4 md:col-12 flex justify-content-center align-items-center " >
            <div class="flex justify-content-center align-items-center " [style]="{'background-color': getCorDentistaOpacidade(), 'border-color': getCorDentista(), 'border-width':'1px', 'border-radius': '8px', 'border-style':'solid', 'width':'10vw', 'height':'5vh'}">
              <p class="font-bold" [style]="{'color': getCorDentista()}">Texto para teste </p>

            </div>
          </div>
          <div class="lg:col-4 md:col-12 flex justify-content-center">
            <p-chart type="line"
            height="80"
            width="180"
            [responsive]="true"
            [data]="{
              labels: [ '', '', '', '','',''],
              datasets: [
                {
                  fill: false,
                  data: [35, 41, 37, 33, 39, 35],
                  borderColor: getCorDentista(),
                  tension: 0.4
                }
              ],
            }"
            [options]="{
              maintainAspectRatio: false,
              aspectRatio: 3,
              name: false,
              plugins: {
                legend: {
                  display: false
                }
              },
              scales: {
                  x: {
                    display: false,
                    ticks: {
                        color: 'transparent',
                      },
                      grid: {
                        color: 'transparent',
                        drawBorder: false
                      }
                  },
                  y: {
                    display: false,
                      ticks: {
                        color: 'transparent',
                      },
                      grid: {
                        color: 'transparent',
                          drawBorder: false
                      }
                  }
              },
              elements: {
                point: {
                    radius:0
                },

              },
              layout: {
                padding: {
                left: 0,
                right: 0,
                top: 5,
                bottom: 5
              }
              }
            }"

            ></p-chart>
          </div>
          <div class="lg:col-4 md:col-12 flex justify-content-center">
            <button pButton type="button" label="Teste" icon="pi pi-check" [style]="{'background-color': getCorDentista()}"></button>
          </div>
        </div>
      </div>

      <div class="flex justify-content-around lg:justify-content-between align-content-center">
        <p-button label="Voltar" [rounded]="true" severity="danger" [outlined]="true" icon="pi pi-times" class="" (click)="fecharModal()"></p-button>
        <p-button type="submit"  label="Salvar" [rounded]="true" severity="success"  icon="pi pi-save" class=""></p-button>
      </div>
    </form>
  </div>
</div> -->

<p-stepper [(activeStep)]="active">

  <p-stepperPanel>
    <ng-template pTemplate="header"  let-onClick="onClick" let-index="index">
        <div >
          <div class="flex justify-content-center align-items-center">
            <span
              class="border-round-2xl border-2 w-3rem h-3rem inline-flex align-items-center justify-content-center"
              [ngClass]="{
                'border-green-600 bg-green-50': active > 0  || (this.formulario.valid),
                'border-blue-100 bg-blue-50 opacity-40': active < 0,
                'border-blue-500 bg-blue-50': active == 0
              }"
            >
              <i [ngClass]="(active > 0) || (this.formulario.valid) ? 'pi pi-fw pi-check text-green-600 font-semibold flipleft animation-duration-300 animation-1':'pi pi-fw pi-user flipright animation-duration-300 animation-iteration-1 text-blue-600 font-semibold'"></i>
            </span>
          </div>
          <div class="flex justify-content-center align-items-center mt-1">
            <span class="font-semibold"
            [ngClass]="{
              'text-green-600': active > 0 || (this.formulario.valid) ,
              'text-blue-500 opacity-40': active < 0,
              'text-blue-500': active == 0
            }"
            >Informações</span>
          </div>
        </div>
    </ng-template>
    <ng-template pTemplate="content" let-nextCallback="nextCallback">
      <div class="new p-4 mt-3" >
        <form  [formGroup]="formulario" (ngSubmit)="onSubmit()">
          <div class="row lg:flex lg:justify-content-center mt-2">
            <div class=" md:col-12 lg:col-3">
              <span class="p-float-label p-input-icon-left p-input-icon-right width">
                <i class="pi pi-user azul"></i>
                <i [ngClass]="loading? 'pi pi-spin pi-spinner azul': ''" style="font-size: 1.3rem"></i>
                <i [ngClass]="validacaoLogin? 'pi pi-check azul': ''" style="font-size: 1.3rem; color: #136C34"></i>
                <input pInputText id="login" formControlName="login" aria-describedby="username-help" required (input)="buscaLogin()" minlength="3" [style]="validacaoLogin? 'border-color:  #136C34': ''" class="width" [ngClass]="{'ng-invalid ng-dirty': formulario.controls['login'].invalid && formulario.controls['login'].touched}"/>
                <label for="login " class="azul">Login <span class="p-error ">*</span></label>
              </span>
              <small *ngIf="formulario.controls['login'].errors?.['loginEmUso']" id="username-help" class="p-error"><br>Login digitado já está em uso.</small>
              <small *ngIf="validacaoLogin" style="color: #136C34"><br>O login é válido.</small>
            </div>

            <div class="md:col-12 lg:col-3">
              <p-floatLabel>
                <p-password id="password" formControlName="senha" [toggleMask]="true" class="w-full" [ngClass]="{'ng-invalid ng-dirty': formulario.controls['senha'].invalid && formulario.controls['senha'].touched}"/>
                <label for="password" class="azul">Senha <span class="p-error ">*</span></label>
              </p-floatLabel>
            </div>

            <div class="col-2"></div>

            <div class="md:col-12 lg:col-3">
              <span class="p-float-label p-input-icon-right width">
                <p-calendar inputId="dataNascimento" formControlName="dataNascimento" [iconDisplay]="'input'" [showIcon]="true" [showTime]="false" [showButtonBar]="false" dateFormat="dd/mm/yy" class="width" appendTo="body" [autoZIndex]="true"  [ngClass]="{'ng-invalid ng-dirty': formulario.controls['dataNascimento'].invalid && formulario.controls['dataNascimento'].touched}">
                  <ng-template pTemplate="inputicon" let-clickCallBack="clickCallBack" class="p-input-icon-right">
                    <i class="pi pi-calendar azul" (click)="clickCallBack($event)"></i>
                  </ng-template>
                </p-calendar>
                <label for="dataNascimento" class="azul">Data Nascimento <span class="p-error ">*</span></label>
              </span>
            </div>

          </div>

          <div class=" row lg:flex lg:justify-content-center mt-3">
              <div class="md:col-12 lg:col-5 ">
                <span class="p-float-label p-input-icon-left width"  >
                  <i class="pi pi-pencil azul"></i>
                  <input pInputText id="nome" formControlName="nome" required class="width" [ngClass]="{'ng-invalid ng-dirty': formulario.controls['nome'].invalid && formulario.controls['nome'].touched}" />
                  <label for="nome" class="azul">Nome Completo <span class="p-error ">*</span></label>
                </span>
              </div>

              <div class=" md:col-12 lg:col-3">
                <span class="p-float-label p-input-icon-left p-input-icon-right width">
                  <i class="pi pi-id-card azul"></i>
                  <i class='pi pi-times' style="font-size: 1.3rem; color: #FF3D32" *ngIf="!validacaoCPF && validacaoCPF != null || existeCPF"></i>
                  <i class='pi pi-check' style="font-size: 1.3rem; color: #136C34" *ngIf="validacaoCPF && validacaoCPF != null"></i>
                  <input pInputText id="cpf" formControlName="cpf" maxlength="14" minlength="11" (input)="validaCPF()" required  [style]="validacaoCPF && validacaoCPF != null? 'border-color:  #136C34': 'none'" class="width" [ngClass]="{'ng-invalid ng-dirty': formulario.controls['cpf'].invalid && formulario.controls['cpf'].touched}" />
                  <label for="cpf" class="azul">CPF <span class="p-error ">*</span></label>
                </span>
                <small *ngIf="!validacaoCPF && validacaoCPF != null || existeCPF"  class="p-error "><br>CPF inválido ou já cadastrado</small>
                <small *ngIf="validacaoCPF && validacaoCPF != null"  style="color: #136C34"><br>CPF válido</small>
              </div>
              <!-- <div class=" md:col-12 lg:col-3">
                <span class="p-float-label p-input-icon-left p-input-icon-right width">
                  <i class="pi pi-id-card azul"></i>
                  <i
                    class="pi "
                    *ngIf="validacaoCPF !== null"
                    [class.pi-check]="validacaoCPF"
                    [class.pi-times]="!validacaoCPF || existeCPF"
                    [style.color]="validacaoCPF ? '#136C34' : '#FF3D32'"
                    style="font-size: 1.3rem;">
                  </i>
                  <input
                    pInputText
                    id="cpf"
                    formControlName="cpf"
                    maxlength="14"
                    minlength="11"
                    (input)="validaCPF()"
                    required
                    class="width"
                    [ngClass]="{'ng-invalid ng-dirty': formulario.controls['cpf'].invalid && formulario.controls['cpf'].touched}"
                    [style.borderColor]="validacaoCPF ? '#136C34' : ''" />
                  <label for="cpf" class="azul">CPF</label>
                </span>
                <small *ngIf="validacaoCPF !== null" [class.p-error]="!validacaoCPF || existeCPF" [style.color]="validacaoCPF ? '#136C34' : ''">
                  <br>{{ validacaoCPF ? 'CPF válido' : 'CPF inválido ou já cadastrado' }}
                </small>
              </div> -->


              <div class=" md:col-12 lg:col-3">
                <span class="p-float-label" [style]="{width: '100%'}">
                  <!-- <p-dropdown [options]="especialidades" formControlName="especialidade" optionLabel="tipo" placeholder="Especialidade" inputId="float-label" ></p-dropdown> -->
                  <p-dropdown [options]="especialidades" appendTo="body" [autoZIndex]="true" formControlName="especialidade" placeholder="" optionLabel="tipo" inputId="float-label" [style]="{width: '100%'}" [ngClass]="{'ng-invalid ng-dirty': formulario.controls['especialidade'].invalid && formulario.controls['especialidade'].touched}"></p-dropdown>
                  <label for="float-label" class="azul">Especialidade <span class="p-error ">*</span></label>
                </span>
              </div>

          </div>

          <div class="row lg:flex lg:justify-content-center mt-3">

            <div class=" md:col-12 lg:col-3">
              <span class="p-float-label p-input-icon-left width">
                <i class="pi pi-id-card azul"></i>
                <input pInputText id="cro" formControlName="cro" maxlength="5" required  class="width" [ngClass]="{'ng-invalid ng-dirty': formulario.controls['cro'].invalid && formulario.controls['cro'].touched}"/>
                <label for="cro" class="azul">CRO <span class="p-error ">*</span></label>
              </span>
            </div>

            <div class=" md:col-12 lg:col-3">
              <span class="p-float-label p-input-icon-left width">
                <i class="pi pi-phone azul"></i>
                <input pInputText id="telefone" formControlName="telefone" (input)="replaceTelefone(1)" required class="width" [ngClass]="{'ng-invalid ng-dirty': formulario.controls['telefone'].invalid && formulario.controls['telefone'].touched}"/>
                <label for="cpf" class="azul">Telefone  <span class="p-error ">*</span></label>
              </span>

            </div>

            <div class=" md:col-12 lg:col-5 ">
              <span class="p-float-label p-input-icon-left width">
                <i class="pi pi-envelope azul"></i>
                <input pInputText id="email" formControlName="email" required  class="width" [ngClass]="{'ng-invalid ng-dirty': formulario.controls['email'].invalid && formulario.controls['email'].touched}"/>
                <label for="email" class="azul">Email <span class="p-error ">*</span></label>
              </span>
            </div>

          </div>

          <!-- <div class="flex justify-content-around lg:justify-content-between align-content-center">
            <p-button label="Voltar" [rounded]="true" severity="danger" [outlined]="true" icon="pi pi-times" class="" (click)="fecharModal()"></p-button>
            <p-button type="submit"  label="Salvar" [rounded]="true" severity="success"  icon="pi pi-save" class=""></p-button>
          </div> -->
        </form>
        <div class="row flex justify-content-center">
          <small class="p-error "><br>* Campos obrigatórios</small>
        </div>
      </div>
      <div class="flex pt-4 justify-content-end">
        <p-button (click)="validaFormulario(1)" type="ngSubmit" [disabled]="!formulario.valid" [rounded]="true" label="Próximo" icon="pi pi-arrow-right" iconPos="right" />
      </div>
    </ng-template>
  </p-stepperPanel>

  <p-stepperPanel>
      <ng-template pTemplate="header"  let-onClick="onClick" let-index="index">
        <div >
          <div class="flex justify-content-center align-items-center">
            <span
              class="border-round-2xl border-2 w-3rem h-3rem inline-flex align-items-center justify-content-center"
              [ngClass]="{
                'border-green-600 bg-green-50': (active > 1) || (this.formEndereco.valid) ,
                'border-blue-100 bg-blue-50 opacity-40': active < 1 ,
                'border-blue-500 bg-blue-50': active == 1
              }"
            >
              <i [ngClass]="(active > 1) || (this.formEndereco.valid) ? 'pi pi-fw pi-check text-green-600 font-semibold flipleft animation-duration-300 animation-1':'pi pi-fw pi-map-marker flipright animation-duration-300 animation-iteration-1 text-blue-600 font-semibold'"></i>
            </span>
          </div>
          <div class="flex justify-content-center align-items-center mt-1">
            <span class="font-semibold"
              [ngClass]="{
                'text-green-600': (active > 1) || (this.formEndereco.valid)  ,
                'text-blue-500 opacity-40': active < 1 ,
                'text-blue-500': active == 1
              }"

              >Endereço</span>
          </div>
        </div>
      </ng-template>
      <ng-template pTemplate="content" let-prevCallback="prevCallback" let-nextCallback="nextCallback">
        <div class="new p-4 mt-3" >
          <form [formGroup]="formEndereco" autocomplete="off">

            <div class="row lg:flex lg:justify-content-center mt-2" >
              <div class="field md:col-12 lg:col-3">
                <span class="p-float-label p-input-icon-left p-input-icon-right width">
                  <i class="pi pi-map-marker azul"></i>
                  <i [ngClass]="loading? 'pi pi-spin pi-spinner': ''" style="font-size: 1.3rem"></i>
                  <input pInputText #cepInput id="cep" formControlName="cep" required (input)="buscaCEP()" minlength="8" maxlength="9" class="width" [ngClass]="{'ng-invalid ng-dirty': formEndereco.controls['cep'].invalid && formEndereco.controls['cep'].touched}" />
                  <label for="cep" class="azul">CEP <span class="p-error ">*</span></label>
                </span>
                <small *ngIf="formEndereco.get('cep')?.hasError('invalido') && formEndereco.get('cep')?.touched"  class="p-error "><br>O CEP informado é inválido.</small>
              </div>

              <div class="field md:col-12 lg:col-4">
                <span class="p-float-label p-input-icon-left width">
                  <i class="pi pi-map-marker azul"></i>
                  <input pInputText id="cidade" formControlName="cidade" required class="width" [ngClass]="{'ng-invalid ng-dirty': formEndereco.controls['cidade'].invalid && formEndereco.controls['cidade'].touched}" />
                  <label for="cidade" class="azul">Cidade <span class="p-error ">*</span></label>
                </span>
                <!-- <small *ngIf="formEndereco.get('endereco.cidade')?.hasError('required')"  class="p-error "><br>* Campo obrigatório</small> -->
              </div>

              <div class="field md:col-12 lg:col-4">
                <span class="p-float-label p-input-icon-left width">
                  <i class="pi pi-map-marker azul"></i>
                  <input pInputText id="bairro" formControlName="bairro" required class="width" [ngClass]="{'ng-invalid ng-dirty': formEndereco.controls['bairro'].invalid && formEndereco.controls['bairro'].touched}"/>
                  <label for="bairro" class="azul">Bairro <span class="p-error ">*</span></label>
                </span>
                <!-- <small *ngIf="formEndereco.get('endereco.bairro')?.hasError('required')"  class="p-error "><br>* Campo obrigatório</small> -->
              </div>
            </div>

            <div class="row lg:flex lg:justify-content-center">
              <div class="field md:col-12 lg:col-5">
                <span class="p-float-label p-input-icon-left width">
                  <i class="pi pi-map azul"></i>
                  <input pInputText id="logradouro" formControlName="logradouro" required class="width" [ngClass]="{'ng-invalid ng-dirty': formEndereco.controls['logradouro'].invalid && formEndereco.controls['logradouro'].touched}"/>
                  <label for="logradouro" class="azul">Logradouro <span class="p-error ">*</span></label>
                </span>
                <!-- <small *ngIf="formEndereco.get('endereco.logradouro')?.hasError('required')"  class="p-error "><br>* Campo obrigatório</small> -->
              </div>

              <div class="field md:col-12 lg:col-2">
                <span class="p-float-label p-input-icon-left width">
                  <i class="pi pi-map azul"></i>
                  <input pInputText #numeroInput  id="numero" formControlName="numero" required class="width" [ngClass]="{'ng-invalid ng-dirty': formEndereco.controls['numero'].invalid && formEndereco.controls['numero'].touched}"/>
                  <label for="numero" class="azul">Número <span class="p-error ">*</span></label>
                </span>
                <!-- <small *ngIf="formEndereco.get('endereco.numero')?.hasError('required')"  class="p-error "><br>* Campo obrigatório</small> -->
              </div>
              <div class="field md:col-12 lg:col-4">
                <span class="p-float-label p-input-icon-left width">
                  <i class="pi pi-map azul"></i>
                  <input pInputText id="complemento" formControlName="complemento" required class="width" [ngClass]="{'ng-invalid ng-dirty': formEndereco.controls['complemento'].invalid && formEndereco.controls['complemento'].touched}"/>
                  <label for="complemento" class="azul">Complemento <span class="p-error ">*</span></label>
                </span>
                <!-- <small *ngIf="formEndereco.get('endereco.complemento')?.hasError('required')"   class="p-error "><br>* Campo obrigatório</small> -->
              </div>

            </div>

            <div class="row lg:flex lg:justify-content-center">

              <div class="field md:col-12 lg:col-4">
                <span class="p-float-label p-input-icon-left width">
                  <i class="pi pi-map azul"></i>
                  <input pInputText id="referencia" formControlName="referencia" class="width" />
                  <label for="referencia" class="azul">Referencia</label>
                </span>
              </div>
            </div>
          </form>
          <div class="row flex justify-content-center">
            <small class="p-error "><br>* Campos obrigatórios</small>
          </div>
        </div>
        <div class="flex pt-4 justify-content-between">
          <p-button (onClick)="prevCallback.emit(); " [rounded]="true" label="Voltar" severity="secondary" icon="pi pi-arrow-left" />
          <p-button (onClick)="validaFormulario(2);" [disabled]="!formEndereco.valid" [rounded]="true" label="Próximo" icon="pi pi-arrow-right" iconPos="right" />
        </div>

      </ng-template>
  </p-stepperPanel>

  <p-stepperPanel>
    <ng-template pTemplate="header"  let-onClick="onClick" let-index="index">
      <div >
        <div class="flex justify-content-center align-items-center">
          <span
            class="border-round-2xl border-2 w-3rem h-3rem inline-flex align-items-center justify-content-center"
            [ngClass]="{
              'border-green-600 bg-green-50': (active > 2) || (this.formCustomizacao.valid) ,
              'border-blue-100 bg-blue-50 opacity-40': active < 2 ,
              'border-blue-500 bg-blue-50': active == 2
            }"
          >
            <i [ngClass]="(active > 2) || (this.formCustomizacao.valid) ? 'pi pi-fw pi-check text-green-600 font-semibold flipleft animation-duration-300 animation-1':'pi pi-fw pi-palette flipright animation-duration-300 animation-iteration-1 text-blue-600 font-semibold'"></i>
          </span>
        </div>
        <div class="flex justify-content-center align-items-center mt-1">
          <span class="font-semibold"
            [ngClass]="{
              'text-green-600': (active > 2) || (this.formCustomizacao.valid)  ,
              'text-blue-500 opacity-40': active < 2 ,
              'text-blue-500': active == 2
            }"

            >Customização</span>
        </div>
      </div>
    </ng-template>
    <ng-template pTemplate="content" let-prevCallback="prevCallback" let-nextCallback="nextCallback">
      <div class="new p-4 mt-3">
        <form [formGroup]="formCustomizacao" autocomplete="off" class="flex ">
          <div class="col-6 ">
            <div class="row">
              <input pInputFile type="file" formControlName="fotoPerfil" (change)="onFileSelected($event)">
            </div>
            <div class="row">
              <div class="col-5" >
                <h4 class="flex justify-content-center">Previsualização da imagem</h4>
                <p-skeleton width="13rem" height="6rem" *ngIf="!imagemSelecionada" class="flex justify-content-center "></p-skeleton>
                <p-image *ngIf="imagemSelecionada"
                  [src]="imagemSelecionada"
                  width="180"
                  alt="Nova foto de perfil"
                  class="flex justify-content-center"
                ></p-image>
              </div>
            </div>

          </div>
          <div class="col-6">
            <div class="row">
              <div class="lg:flex lg:justify-content-center col-6">
                <span class="azul text-lg" ><i class="pi pi-palette azul"></i>&nbsp;&nbsp;Escolha a cor primaria do dentista: <span class="p-error ">*</span><br>
                </span>
              </div>
              <div class="lg:flex lg:justify-content-center mt-2">
                <p-colorPicker formControlName="corDentista" appendTo="body" [inline]="true" [autoZIndex]="true"></p-colorPicker>
              </div>
            </div>

            <div class="row lg:flex lg:justify-content-evenly lg:align-items-center mb-5">
              <div class="lg:col-4 md:col-12 flex justify-content-center align-items-center " >
                <div class="flex justify-content-center align-items-center " [style]="{'background-color': getCorDentistaOpacidade(), 'border-color': getCorDentista(), 'border-width':'1px', 'border-radius': '8px', 'border-style':'solid', 'width':'10vw', 'height':'5vh'}">
                  <p class="font-bold" [style]="{'color': getCorDentista()}">Texto para teste </p>

                </div>
              </div>
              <div class="lg:col-4 md:col-12 flex justify-content-center">
                <p-chart type="line"
                height="80"
                width="180"
                [responsive]="true"
                [data]="{
                  labels: [ '', '', '', '','',''],
                  datasets: [
                    {
                      fill: false,
                      data: [35, 41, 37, 33, 39, 35],
                      borderColor: getCorDentista(),
                      tension: 0.4
                    }
                  ],
                }"
                [options]="{
                  maintainAspectRatio: false,
                  aspectRatio: 3,
                  name: false,
                  plugins: {
                    legend: {
                      display: false
                    }
                  },
                  scales: {
                      x: {
                        display: false,
                        ticks: {
                            color: 'transparent',
                          },
                          grid: {
                            color: 'transparent',
                            drawBorder: false
                          }
                      },
                      y: {
                        display: false,
                          ticks: {
                            color: 'transparent',
                          },
                          grid: {
                            color: 'transparent',
                              drawBorder: false
                          }
                      }
                  },
                  elements: {
                    point: {
                        radius:0
                    },

                  },
                  layout: {
                    padding: {
                    left: 0,
                    right: 0,
                    top: 5,
                    bottom: 5
                  }
                  }
                }"

                ></p-chart>
              </div>
              <div class="lg:col-4 md:col-12 flex justify-content-center">
                <button pButton type="button" label="Teste" icon="pi pi-check" [style]="{'background-color': getCorDentista()}"></button>
              </div>
            </div>
          </div>


        </form>
      </div>

      <div class="flex pt-4 justify-content-between">
        <p-button (onClick)="prevCallback.emit(); " [rounded]="true" label="Voltar" severity="secondary" icon="pi pi-arrow-left" />
        <p-button (onClick)="validaFormulario(3);" [disabled]="!formCustomizacao.valid" [rounded]="true" label="Próximo" icon="pi pi-arrow-right" iconPos="right" />
      </div>
    </ng-template>
  </p-stepperPanel>

  <p-stepperPanel>
    <ng-template pTemplate="header"  let-onClick="onClick" let-index="index">
        <div >
          <div class="flex justify-content-center align-items-center">
            <span
              class="border-round-2xl border-2 w-3rem h-3rem inline-flex align-items-center justify-content-center"
              [ngClass]="{
                'border-green-600 bg-green-50': (active > 3) || (this.formContrato.valid) ,
                'border-blue-100 bg-blue-50 opacity-40': active < 3,
                'border-blue-500 bg-blue-50': active == 3
              }"
            >
              <i [ngClass]="(active > 3) || (this.formContrato.valid)? 'pi pi-fw pi-check text-green-600 font-semibold flipleft animation-duration-300 animation-1':'pi pi-fw pi-book flipright animation-duration-300 animation-iteration-1 text-blue-600 font-semibold'"></i>
            </span>
          </div>
          <div class="flex justify-content-center align-items-center mt-1">
            <span class="font-semibold"
              [ngClass]="{
                'text-green-600': (active > 3) || (this.formContrato.valid),
                'text-blue-500 opacity-40': active < 3,
                'text-blue-500': active == 3
              }"
              >Contrato</span>
          </div>
        </div>
    </ng-template>
    <ng-template pTemplate="content" let-prevCallback="prevCallback" let-nextCallback="nextCallback">
      <div class="new p-4 mt-3">
        <form [formGroup]="formContrato" autocomplete="off">
          <div class="row lg:flex lg:justify-content-center" >
            <div class="field col-4">
              <span class="p-float-label p-input-icon-left width">
                <i class="pi pi-id-card azul"></i>
                <input pInputText id="empresa" required class="width" formControlName="empresa" [ngClass]="{'ng-invalid ng-dirty': formContrato.controls['empresa'].invalid && formContrato.controls['empresa'].touched}" [disabled]="true"/>
                <label for="empresa" class="azul">Empresa <span class="p-error ">*</span></label>
              </span>

            </div>
            <div class="field col-3">
              <span class="p-float-label p-input-icon-left width">
                <i class="pi pi-id-card azul"></i>
                <input pInputText id="empresaCNPJ" required class="width" formControlName="empresaCNPJ" [readonly]="true" [ngClass]="{'ng-invalid ng-dirty': formContrato.controls['empresaCNPJ'].invalid && formContrato.controls['empresaCNPJ'].touched}"/>
                <label for="empresaCNPJ" class="azul">CNPJ <span class="p-error ">*</span></label>
              </span>

            </div>

            <div class="field col-4">
              <span class="p-float-label p-input-icon-right width">
                <p-dropdown [options]="cargosList" formControlName="cargo" [showClear]="true" appendTo="body" (onChange)="preencheuCargo()" [autoZIndex]="true" optionLabel="nome" inputId="cargo" [style]="{'color':'#2070B4', 'width': '100%'}" [ngClass]="{'ng-invalid ng-dirty': formContrato.controls['cargo'].invalid && formContrato.controls['cargo'].touched}"></p-dropdown>
                <label for="cargo" class="azul">Modelo de contração <span class="p-error ">*</span></label>
              </span>
            </div>

          </div>

          <div class="row lg:flex lg:justify-content-center" >
            <div class="field col-3">
              <span class="p-float-label  p-input-icon-right">
                <p-calendar
                  [iconDisplay]="'input'"
                  [showIcon]="true"
                  appendTo="body"
                  [autoZIndex]="true"
                  inputId="dataAdmissao"
                  dateFormat="dd/mm/yy"
                  [showTime]="true"
                  [showButtonBar]="true"
                  [style]="{'color':'#2070B4', 'width': '100%'}"
                  formControlName="dataAdmissao"
                  [ngClass]="{'ng-invalid ng-dirty': formContrato.controls['dataAdmissao'].invalid && formContrato.controls['dataAdmissao'].touched}"
                  >
                  <ng-template pTemplate="inputicon" let-clickCallBack="clickCallBack" class="p-input-icon-right">
                    <i class="pi pi-calendar azul" (click)="clickCallBack($event)"></i>
                  </ng-template>
                </p-calendar>
                <label for="dataAdmissao" class="azul">Data admissão <span class="p-error ">*</span></label>
              </span>
            </div>

            <div class="field col-3">
              <span class="p-float-label p-input-icon-left width">
                <i class="pi pi-id-card azul"></i>
                <input pInputText id="registroN" required class="width" formControlName="registroN" [ngClass]="{'ng-invalid ng-dirty': formContrato.controls['registroN'].invalid && formContrato.controls['registroN'].touched}"/>
                <label for="registroN" class="azul">Registro n° <span class="p-error " >*</span></label>
              </span>
            </div>

            <div class="field pt-2 ml-2 ">

                <span class="p-float-label p-input-icon-left ">
                  <i class="pi pi-dollar" *ngIf="formContrato.get('remuneracao')?.value == null"></i>
                  <!-- <input pInputText id="pasta" required class="width" formControlName="remuneracao"/> -->
                  <p-inputNumber
                        formControlName="remuneracao"
                        id="remuneracao"
                        mode="currency"
                        currency="BRL"
                        locale="pt-BR"
                        required
                        class="custom-width"
                        [readonly]="true"
                    />
                  <label for="remuneracao" class="azul" >Remuneração <span class="p-error ">*</span></label>
                </span>
            </div>
            <div class="field pt-2 ml-3" *ngIf="formContrato.get('cargo')?.value?.premiacao">
              <span class="p-float-label p-input-icon-left width">
                <i class="pi pi-dollar" *ngIf="formContrato.get('valorPremiacao')?.value == null"></i>
                <p-inputNumber
                      formControlName="valorPremiacao"
                      id="valorPremiacao"
                      mode="currency"
                      currency="BRL"
                      locale="pt-BR"
                      required
                      class="custom-width"
                  />
                <label for="valorPremiacao" class="azul" >Valor premiação <span class="p-error ">*</span></label>
              </span>
            </div>


          </div>


          <div class="row lg:flex lg:justify-content-center ">
            <div class="md:col-12 lg:col-2 flex justify-content-center align-items-center m-0">
                <span class=" flex justify-content-start align-items-center mt-2">
                <p-inputSwitch id="valeTrans" formControlName="valeTrans" class="custom-switch" [readonly]="true"></p-inputSwitch>
                <label for="valeTrans" class="azul">&nbsp;&nbsp;VT</label>
                </span>

            </div>
            <div class="md:col-12 lg:col-2 flex justify-content-center align-items-center m-0">
                <span class="flex justify-content-start align-items-center  my-2">
                <p-inputSwitch id="valeAR" formControlName="valeAR" class="custom-switch" [readonly]="true"></p-inputSwitch>
                <label for="valeAR" class="azul">&nbsp;&nbsp;VA/VR</label>
                </span>
            </div>
            <div class="md:col-12 lg:col-2 flex justify-content-center align-items-center m-0">
                <span class=" flex justify-content-start align-items-center  my-2">
                <p-inputSwitch id="planoSaude"formControlName="planoSaude" class="custom-switch" [readonly]="true"></p-inputSwitch>
                <label for="planoSaude" class="azul">&nbsp;&nbsp;Plano Saúde</label>
                </span>
            </div>
            <div class="md:col-12 lg:col-2 flex justify-content-center align-items-center m-0">
                <span class=" flex justify-content-start align-items-center  my-2">
                <p-inputSwitch id="plr" formControlName="plr" class="custom-switch" [readonly]="true"></p-inputSwitch>
                <label for="plr" class="azul" >&nbsp;&nbsp;PLR</label>
                </span>
            </div>
            <div class="md:col-12 lg:col-2 flex justify-content-center align-items-center m-0">
                <span class=" flex justify-content-start align-items-center  my-2">
                <p-inputSwitch id="premiacao" formControlName="premiacao"  class="custom-switch" [readonly]="true"></p-inputSwitch>
                <label for="premiacao" class="azul" >&nbsp;&nbsp;Premiação</label>
                </span>
            </div>
            <div class="md:col-12 lg:col-2 flex justify-content-center align-items-center m-0">
                <span class=" flex justify-content-start align-items-center  my-2">
                <p-inputSwitch id="gymPass" formControlName="gymPass" class="custom-switch" [readonly]="true"></p-inputSwitch>
                <label for="gymPass" class="azul">&nbsp;&nbsp;GymPass</label>
                </span>
            </div>
          </div>

        </form>
      </div>



      <div class="flex pt-4 justify-content-between">
        <p-button (onClick)="prevCallback.emit(); " [rounded]="true" label="Voltar" severity="secondary" icon="pi pi-arrow-left" />
        <p-button (onClick)="validaFormulario(3);" [disabled]="!formContrato.valid" [rounded]="true" severity='success' label="Salvar" icon="pi pi-save" iconPos="right" />
      </div>
    </ng-template>
  </p-stepperPanel>
</p-stepper>
