@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";

.tam2{
  width: 30%; /* ou qualquer valor que você deseja para a largura do input */
  padding: 10px; /* ou qualquer valor que você deseja para o preenchimento do input */
  box-sizing: border-box;
}

button{

  font-size: 0.9rem;
  width: 7vw;
  border-radius: 50px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15), 0 6px 6px rgba(0, 0, 0, 0.12);
  border:none;
}



.new{
  border: 1px solid #c4ddf3;

  border-radius: 8px;
}
.width{
  width: 100%;
}
.nome-field {
  width: 100%;
}
