<div class="row flex justify-content-center new ">
  <div class="py-5 px-8">
    <form  [formGroup]="formulario" (ngSubmit)="onSubmit()">
      <div class="card ">
        <div class="row lg:flex lg:justify-content-around ">

          <div class="field md:col-12 lg:col-4">
            <span class="p-float-label p-input-icon-left p-input-icon-right width">
              <i class="pi pi-user azul"></i>
              <i [ngClass]="loading? 'pi pi-spin pi-spinner azul': ''" style="font-size: 1.3rem"></i>
              <i [ngClass]="validacaoLogin? 'pi pi-check azul': ''" style="font-size: 1.3rem; color: #136C34"></i>
              <input pInputText id="login" formControlName="login" required (input)="buscaLogin()" minlength="3" [style]="validacaoLogin? 'border-color:  #136C34': ''" class="width"/>
              <label for="login " class="azul">Login</label>
            </span>
            <small *ngIf="formulario.controls['login'].errors?.['required']" class="p-error"><br>* Campo obrigatório</small>
            <small *ngIf="formulario.controls['login'].errors?.['loginEmUso']" class="p-error"><br>Login digitado já está em uso.</small>
            <small *ngIf="validacaoLogin" style="color: #136C34"><br>O login é válido.</small>
          </div>

          <div class="field md:col-12 lg:col-4">
            <span class="p-float-label p-input-icon-left p-input-icon-right  width">
              <i class="pi pi-key azul"></i>
              <i [ngClass]="hide? 'pi pi-eye azul' : 'pi pi-eye-slash azul'" (click)="hide = !hide"></i>
              <input pInputText [type]="hide ? 'text' : 'password'" id="password" formControlName="senha" class="width"/>
              <label for="password" class="azul">Senha</label>
            </span>
            <small *ngIf="formulario.controls['senha'].errors?.['required']"  class="p-error "><br>* Campo obrigatório</small>
          </div>

          <div class="field md:col-12 lg:col-4">
            <span class="p-float-label p-input-icon-right width">
              <p-calendar inputId="dataNascimento" formControlName="dataNascimento" [iconDisplay]="'input'" [showIcon]="true" [showTime]="false" [showButtonBar]="false" dateFormat="dd/mm/yy" class="width" appendTo="body" [autoZIndex]="true">
                <ng-template pTemplate="inputicon" let-clickCallBack="clickCallBack" class="p-input-icon-right">
                  <i class="pi pi-calendar azul" (click)="clickCallBack($event)"></i>
                </ng-template>
              </p-calendar>
              <label for="dataNascimento" class="azul">Data Nascimento</label>
            </span>
            <small *ngIf="formulario.controls['dataNascimento'].errors?.['required']"  class="p-error "><br>* Campo obrigatório</small>
          </div>

        </div>

        <div class=" row lg:flex lg:justify-content-center  my-3">

            <div class="field md:col-12 lg:col-5 ">
              <span class="p-float-label p-input-icon-left width"  >
                <i class="pi pi-pencil azul"></i>
                <input pInputText id="nome" formControlName="nome" required class="width" />
                <label for="nome" class="azul">Nome Completo</label>
              </span>
              <small *ngIf="formulario.controls['nome'].errors?.['required']"  class="p-error "><br>* Campo obrigatório</small>
            </div>

            <div class="field md:col-12 lg:col-4">
              <span class="p-float-label p-input-icon-left p-input-icon-right width">
                <i class="pi pi-id-card azul"></i>
                @if (!validacaoCPF && validacaoCPF != null || existeCPF) {
                  <i class='pi pi-times' style="font-size: 1.3rem; color: #FF3D32"></i>
                }
                @else if (validacaoCPF && validacaoCPF != null) {
                  <i class='pi pi-check' style="font-size: 1.3rem; color: #136C34"></i>
                }
                <input pInputText id="cpf" formControlName="cpf" maxlength="14" minlength="11" (input)="validaCPF()" required  [style]="validacaoCPF && validacaoCPF != null? 'border-color:  #136C34': 'none'" class="width"/>
                <label for="cpf" class="azul">CPF</label>
              </span>
              <small *ngIf="formulario.controls['cpf'].errors?.['required']"  class="p-error "><br>* Campo obrigatório</small>
              <small *ngIf="!validacaoCPF && validacaoCPF != null || existeCPF"  class="p-error "><br>CPF inválido ou já cadastrado</small>
              <!-- <small *ngIf="existeCPF"  class="p-error "><br>CPF já cadastrado</small> -->
              <small *ngIf="validacaoCPF && validacaoCPF != null"  style="color: #136C34"><br>CPF válido</small>
            </div>

            <div class="field md:col-12 lg:col-3">
              <span class="p-float-label" [style]="{width: '100%'}">
                <!-- <p-dropdown [options]="especialidades" formControlName="especialidade" optionLabel="tipo" placeholder="Especialidade" inputId="float-label" ></p-dropdown> -->
                <p-dropdown [options]="especialidades" appendTo="body" [autoZIndex]="true" formControlName="especialidade" placeholder="" optionLabel="tipo" inputId="float-label" [style]="{width: '100%'}"></p-dropdown>
                <label for="float-label" class="azul">Especialidade</label>

              </span>
              <small *ngIf="formulario.controls['especialidade'].errors?.['required']"  class="p-error ">* Campo obrigatório</small>
            </div>

        </div>

        <div class="row lg:flex lg:justify-content-center my-3">

          <div class="field md:col-12 lg:col-3">
            <span class="p-float-label p-input-icon-left width">
              <i class="pi pi-id-card azul"></i>
              <input pInputText id="cro" formControlName="cro" maxlength="5" required  class="width" />
              <label for="cro" class="azul">CRO</label>
            </span>
            <small *ngIf="formulario.controls['cro'].errors?.['required']"  class="p-error "><br>* Campo obrigatório</small>
          </div>

          <div class="field md:col-12 lg:col-3">
            <span class="p-float-label p-input-icon-left width">
              <i class="pi pi-phone azul"></i>
              <input pInputText id="telefone" formControlName="telefone" (input)="replaceTelefone(1)" required class="width" />
              <label for="cpf" class="azul">Telefone</label>
            </span>
            <small *ngIf="formulario.controls['telefone'].errors?.['required']"  class="p-error "><br>* Campo obrigatório</small>
          </div>

          <div class="field md:col-12 lg:col-6 ">
            <span class="p-float-label p-input-icon-left width">
              <i class="pi pi-envelope azul"></i>
              <input pInputText id="email" formControlName="email" required  class="width" />
              <label for="email" class="azul">Email</label>
            </span>
            <small *ngIf="formulario.controls['email'].errors?.['required']"  class="p-error "><br>* Campo obrigatório</small>
          </div>

        </div>
        <div>
          <div class="row lg:flex lg:justify-content-center">
            <span class="azul text-lg" ><i class="pi pi-palette azul"></i>&nbsp;&nbsp;Escolha a cor primaria do dentista: <p-colorPicker formControlName="corDentista" appendTo="body" [autoZIndex]="true"></p-colorPicker></span>
          </div>
          <small *ngIf="formulario.controls['corDentista']"  class="p-error flex justify-content-center">* Escolha obrigatória</small>
        </div>

        <div class="row lg:flex lg:justify-content-evenly lg:align-items-center mb-5">
          <div class="lg:col-4 md:col-12 flex justify-content-center align-items-center " >
            <div class="flex justify-content-center align-items-center " [style]="{'background-color': getCorDentistaOpacidade(), 'border-color': getCorDentista(), 'border-width':'1px', 'border-radius': '8px', 'border-style':'solid', 'width':'10vw', 'height':'5vh'}">
              <p class="font-bold" [style]="{'color': getCorDentista()}">Texto para teste </p>

            </div>
          </div>
          <div class="lg:col-4 md:col-12 flex justify-content-center">
            <p-chart type="line"
            height="80"
            width="180"
            [responsive]="true"
            [data]="{
              labels: [ '', '', '', '','',''],
              datasets: [
                {
                  fill: false,
                  data: [35, 41, 37, 33, 39, 35],
                  borderColor: getCorDentista(),
                  tension: 0.4
                }
              ],
            }"
            [options]="{
              maintainAspectRatio: false,
              aspectRatio: 3,
              name: false,
              plugins: {
                legend: {
                  display: false
                }
              },
              scales: {
                  x: {
                    display: false,
                    ticks: {
                        color: 'transparent',
                      },
                      grid: {
                        color: 'transparent',
                        drawBorder: false
                      }
                  },
                  y: {
                    display: false,
                      ticks: {
                        color: 'transparent',
                      },
                      grid: {
                        color: 'transparent',
                          drawBorder: false
                      }
                  }
              },
              elements: {
                point: {
                    radius:0
                },

              },
              layout: {
                padding: {
                left: 0,
                right: 0,
                top: 5,
                bottom: 5
              }
              }
            }"

            ></p-chart>
          </div>
          <div class="lg:col-4 md:col-12 flex justify-content-center">
            <button pButton type="button" label="Teste" icon="pi pi-check" [style]="{'background-color': getCorDentista()}"></button>
          </div>
        </div>
      </div>

      <div class="flex justify-content-around lg:justify-content-between align-content-center">
        <p-button label="Voltar" [rounded]="true" severity="danger" [outlined]="true" icon="pi pi-times" class="" (click)="fecharModal()"></p-button>
        <p-button type="submit"  label="Salvar" [rounded]="true" severity="success"  icon="pi pi-save" class=""></p-button>
        <!-- <button pButton  type="submit" label="Agendar" icon="pi pi-save" class="btnSalvar mx-2" (click)="onSubmit()"></button> -->
      </div>
    </form>
  </div>
</div>
