@import "primeng/resources/themes/aura-light-blue/theme.css";
@import "primeng/resources/primeng.css";

.tam2{
  width: 30%; /* ou qualquer valor que você deseja para a largura do input */
  padding: 10px; /* ou qualquer valor que você deseja para o preenchimento do input */
  box-sizing: border-box;
}

button{

  font-size: 0.9rem;
  width: 7vw;
  border-radius: 50px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15), 0 6px 6px rgba(0, 0, 0, 0.12);
  border:none;
}


input[type=file]{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 360px;
  height: 46px;
  max-width: 100%;
  color: #8a8989;
  padding: 5px;
  background: #fff;
  border-radius: 7px;
  border: 1px solid #c7c7c7;
  font: 14px/20px Roboto, sans-serif;

}
input[type=file]::file-selector-button {
  font-weight: 500;
  margin-right: 20px;
  border: none;
  text-emphasis: none;
  height: 35px;
  background: linear-gradient(to right, #2070b4, #24aae3);
  padding: 10px 20px;
  border-radius: 50px;
  color: #fff;
  cursor: pointer;
  /* box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15), 0 6px 6px rgba(0, 0, 0, 0.12); */
}

input[type=file]::file-selector-button:hover {
  background: linear-gradient(to right, #2070b4, #24aae3);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.10), 0 6px 6px rgba(0, 0, 0, 0.10);
}


.new{
  border: 1px solid #c4ddf3;

  border-radius: 8px;
}
.width{
  width: 100%;
}
.nome-field {
  width: 100%;
}
