<div class="container">
  <div class="grid">
    <div class="col-12 ">
      <div class="card box p-5 m-5 text-indigo-800">
        <div class="flex justify-content-between mb-3 ml-5 mr-5">
          <span class="p-float-label p-input-icon-left search">
            <i class="pi pi-search azul" ></i>
            <input pInputText id="search" class="search"/>
            <label for="search" class="azul">Buscar Paciente...</label>
          </span>
          <button pButton type="button" label="Novo Paciente" styleClass="linear-gradient"  (click)="cadastro()" icon="pi pi-user-plus"></button>
          <!-- <button pButton type="button" label="Area ADM"  styleClass="linear-gradient" (click)="cadastro()"  routerLinkActive="btnHomeAtivo"  icon="pi pi-home"></button> -->
        </div>

          <p-table
            #productsTable
            [value]="dataSource.data"
            [rows]="10"
            [paginator]="true"
            [responsive]="true"
            [globalFilterFields]="['nome', 'numPasta', 'cpf']"
            [tableStyle]="{ 'min-width': '75rem' }"
            [rowHover]="true"
            [showCurrentPageReport]="true"
            dataKey="id"
            currentPageReportTemplate="Mostrando {first} de {last} de {totalRecords} pacientes"
          >
            <ng-template pTemplate="header">
              <tr>
                <th pSortableColumn="numPasta">
                  <div class="flex justify-content-between align-items-center">
                    <div class="flex justify-content-center align-items-center">
                      N Pasta
                    </div>
                    <div class="flex justify-content-center align-items-center">
                      <p-sortIcon
                        field="numPasta"
                        pTooltip="Ordenar"
                        tooltipPosition="top"
                      ></p-sortIcon>
                      <p-columnFilter
                      type="text"
                      field="numPasta"
                      display="menu"
                      pTooltip="Filtrar"
                      tooltipPosition="top"
                      ></p-columnFilter>
                    </div>
                  </div>
                </th>
                <th pSortableColumn="nome">
                  <div class="flex justify-content-between align-items-center">
                    <div class="flex justify-content-between align-items-center">
                      Nome
                    </div>
                    <div class="flex justify-content-between align-items-center">
                      <p-sortIcon
                        field="nome"
                        pTooltip="Ordenar"
                        tooltipPosition="top"
                      ></p-sortIcon>
                      <p-columnFilter
                      type="text"
                      field="nome"
                      display="menu"
                      pTooltip="Filtrar"
                      tooltipPosition="top"
                      ></p-columnFilter>
                    </div>
                  </div>
                </th>

                <th pSortableColumn="cpf">
                  <div class="flex justify-content-between align-items-center">
                    <div class="flex justify-content-between align-items-center">
                      CPF
                    </div>
                    <div class="flex justify-content-between align-items-center">
                      <p-sortIcon
                        field="cpf"
                        pTooltip="Ordenar"
                        tooltipPosition="top"
                      ></p-sortIcon>
                      <p-columnFilter
                      type="text"
                      field="cpf"
                      display="menu"
                      pTooltip="Filtrar"
                      tooltipPosition="top"
                      ></p-columnFilter>
                    </div>
                  </div>
                </th>

                <th pSortableColumn="dataNascimento">
                  <div class="flex justify-content-between align-items-center">
                    <div class="flex justify-content-between align-items-center">
                      Data Cadastro
                    </div>
                    <div class="flex justify-content-between align-items-center">
                      <p-sortIcon
                        field="dataNascimento"
                        pTooltip="Ordenar"
                        tooltipPosition="top"
                      ></p-sortIcon>
                      <p-columnFilter
                      type="date"
                      field="dataNascimento"
                      dateFormat="dd/MM/yyyy"
                      display="menu"
                      pTooltip="Filtrar"
                      tooltipPosition="top"
                      ></p-columnFilter>
                    </div>
                  </div>
                </th>
                <th pSortableColumn="ativo" [width]="180">
                  <div class="flex justify-content-between align-items-center">
                    <div class="flex justify-content-between align-items-center">
                      Status
                    </div>
                    <div class="flex justify-content-between align-items-center">
                      <p-sortIcon
                        field="ativo"
                        pTooltip="Ordenar"
                        tooltipPosition="top"
                      ></p-sortIcon>
                      <!-- <p-columnFilter
                        type="text"
                        field="ativo"
                        display="menu"
                        matchMode="contains"
                        [showMatchModes]="false"
                        [showOperator]="false"
                        [showAddButton]="false"
                        pTooltip="Filtrar"
                        tooltipPosition="top"
                      ></p-columnFilter> -->
                      <!-- <p-columnFilter field="ativo" matchMode="equals" display="menu">
                        <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                            <p-dropdown
                              [ngModel]="value"
                              [options]="[
                                { label: 'Ativo', value: 'Ativo', bool: 1 },
                                { label: 'Inativo', value: 'Inativo', bool: 0 },
                                ]"
                              (change)="applyFilter()"
                              placeholder="Any"
                            >
                              <ng-template let-option pTemplate="item">
                                  <p-tag [icon]="option.bool? 'pi pi-check' : 'pi pi-times'" [value]="option.value" [severity]="getSeverity(option.bool)" [rounded]="true"></p-tag>
                              </ng-template>
                            </p-dropdown>
                        </ng-template>
                    </p-columnFilter> -->
                    <p-columnFilter field="ativo" matchMode="equals" display="menu" [showMatchModes]="false" [showOperator]="false" [showAddButton]="false">
                      <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                        <p-dropdown [ngModel]="value" [options]="statuses" (onChange)="applyFilter()" placeholder="Any">
                          <ng-template let-option pTemplate="item">
                            <p-tag [icon]="option.value == 'Ativo'? 'pi pi-check' : 'pi pi-times'" [value]="option.value" [severity]="getSeverity(option.label)"></p-tag>
                          </ng-template>
                        </p-dropdown>
                      </ng-template>
                    </p-columnFilter>
                    </div>
                  </div>
                </th>

                <th [width]="200"></th>

            </ng-template>

            <ng-template pTemplate="body" let-paciente>
              <tr>
                <td [width]="180">{{ paciente?.numPasta }}</td>
                <td>{{ paciente?.nome }}</td>
                <td>{{ paciente?.cpf }}</td>
                <td [width]="300">{{ paciente?.dataCadastro | date: "dd/MM/yyyy"}}</td>
                <td>
                  <p-tag [icon]="paciente?.ativo? 'pi pi-check' : 'pi pi-times'"  [value]="paciente?.ativo? 'Ativo ':'Inativo '" [severity]="getSeverity(paciente.ativo? 'ativo' : 'inativo')" [rounded]="true"></p-tag>
                </td>
                <td>
                  <div
                    class="flex justify-content-around">
                      <p-button icon="pi " [rounded]="true" severity="info" [outlined]="true" pTooltip="Informações" tooltipPosition="top" (click)="info(paciente.id)"><i class="material-icons">info</i></p-button>
                      <!-- <p-button icon="pi " [rounded]="true" severity="warning" [outlined]="true" pTooltip="Editar" tooltipPosition="top" (click)="editPaciente(paciente.id)"><i class="material-icons" >edit</i></p-button> -->
                      <p-button icon="pi " [rounded]="true" severity="danger" [outlined]="true"  pTooltip="Deletar" tooltipPosition="top"><i class="material-icons" (click)="delet(paciente.id)">delete</i></p-button>

                  </div>
                </td>
              </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage">
              <tr >
                  <td colspan="5">Não foram encontrado dados</td>
              </tr>
            </ng-template>
          </p-table>
      </div>
    </div>
  </div>
</div>
<div class="card flex justify-content-center">
  <p-dialog header="Novo Paciente" [(visible)]="newUser" [modal]="true" [style]="{ width: '85vw' }" [draggable]="false" [resizable]="false">
    <app-cliente-novo (msgReturn)="mostraMensagem($event)" (closeModal)="closeModal($event)"></app-cliente-novo>
  </p-dialog>
</div>


<div class="card flex justify-content-center">
  <p-dialog header="Editar paciente" [(visible)]="editar" [modal]="true" [style]="{ width: '100vw' }" [draggable]="false" [resizable]="false">
    <app-cliente-novo *ngIf="clienteSelecionado" [pacienteSelecionado]="clienteSelecionado"></app-cliente-novo>
  </p-dialog>
</div>




