.container{
    padding: 2%;
}
.card{
    padding: 2%;
    border-radius: 18px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    background: #f2f8fd;
    border-width: 1px;
    border-style: solid;
    border-color: #54a2dc;
}

/* menu */
.tableMenu{
    display: flex;
    justify-content:space-between;
    margin-inline: 2%;

}
mat-form-field{
    width: 30vw;
}
mat-label{
    font-size: 18px;
}
mat-tab-group{
    width: 90%;
    margin-left: 5%;
}
mat-tab{
    font-size: large;
    
}

.btnadd{ 
    background: linear-gradient(to right, #2070b4, #24aae3);
    width: 15vw;
}
.btnadd:hover{ 
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
 
/* .info:hover, .delete:hover, .edit:hover{
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
} */
.acoes{
    display: flex;
    justify-content:space-around;

}

.info{   
    background-color: #54a2dc;
    color: #F4F2F0;
    width: 40px;
    height: 40px;
}
.delete{
    background-color: #f44336;
    color: #F4F2F0;
    width: 36px;
    height: 36px;
}
.edit{
    background-color: #e9b136;
    color: #F4F2F0;
    width: 36px;
    height: 36px;
}
.tableBody{
    margin-top: 2%;
    /* width: 60%; */
 
}

th, td{
    text-align: center;   
    font-size: 18px;
    
}
.mat-mini-fab{
    width: 15px;
    height: 15px;
}

th{
    background: #c4ddf3 !important;
    color: #2070b4;
    font-size: x-large;
    
}
.mat-column-nome{
    width: 35vw;
}
.mat-column-btns{
    width: 15vw;
}
.mat-column-nSerie{
    width: 5vw;
}


.search{
    color: #2070b4;
    border: none;
    
}
.paginacao{
    background: transparent;
}


