
@media screen and (min-width: 1400px) {
  .grid {
    background-position: top;
  }
}

@media screen and (max-width: 1000px) {
  .grid {
    height: 100vmax;
  }
}

button{
  background: linear-gradient(to right, #2070b4, #24aae3);
  font-size: 0.9rem;
  width: 10vw;
  border-radius: 50px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15), 0 6px 6px rgba(0, 0, 0, 0.12);
  border:none
}

button:hover{
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2), 0 8px 8px rgba(0, 0, 0, 0.16);
}

.btnVoltar {
  width: 8vw;
  background: #9CA3AF;
  border-radius: 15px;
  margin-inline: 2vw;
}
.btnProximo {
  width: 8vw;
  background: #3B82F6;
  border-radius: 15px;
  margin-inline: 2vw;
}
/* .btnSalvar {
  width: 8vw;
  background: #1DA750;
  border-radius: 15px;
  margin-inline: 2vw;
} */
button{
  background: linear-gradient(to right, #2070b4, #24aae3);
  font-size: 0.9rem;
  width: 8vw;
  border-radius: 50px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15), 0 6px 6px rgba(0, 0, 0, 0.12);
}

button:hover{
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2), 0 8px 8px rgba(0, 0, 0, 0.16);
}

.azul{
  color: #2070B4
}
/* input, p-calendar{
  border-color: #2070B4;
} */
.width{
  width: 100%;
}
.new{
  border: 1px solid #c4ddf3;
  border-radius: 8px;
}

input[type=file]{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 360px;
  height: 46px;
  max-width: 100%;
  color: #8a8989;
  padding: 5px;
  background: #fff;
  border-radius: 7px;
  border: 1px solid #c7c7c7;
  font: 14px/20px Roboto, sans-serif;

}
input[type=file]::file-selector-button {
  font-weight: 500;
  margin-right: 20px;
  border: none;
  text-emphasis: none;
  height: 35px;
  background: linear-gradient(to right, #2070b4, #24aae3);
  padding: 10px 20px;
  border-radius: 50px;
  color: #fff;
  cursor: pointer;
  /* box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15), 0 6px 6px rgba(0, 0, 0, 0.12); */
}

input[type=file]::file-selector-button:hover {
  background: linear-gradient(to right, #2070b4, #24aae3);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.10), 0 6px 6px rgba(0, 0, 0, 0.10);
}

