<!--<div class="container">
    <div class="card">
        <div class="bannerCliente">
            <div class="clienteFoto">
                <mat-card class="example-card">
                    <img mat-card-image src="https://media.istockphoto.com/id/1337144146/vector/default-avatar-profile-icon-vector.jpg?s=612x612&w=0&k=20&c=BIbFwuv7FxTWvh5S3vB6bkT0Qv8Vn8N5Ffseq84ClGI=" alt="Photo of a Shiba Inu">
                </mat-card>
            </div>
            <div class="clienteInfo">
                <span class="clienteNome" >{{ formulario.get('nome')?.value }}</span>

                <span class="clienteNum"> {{ formulario.get('telefone')?.value }}</span>

                <span class="respNum">{{ formulario.get('telResp')?.value }}</span>

                <span class="nSerie">N° {{ formulario.get('nSerie')?.value }}</span>

            </div>


        </div>
        <form  [formGroup]="formulario" (ngSubmit)="onSubmit()">
         <div class="containerInfoPessoal">
                <div class="blocoInfo">
                    <div class="titleModulo">
                        <span class="infoTitle">Informações<br><br> &nbsp;&nbsp;&nbsp;Pessoais</span>


                    </div>
                    <div class="infoPessoal">
                        <div class="InfoPessoais">

                            <div class="blocoLinha">
                                <mat-form-field appearance="outline" class="lb3">

                                    <mat-label>Login</mat-label>
                                    <input type="text" matInput placeholder="Minimo 3 caracteres" formControlName="login" required (input)="buscaLogin()" minlength="3">
                                    <mat-icon matPrefix>person</mat-icon>
                                    <mat-hint *ngIf="formulario.controls['login'].errors?.['required']" class="lbObri">
                                        <b>* </b>Campo obrigatório
                                    </mat-hint>
                                    <mat-error *ngIf="formulario.controls['login'].errors?.['loginEmUso']" class="inputError">
                                        O login digitado já está em uso.
                                    </mat-error>
                                    <mat-icon matSuffix *ngIf="(formulario.controls['login'].errors?.['loginEmUso'])" class="iconError">cancel</mat-icon>
                                    <mat-hint *ngIf="validacaoLogin" class="inputValido">
                                        O login é válido.
                                    </mat-hint>
                                    <mat-icon matSuffix *ngIf="validacaoLogin" class="iconValido">check</mat-icon>
                                </mat-form-field>

                                <mat-form-field appearance="outline" class="lb3">
                                    <mat-label>Senha</mat-label>
                                    <input matInput [type]="hide ? 'password' : 'text'" formControlName="senha" required>
                                    <mat-icon matPrefix>key</mat-icon>
                                    <mat-hint *ngIf="formulario.controls['senha'].errors?.['required']" class="lbObri"><b>* </b>Campo obrigatório</mat-hint>
                                    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                                      <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                                    </button>
                                </mat-form-field>

                                <mat-form-field appearance="outline" class="lb2">
                                    <mat-label>N° Pasta</mat-label>
                                    <input type="text" matInput placeholder="" formControlName="numPasta" maxlength="5">
                                    <mat-icon matPrefix>123</mat-icon>
                                    <mat-hint *ngIf="formulario.controls['numPasta'].errors?.['required']" class="lbObri"><b>* </b>Campo obrigatório</mat-hint>
                                </mat-form-field>
                            </div>

                            <div class="blocoLinha">
                                <mat-form-field appearance="outline" class="lb5">
                                    <mat-label>Nome Completo</mat-label>
                                    <input type="text" matInput placeholder="" formControlName="nome">
                                    <mat-icon matPrefix>mode</mat-icon>
                                    <mat-hint *ngIf="formulario.controls['nome'].errors?.['required']" class="lbObri"><b>* </b>Campo obrigatório</mat-hint>
                                </mat-form-field>

                                <mat-form-field appearance="outline" class="lb3">
                                    <mat-label> CPF </mat-label>
                                    <input type="text" matInput placeholder="" formControlName="cpf" maxlength="14" minlength="11" (input)="validaCPF()">
                                    <mat-icon matPrefix>badge</mat-icon>
                                    <mat-hint *ngIf="formulario.controls['cpf'].errors?.['required']" class="lbObri"><b>* </b>Campo obrigatório</mat-hint>
                                    <mat-error *ngIf="formulario.controls['cpf'].errors?.['tam'] || !validacaoCPF" class="inputError">
                                        CPF inválido.
                                    </mat-error>
                                    <mat-hint *ngIf="existeCPF" class="inputError">
                                        CPF já cadastrado.
                                    </mat-hint>
                                    <mat-icon matSuffix *ngIf="!validacaoCPF && validacaoCPF != null && !existeCPF || existeCPF" class="iconError">cancel</mat-icon>
                                    <mat-hint *ngIf="validacaoCPF" class="inputValido">
                                        CPF válido.
                                    </mat-hint>
                                    <mat-icon matSuffix *ngIf="validacaoCPF" class="iconValido">check</mat-icon>

                                </mat-form-field>

                                <mat-form-field appearance="outline" class="dataNasc">
                                    <mat-label>Data de Nascimento</mat-label>
                                    <input matInput formControlName="dataNascimento" minlength="8" maxlength="11">
                                    <mat-hint *ngIf="formulario.controls['dataNascimento'].errors?.['required']" class="lbObri"><b>* </b>Campo obrigatório</mat-hint>
                                    <mat-datepicker-toggle matIconPrefix [for]="picker" class="iconData"></mat-datepicker-toggle>
                                    <mat-datepicker #picker></mat-datepicker>
                                  </mat-form-field>

                            </div>

                            <div class="blocoLinha">
                                <mat-form-field appearance="outline" class="lb3">
                                    <mat-label>Telefone</mat-label>
                                    <input type="text" matInput placeholder="" formControlName="telefone" (input)="replaceTelefone(1)">
                                    <mat-icon matPrefix>call</mat-icon>
                                    <mat-hint *ngIf="formulario.controls['telefone'].errors?.['required']" class="lbObri"><b>* </b>Campo obrigatório</mat-hint>
                                </mat-form-field>

                                <mat-form-field appearance="outline" class="lb4">
                                    <mat-label>Email</mat-label>
                                    <input type="email" matInput placeholder="" formControlName="email">
                                    <mat-icon matPrefix>mail</mat-icon>
                                    <mat-hint *ngIf="formulario.controls['email'].errors?.['required']" class="lbObri"><b>* </b>Campo obrigatório</mat-hint>
                               </mat-form-field>

                                <input type="file">

                            </div>

                        </div>
                    </div>

                </div>
                <hr>
                <div class="blocoInfo">
                    <div class="titleModulo">
                        <span class="infoTitle">Responsável</span>
                    </div>
                    <div class="infoPessoal">
                        <div class="InfoPessoais">
                            <div class="blocoLinha" formGroupName="responsavel">

                                <mat-form-field appearance="outline" class="lb5">
                                    <mat-label>Nome do(a) Responsável</mat-label>
                                    <input type="text" matInput placeholder="" formControlName="nome">
                                    <mat-icon matPrefix>mode</mat-icon>
                                </mat-form-field>

                                <mat-form-field appearance="outline" class="lb3">
                                    <mat-label>CPF do(a) Responsável</mat-label>
                                    <input type="text"  matInput placeholder=""  formControlName="cpf">
                                    <mat-icon matPrefix>badge</mat-icon>

                                     <mat-label> CPF </mat-label>
                                    <input type="text" matInput placeholder="" formControlName="cpf" maxlength="14" minlength="11" (input)="RespValidaCPF()">
                                    <mat-icon matPrefix>badge</mat-icon>
                                    <mat-hint *ngIf="formulario.get('responsavel.cpf')?.hasError('required') || !RespValidacaoCPF && RespValidacaoCPF != null" class="inputError">
                                        CPF inválido.
                                    </mat-hint>
                                    <mat-icon matSuffix *ngIf="!RespValidacaoCPF && RespValidacaoCPF != null" class="iconError">cancel</mat-icon>
                                    <mat-hint *ngIf="RespValidacaoCPF" class="inputValido">
                                        CPF válido.
                                    </mat-hint>
                                    <mat-icon matSuffix *ngIf="RespValidacaoCPF" class="iconValido">check</mat-icon>
                                </mat-form-field>

                                <mat-form-field appearance="outline" class="lb3">
                                    <mat-label>Telefone do(a) Responsável</mat-label>
                                    <input type="text"  matInput placeholder="" formControlName="telefone" (input)="replaceTelefone(2)">
                                    <mat-icon matPrefix>call</mat-icon>

                                </mat-form-field>

                            </div>


                        </div>
                    </div>

                </div>

                <hr>

                <div class="blocoInfo">
                    <div class="titleModulo">
                        <span class="infoTitle">Endereço</span>
                    </div>
                    <div class="infoPessoal">
                        <div class="InfoPessoais" formGroupName="endereco">

                            <div class="blocoLinha">

                                <mat-form-field appearance="outline" class="lb3">
                                    <mat-label>CEP</mat-label>
                                    <input type="text" matInput placeholder="" formControlName="cep" (blur)="buscaCEP()" minlength="8" maxlength="11">
                                    <mat-icon matPrefix>add_location</mat-icon>
                                    <mat-hint *ngIf="formulario.get('endereco.cep')?.hasError('required')" class="lbObri"><b>* </b>Campo obrigatório</mat-hint>
                                    <mat-icon matSuffix *ngIf="isLoodingCEP">
                                        <mat-spinner diameter="25" ></mat-spinner>
                                    </mat-icon>
                                    <mat-hint *ngIf="buscouCEP && buscouCEP != null" class="inputValido">
                                        CEP válido.
                                    </mat-hint>
                                    <mat-hint *ngIf="!buscouCEP && buscouCEP != null" class="inputError">
                                        CEP invalido.
                                    </mat-hint>
                                </mat-form-field>

                                <mat-form-field appearance="outline" class="lb3">
                                    <mat-label>Cidade</mat-label>
                                    <input type="text" matInput placeholder="" formControlName="cidade">
                                    <mat-icon matPrefix>location_city</mat-icon>
                                    <mat-hint *ngIf="formulario.get('endereco.cidade')?.hasError('required')" class="lbObri"><b>* </b>Campo obrigatório</mat-hint>
                                </mat-form-field>

                                <mat-form-field appearance="outline" class="lb3">
                                    <mat-label>Bairro</mat-label>
                                    <input type="text" matInput placeholder="" formControlName="bairro">
                                    <mat-icon matPrefix>map</mat-icon>
                                    <mat-hint *ngIf="formulario.get('endereco.bairro')?.hasError('required')" class="lbObri"><b>* </b>Campo obrigatório</mat-hint>
                                </mat-form-field>

                            </div>
                            <div class="blocoLinha">
                                <mat-form-field appearance="outline" class="lb5">
                                    <mat-label>Logradouro</mat-label>
                                    <input type="text" matInput placeholder="" formControlName="logradouro">
                                    <mat-icon matPrefix>local_library</mat-icon>
                                    <mat-hint *ngIf="formulario.get('endereco.logradouro')?.hasError('required')" class="lbObri"><b>* </b>Campo obrigatório</mat-hint>
                                </mat-form-field>
                                <mat-form-field appearance="outline" class="lb2">
                                    <mat-label>Número</mat-label>
                                    <input type="text" matInput placeholder="" formControlName="numero">
                                    <mat-icon matPrefix>123</mat-icon>
                                    <mat-hint *ngIf="formulario.get('endereco.numero')?.hasError('required')" class="lbObri"><b>* </b>Campo obrigatório</mat-hint>
                                </mat-form-field>
                                <mat-form-field appearance="outline" class="lb3">
                                    <mat-label>Complemento</mat-label>
                                    <input type="text" matInput placeholder="" formControlName="complemento">
                                    <mat-icon matPrefix>message</mat-icon>
                                    <mat-hint *ngIf="formulario.get('endereco.complemento')?.hasError('required')" class="lbObri"><b>* </b>Campo obrigatório</mat-hint>
                                </mat-form-field>
                            </div>
                            <div class="blocoLinha">
                                <mat-form-field appearance="outline" class="lb4">
                                    <mat-label>Referencia</mat-label>
                                    <input type="text "matInput placeholder="" formControlName="referencia">
                                    <mat-icon matPrefix>mode</mat-icon>

                                </mat-form-field>

                            </div>

                        </div>
                    </div>

                </div>

                <hr>

                <div class="blocoInfo">
                    <div class="titleModulo">
                        <span class="infoTitle">Anamese</span>
                    </div>
                    <div class="infoPessoal">
                        <div class="InfoPessoais" formGroupName="anamnese">

                            <div class="blocoLinha">
                                <mat-form-field appearance="outline" class="lb5">
                                    <mat-label>Portador(a) de alguma doença?</mat-label>
                                    <input type="text" matInput placeholder="(Qual?)" formControlName="problemaSaude">
                                    <mat-icon matPrefix>healing</mat-icon>
                                    <mat-hint *ngIf="formulario.get('anamnese.problemaSaude')?.hasError('required')" class="lbObri"><b>* </b>Campo obrigatório</mat-hint>
                                </mat-form-field>
                                <mat-form-field appearance="outline" class="lb4">
                                    <mat-label>Em tratamento médico?</mat-label>
                                    <input type="text" matInput placeholder="(Qual?)" formControlName="tratamento">
                                    <mat-icon matPrefix>healing</mat-icon>
                                    <mat-hint *ngIf="formulario.get('anamnese.tratamento')?.hasError('required')" class="lbObri"><b>* </b>Campo obrigatório</mat-hint>
                                </mat-form-field>

                            </div>
                            <div class="blocoLinha">
                                <mat-form-field appearance="outline" class="lb5">
                                    <mat-label>Em uso de medicação?</mat-label>
                                    <input type="text" matInput placeholder="(Qual?)" formControlName="remedio">
                                    <mat-icon matPrefix>medication</mat-icon>
                                    <mat-hint *ngIf="formulario.get('anamnese.remedio')?.hasError('required')" class="lbObri"><b>* </b>Campo obrigatório</mat-hint>
                                </mat-form-field>
                                <mat-form-field appearance="outline" class="lb5">
                                    <mat-label>Alérgico(a) a algum medicamento?</mat-label>
                                    <input type="text" matInput placeholder="(Qual)" formControlName="alergia">
                                    <mat-icon  matPrefix>vaccines</mat-icon>
                                    <mat-hint *ngIf="formulario.get('anamnese.alergia')?.hasError('required')" class="lbObri"><b>* </b>Campo obrigatório</mat-hint>
                                </mat-form-field>

                            </div>

                            <mat-slide-toggle formControlName="hipertenso" class="btnSlide"><span class="slideText">&nbsp;Hipertenso?</span></mat-slide-toggle><br>
                            <mat-slide-toggle formControlName="gravida"  class="btnSlide"><span class="slideText">&nbsp;Está Gestante?</span></mat-slide-toggle><br>
                            <mat-slide-toggle formControlName="traumatismoFace"  class="btnSlide"><span class="slideText">&nbsp;Possui algum traumatismo na face?</span></mat-slide-toggle><br>
                            <mat-slide-toggle formControlName="sangramentoExcessivo"  class="btnSlide" ><span class="slideText">&nbsp;Possui sangramento excessivo?</span></mat-slide-toggle>

                        </div>
                    </div>

                </div>

                <div class="blocoInfoFotter">
                    <button mat-fab extended type="submit"  class="btnadd" ><mat-icon>save</mat-icon>Salvar</button>
                </div>

         </div>
        </form>

         <mat-stepper #stepper >
            <form [formGroup]="formulario" (ngSubmit)="onSubmit()">
                <mat-step [stepControl]="formulario" errorMessage="Informações Pessoais obrigatório">

                    <ng-template matStepLabel>Informações Pessoais </ng-template>

                    <div class="infoPessoal">
                        <div class="InfoPessoais">

                            <div class="blocoLinha">
                                <mat-form-field appearance="outline" class="lb3">
                                    <mat-label>Login </mat-label>
                                    <input type="text" matInput placeholder="Login" formControlName="login">
                                    <mat-icon matPrefix>person</mat-icon>
                                    <mat-hint *ngIf="formulario.controls['login'].errors?.['required']" class="lbObri"><b>* </b>Campo obrigatório</mat-hint>
                                </mat-form-field>
                                <mat-form-field appearance="outline" class="lb3">
                                    <mat-label>Senha</mat-label>
                                    <input matInput [type]="hide ? 'password' : 'text'" formControlName="senha">
                                    <mat-icon matPrefix>key</mat-icon>
                                    <mat-hint *ngIf="formulario.controls['senha'].errors?.['required']" class="lbObri"><b>* </b>Campo obrigatório</mat-hint>
                                    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                                    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                                    </button>
                                </mat-form-field>
                                <mat-form-field appearance="outline" class="lb2">
                                    <mat-label>N° Pasta</mat-label>
                                    <input type="text" matInput placeholder="" formControlName="numPasta">
                                    <mat-icon matPrefix>123</mat-icon>
                                    <mat-hint *ngIf="formulario.controls['numPasta'].errors?.['required']" class="lbObri"><b>* </b>Campo obrigatório</mat-hint>
                                </mat-form-field>
                            </div>

                            <div class="blocoLinha">
                                <mat-form-field appearance="outline" class="lb5">
                                    <mat-label>Nome Completo</mat-label>
                                    <input type="text" matInput placeholder="" formControlName="nome">
                                    <mat-icon matPrefix>mode</mat-icon>
                                    <mat-hint *ngIf="formulario.controls['nome'].errors?.['required']" class="lbObri"><b>* </b>Campo obrigatório</mat-hint>
                                </mat-form-field>
                                <mat-form-field appearance="outline" class="lb3">
                                    <mat-label>CPF</mat-label>
                                    <input type="text" matInput placeholder="" formControlName="cpf">
                                    <mat-icon matPrefix>badge</mat-icon>
                                    <mat-hint *ngIf="formulario.controls['cpf'].errors?.['required']" class="lbObri"><b>* </b>Campo obrigatório</mat-hint>

                                </mat-form-field>
                                <mat-form-field appearance="outline" class="lb2">
                                    <mat-label>Data Nascimento</mat-label>
                                    <input type="text" matInput placeholder="" formControlName="dataNascimento">
                                    <mat-icon matPrefix>calendar_month</mat-icon>
                                    <mat-hint *ngIf="formulario.controls['dataNascimento'].errors?.['required']" class="lbObri"><b>* </b>Campo obrigatório</mat-hint>
                                </mat-form-field>
                            </div>

                            <div class="blocoLinha">
                                <mat-form-field appearance="outline" class="lb3">
                                    <mat-label>Telefone</mat-label>
                                    <input type="text" matInput placeholder="" formControlName="telefone" required>
                                    <mat-icon matPrefix>call</mat-icon>
                                    <mat-hint *ngIf="formulario.controls['telefone'].errors?.['required']" class="lbObri"><b>* </b>Campo obrigatório</mat-hint>
                                </mat-form-field>

                                <mat-form-field appearance="outline" class="lb3">
                                    <mat-label>Email</mat-label>
                                    <input type="email" matInput placeholder="" formControlName="email" required >
                                    <mat-icon matPrefix>mail</mat-icon>
                                    <mat-hint *ngIf="formulario.controls['email'].errors?.['required']" class="lbObri"><b>* </b>Campo obrigatório</mat-hint>
                                </mat-form-field>

                                <input type="file">

                            </div>

                        </div>
                    </div>
                    <div>
                        <p>Preencha todas as informações para passar para a próxima etapa.</p>
                        <button mat-button matStepperNext>Proximo</button>
                    </div>

                </mat-step>
                <mat-step [stepControl]="formulario" errorMessage="Responsável do Paciente">

                    <ng-template matStepLabel>Responsável pelo Paciente</ng-template>

                    <div class="infoPessoal">
                        <div class="InfoPessoais">

                            <div class="blocoLinha" formGroupName="responsavel">
                                <mat-form-field appearance="outline" class="lb5">
                                    <mat-label>Nome do(a) Responsável</mat-label>
                                    <input type="text" matInput placeholder="" formControlName="nome">

                                    <mat-icon matPrefix>mode</mat-icon>

                                </mat-form-field>
                                <mat-form-field appearance="outline" class="lb3">
                                    <mat-label>CPF do(a) Responsável</mat-label>
                                    <input type="text"  matInput placeholder=""  formControlName="cpf">
                                    <mat-icon matPrefix>badge</mat-icon>

                                </mat-form-field>
                                <mat-form-field appearance="outline" class="lb3">
                                    <mat-label>Telefone do(a) Responsável</mat-label>
                                    <input type="text"  matInput placeholder="" formControlName="telefone">
                                    <mat-icon matPrefix>call</mat-icon>

                                </mat-form-field>
                            </div>


                        </div>
                    </div>

                    <div>
                        <p>Preencha todas as informações para passar para a próxima etapa.</p>
                        <button mat-button matStepperPrevious>Voltar</button>
                        <button mat-button matStepperNext>Proximo</button>
                    </div>

                </mat-step>
                <mat-step [stepControl]="formulario" errorMessage="Endereço completo obrigatório">

                    <ng-template matStepLabel>Endereço </ng-template>
                    <div class="infoPessoal">
                        <div class="InfoPessoais" formGroupName="endereco">

                            <div class="blocoLinha">
                                <mat-form-field appearance="outline" class="lb3">
                                    <mat-label>CEP</mat-label>
                                    <input type="text" matInput placeholder="" formControlName="cep" (blur)="buscaCEP()">
                                    <mat-icon matPrefix>add_location</mat-icon>
                                    <mat-hint *ngIf="formulario.get('endereco.cep')?.hasError('required')" class="lbObri"><b>* </b>Campo obrigatório</mat-hint>
                                </mat-form-field>
                                <mat-form-field appearance="outline" class="lb3">
                                    <mat-label>Cidade</mat-label>
                                    <input type="text" matInput placeholder="" formControlName="cidade">
                                    <mat-icon matPrefix>location_city</mat-icon>
                                    <mat-hint *ngIf="formulario.get('endereco.cidade')?.hasError('required')" class="lbObri"><b>* </b>Campo obrigatório</mat-hint>
                                </mat-form-field>
                                <mat-form-field appearance="outline" class="lb3">
                                    <mat-label>Bairro</mat-label>
                                    <input type="text" matInput placeholder="" formControlName="bairro">
                                    <mat-icon matPrefix>map</mat-icon>
                                    <mat-hint *ngIf="formulario.get('endereco.bairro')?.hasError('required')" class="lbObri"><b>* </b>Campo obrigatório</mat-hint>
                                </mat-form-field>

                            </div>
                            <div class="blocoLinha">
                                <mat-form-field appearance="outline" class="lb5">
                                    <mat-label>Logradouro</mat-label>
                                    <input type="text" matInput placeholder="" formControlName="logradouro">
                                    <mat-icon matPrefix>local_library</mat-icon>
                                    <mat-hint *ngIf="formulario.get('endereco.logradouro')?.hasError('required')" class="lbObri"><b>* </b>Campo obrigatório</mat-hint>
                                </mat-form-field>
                                <mat-form-field appearance="outline" class="lb2">
                                    <mat-label>Número</mat-label>
                                    <input type="text" matInput placeholder="" formControlName="numero">
                                    <mat-icon matPrefix>123</mat-icon>
                                    <mat-hint *ngIf="formulario.get('endereco.numero')?.hasError('required')" class="lbObri"><b>* </b>Campo obrigatório</mat-hint>
                                </mat-form-field>
                                <mat-form-field appearance="outline" class="lb3">
                                    <mat-label>Complemento</mat-label>
                                    <input type="text" matInput placeholder="" formControlName="complemento">
                                    <mat-icon matPrefix>message</mat-icon>
                                    <mat-hint *ngIf="formulario.get('endereco.complemento')?.hasError('required')" class="lbObri"><b>* </b>Campo obrigatório</mat-hint>
                                </mat-form-field>
                            </div>
                            <div class="blocoLinha">
                                <mat-form-field appearance="outline" class="lb4">
                                    <mat-label>Referencia</mat-label>
                                    <input type="text "matInput placeholder="" formControlName="referencia">
                                    <mat-icon matPrefix>mode</mat-icon>

                                </mat-form-field>

                            </div>

                        </div>
                    </div>
                    <div>
                        <p>Go to a different step to see the error state</p>
                        <button mat-button matStepperPrevious>Back</button>
                        <button mat-button matStepperNext>Next</button>
                    </div>

                </mat-step>
                <mat-step [stepControl]="formulario" errorMessage="Anamese do paciente e obrigatório">

                      <ng-template matStepLabel>Anamese</ng-template>
                      <div class="infoPessoal">
                        <div class="InfoPessoais" formGroupName="anamnese">

                            <div class="blocoLinha">
                                <mat-form-field appearance="outline" class="lb5">
                                    <mat-label>Portador(a) de alguma doença?</mat-label>
                                    <input type="text" matInput placeholder="(Qual?)" formControlName="problemaSaude">
                                    <mat-icon matPrefix>healing</mat-icon>
                                    <mat-hint *ngIf="formulario.get('anamnese.problemaSaude')?.hasError('required')" class="lbObri"><b>* </b>Campo obrigatório</mat-hint>
                                </mat-form-field>
                                <mat-form-field appearance="outline" class="lb4">
                                    <mat-label>Em tratamento médico?</mat-label>
                                    <input type="text" matInput placeholder="(Qual?)" formControlName="tratamento">
                                    <mat-icon matPrefix>healing</mat-icon>
                                    <mat-hint *ngIf="formulario.get('anamnese.tratamento')?.hasError('required')" class="lbObri"><b>* </b>Campo obrigatório</mat-hint>
                                </mat-form-field>

                            </div>
                            <div class="blocoLinha">
                                <mat-form-field appearance="outline" class="lb5">
                                    <mat-label>Em uso de medicação?</mat-label>
                                    <input type="text" matInput placeholder="(Qual?)" formControlName="remedio">
                                    <mat-icon matPrefix>medication</mat-icon>
                                    <mat-hint *ngIf="formulario.get('anamnese.remedio')?.hasError('required')" class="lbObri"><b>* </b>Campo obrigatório</mat-hint>
                                </mat-form-field>
                                <mat-form-field appearance="outline" class="lb5">
                                    <mat-label>Alérgico(a) a algum medicamento?</mat-label>
                                    <input type="text" matInput placeholder="(Qual)" formControlName="alergia">
                                    <mat-icon  matPrefix>vaccines</mat-icon>
                                    <mat-hint *ngIf="formulario.get('anamnese.alergia')?.hasError('required')" class="lbObri"><b>* </b>Campo obrigatório</mat-hint>
                                </mat-form-field>

                            </div>

                            <mat-slide-toggle formControlName="hipertenso" class="btnSlide"><span class="slideText">&nbsp;Hipertenso?</span></mat-slide-toggle><br>
                            <mat-slide-toggle formControlName="gravida"  class="btnSlide"><span class="slideText">&nbsp;Está Gestante?</span></mat-slide-toggle><br>
                            <mat-slide-toggle formControlName="traumatismoFace"  class="btnSlide"><span class="slideText">&nbsp;Possui algum traumatismo na face?</span></mat-slide-toggle><br>
                            <mat-slide-toggle formControlName="sangramentoExcessivo"  class="btnSlide" ><span class="slideText">&nbsp;Possui sangramento excessivo?</span></mat-slide-toggle>

                        </div>
                    </div>
                      <div>
                        <p>Go to a different step to see the error state</p>
                        <button mat-button matStepperPrevious>Back</button>
                        <button mat-button matStepperNext>Next</button>
                        <button mat-fab extended type="submit"  class="btnadd" ><mat-icon>save</mat-icon>Salvar</button>
                      </div>

                  </mat-step>

               <mat-step>
                    <ng-template matStepLabel>Done</ng-template>
                    <p>You are now done.</p>
                    <div>
                        <button mat-button matStepperPrevious>Back</button>
                       <button mat-button (click)="stepper.reset()">Reset</button>

                    </div>
                </mat-step>
            </form>
        </mat-stepper>


 </div>
</div>-->

<div class="p-component new">

    <div class="lg:mx-8 my-5 web">
      <p-steps [model]="items" [readonly]="true" [activeIndex]="activeIndex" (activeIndexChange)="onActiveIndexChange($event)" >
      </p-steps>

    </div>

    <div class="row flex justify-content-center align-items-center">
      <!-- Voltar -->
      <div class="col-1 flex justify-content-center align-items-center">
        @if(indiceStep !== 1){
          <i class="pi pi-angle-left"
          style="font-size: 2.4rem; color: #2070B4"
          pTooltip=" Voltar "
          tooltipPosition="top"
          (click)="prevStep()"
          ></i>
        }
      </div>
      <!-- Main -->
      <div class="col-10">
        <div class="stepper-container">
          <form  [formGroup]="formulario" (ngSubmit)="onSubmit()" autocomplete="off">
            <div *ngIf="indiceStep === 1">

                  <div class="card z-1">
                    <h3 class="mobile">Informacoes Pessoais</h3>
                    <!-- login -->
                    <div class="row lg:flex lg:justify-content-center my-3">
                      <div class="field md:col-12 lg:col-3">
                        <span class="p-float-label p-input-icon-left p-input-icon-right width">
                          <i class="pi pi-user azul"></i>
                          <i [ngClass]="loading? 'pi pi-spin pi-spinner azul': ''" style="font-size: 1.3rem"></i>
                          <i [ngClass]="validacaoLogin? 'pi pi-check azul': ''" style="font-size: 1.3rem; color: #136C34"></i>
                          <input pInputText id="login" formControlName="login" required (input)="buscaLogin()" minlength="3" [style]="validacaoLogin? 'border-color:  #136C34': ''" class="width"/>
                          <label for="login " class="azul">Login</label>
                        </span>
                        <small *ngIf="formulario.controls['login'].errors?.['required']" class="p-error"><br>* Campo obrigatório</small>
                        <small *ngIf="formulario.controls['login'].errors?.['loginEmUso']" class="p-error"><br>Login digitado já está em uso.</small>
                        <small *ngIf="validacaoLogin" style="color: #136C34"><br>O login é válido.</small>
                      </div>

                      <div class="field  md:col-12 lg:col-3">
                        <span class="p-float-label p-input-icon-left p-input-icon-right width">
                          <i class="pi pi-key azul"></i>
                          <i [ngClass]="hide? 'pi pi-eye azul' : 'pi pi-eye-slash azul'" (click)="hide = !hide"></i>
                          <input pInputText [type]="hide ? 'password' : 'text'" id="password" formControlName="senha" class="width" />
                          <label for="password" class="azul">Senha</label>
                        </span>
                        <small *ngIf="formulario.controls['senha'].errors?.['required']"  class="p-error "><br>* Campo obrigatório</small>
                      </div>
                      <div class="col-1">

                      </div>
                      <div class=" md:col-12 lg:col-4">
                        <input pInputFile type="file" formControlName="fotoPerfil" >
                      </div>
                    </div>
                    <!-- nome -->
                    <div class="row lg:flex lg:justify-content-center my-3">
                      <div class="field  md:col-12 lg:col-5">
                        <span class="p-float-label p-input-icon-left width">
                          <i class="pi pi-pencil azul"></i>
                          <input pInputText id="nome" formControlName="nome" required class="width" />
                          <label for="nome" class="azul">Nome Completo</label>
                        </span>
                        <small *ngIf="formulario.controls['nome'].errors?.['required']"  class="p-error "><br>* Campo obrigatório</small>
                      </div>

                      <div class="field  md:col-12 lg:col-3">
                        <span class="p-float-label p-input-icon-left p-input-icon-right width">
                          <i class="pi pi-id-card azul"></i>
                          @if (!validacaoCPF && validacaoCPF != null || existeCPF) {
                            <i class='pi pi-times' style="font-size: 1.3rem; color: #FF3D32"></i>
                          }
                          @else if (validacaoCPF && validacaoCPF != null) {
                            <i class='pi pi-check' style="font-size: 1.3rem; color: #136C34"></i>
                          }
                          <input pInputText id="cpf" formControlName="cpf" maxlength="14" minlength="11" (input)="validaCPF()" required  [style]="!validacaoCPF && validacaoCPF != null || existeCPF? 'border-color:  #136C34':'none'" class="width"/>
                          <label for="cpf" class="azul">CPF</label>
                        </span>
                        <small *ngIf="formulario.controls['cpf'].errors?.['required']"  class="p-error "><br>* Campo obrigatório</small>
                        <small *ngIf="!validacaoCPF && validacaoCPF != null || existeCPF"  class="p-error "><br>CPF inválido ou já cadastrado</small>
                        <!-- <small *ngIf="existeCPF"  class="p-error "><br>CPF já cadastrado</small> -->
                        <small *ngIf="validacaoCPF && validacaoCPF != null"  style="color: #136C34"><br>CPF válido</small>
                      </div>

                      <div class="field  md:col-12 lg:col-3">
                        <span class="p-float-label p-input-icon-left width">
                          <i class="pi pi-phone azul"></i>
                          <input pInputText id="telefone" formControlName="telefone" (input)="replaceTelefone(1)" required class="width"  />
                          <label for="cpf" class="azul">Telefone</label>
                        </span>
                        <small *ngIf="formulario.controls['telefone'].errors?.['required']"  class="p-error "><br>* Campo obrigatório</small>
                      </div>
                      <!-- <div class="field col-4">
                        <span class="p-float-label p-input-icon-left azul">
                          <p-calendar  [iconDisplay]="'input'" [showIcon]="true" inputId="dataConsulta" placeholder="dd/mm/yyyy" class="width"></p-calendar>
                          <label for="dataConsulta" class="azul">Data Nascimento</label>
                        </span>
                      </div> -->

                    </div>
                    <!-- contato -->
                    <div class="row lg:flex lg:justify-content-center my-3">

                      <div class="field  md:col-12 lg:col-3 ">
                        <span class="p-float-label p-input-icon-right width ">
                          <p-calendar inputId="dataNascimento" appendTo="body" [autoZIndex]="true" formControlName="dataNascimento" [iconDisplay]="'input'" [showIcon]="true" [showTime]="false" [showButtonBar]="false" dateFormat="dd/mm/yy" class="width">
                            <ng-template pTemplate="inputicon" let-clickCallBack="clickCallBack" class="p-input-icon-right">
                              <i class="pi pi-calendar azul" (click)="clickCallBack($event)"></i>
                            </ng-template>
                          </p-calendar>
                          <label for="dataNascimento" class="azul">Data Nascimento</label>
                        </span>
                        <small *ngIf="formulario.controls['dataNascimento'].errors?.['required']"  class="p-error "><br>* Campo obrigatório</small>
                      </div>

                      <div class="field  md:col-12 lg:col-5">
                        <span class="p-float-label p-input-icon-left width">
                          <i class="pi pi-envelope azul"></i>
                          <input pInputText id="email" formControlName="email" required class="width"  />
                          <label for="email" class="azul">Email</label>
                        </span>
                        <small *ngIf="formulario.controls['email'].errors?.['required']"  class="p-error "><br>* Campo obrigatório</small>
                      </div>

                      <div class="field  md:col-12 lg:col-3">
                        <span class="p-float-label p-input-icon-left width">
                          <i class="pi pi-folder-open azul"></i>
                          <input pInputText id="pasta" formControlName="numPasta" maxlength="5" required class="width" />
                          <label for="pasta" class="azul">N Pasta</label>
                        </span>
                        <small *ngIf="formulario.controls['numPasta'].errors?.['required']"  class="p-error "><br>* Campo obrigatório</small>
                      </div>
                    </div>

                    <!-- <div class="card flex justify-content-center">
                      <p-fileUpload mode="basic" name="demo[]" url="https://www.primefaces.org/cdn/api/upload.php" accept="image/*" [maxFileSize]="1000000" (onUpload)="onBasicUploadAuto($event)" [auto]="true" chooseLabel="Browse"></p-fileUpload>
                    </div> -->
                  </div>
            </div>

            <div *ngIf="indiceStep === 2">
                <div class="card">
                  <h3 class="mobile">Responsavel</h3>
                  <div class="row lg:flex lg:justify-content-center my-3" formGroupName="responsavel">

                    <div class="field md:col-12 lg:col-5">
                      <span class="p-float-label p-input-icon-left width">
                        <i class="pi pi-pencil azul"></i>
                        <input pInputText id="nome" formControlName="nome" class="width" />
                        <label for="nome" class="azul">Nome Completo</label>
                      </span>
                    </div>
                    <div class="field md:col-12 lg:col-3">
                      <span class="p-float-label p-input-icon-left p-input-icon-right width">
                        <i class="pi pi-id-card azul"></i>
                        @if (!RespValidacaoCPF && RespValidacaoCPF != null) {
                          <i class='pi pi-times' style="font-size: 1.3rem; color: #FF3D32"></i>
                        }
                        @else if (RespValidacaoCPF && RespValidacaoCPF != null) {
                          <i class='pi pi-check' style="font-size: 1.3rem; color: #136C34"></i>
                        }
                        <input pInputText id="cpf" formControlName="cpf" maxlength="14" minlength="11" (input)="RespValidaCPF()" [style]="RespValidacaoCPF && validacaoCPF != null? 'border-color:  #136C34': 'none'" class="width"/>
                        <label for="cpf" class="azul">CPF</label>
                      </span>
                      <small *ngIf="!RespValidacaoCPF && RespValidacaoCPF != null"  class="p-error "><br>CPF inválido ou já cadastrado</small>
                      <small *ngIf="RespValidacaoCPF && validacaoCPF != null"  style="color: #136C34"><br>CPF válido</small>
                    </div>

                    <div class="field md:col-12 lg:col-3">
                      <span class="p-float-label p-input-icon-left width">
                        <i class="pi pi-phone azul"></i>
                        <input pInputText id="telefone" formControlName="telefone" (input)="replaceTelefone(2)" class="width"  />
                        <label for="cpf" class="azul">Telefone</label>
                      </span>
                    </div>
                  </div>
                </div>
            </div>
            <div *ngIf="indiceStep === 3">

                  <div class="card" formGroupName="endereco">
                    <h3 class="mobile">Endereco</h3>
                    <div class="row lg:flex lg:justify-content-center my-3" >
                      <div class="field md:col-12 lg:col-3">
                        <span class="p-float-label p-input-icon-left p-input-icon-right width">
                          <i class="pi pi-map-marker azul"></i>
                          <i [ngClass]="loading? 'pi pi-spin pi-spinner': ''" style="font-size: 1.3rem"></i>
                          <input pInputText id="cep" formControlName="cep" required (blur)="buscaCEP()" minlength="8" maxlength="11" class="width" />
                          <label for="cep" class="azul">CEP</label>
                        </span>
                        <small *ngIf="formulario.get('endereco.cep')?.hasError('required')"  class="p-error "><br>* Campo obrigatório</small>
                      </div>

                      <div class="field md:col-12 lg:col-4">
                        <span class="p-float-label p-input-icon-left width">
                          <i class="pi pi-map-marker azul"></i>
                          <input pInputText id="cidade" formControlName="cidade" required class="width"  />
                          <label for="cidade" class="azul">Cidade</label>
                        </span>
                        <small *ngIf="formulario.get('endereco.cidade')?.hasError('required')"  class="p-error "><br>* Campo obrigatório</small>
                      </div>

                      <div class="field md:col-12 lg:col-4">
                        <span class="p-float-label p-input-icon-left width">
                          <i class="pi pi-map-marker azul"></i>
                          <input pInputText id="bairro" formControlName="bairro" required class="width"/>
                          <label for="bairro" class="azul">Bairro</label>
                        </span>
                        <small *ngIf="formulario.get('endereco.bairro')?.hasError('required')"  class="p-error "><br>* Campo obrigatório</small>
                      </div>
                    </div>

                    <div class="row lg:flex lg:justify-content-center my-3">
                      <div class="field md:col-12 lg:col-5">
                        <span class="p-float-label p-input-icon-left width">
                          <i class="pi pi-map azul"></i>
                          <input pInputText id="logradouro" formControlName="logradouro" required class="width" />
                          <label for="logradouro" class="azul">Logradouro</label>
                        </span>
                        <small *ngIf="formulario.get('endereco.logradouro')?.hasError('required')"  class="p-error "><br>* Campo obrigatório</small>
                      </div>

                      <div class="field md:col-12 lg:col-2">
                        <span class="p-float-label p-input-icon-left width">
                          <i class="pi pi-map azul"></i>
                          <input pInputText id="numero" formControlName="numero" required class="width" />
                          <label for="numero" class="azul">Número</label>
                        </span>
                        <small *ngIf="formulario.get('endereco.numero')?.hasError('required')"  class="p-error "><br>* Campo obrigatório</small>
                      </div>
                      <div class="field md:col-12 lg:col-4">
                        <span class="p-float-label p-input-icon-left width">
                          <i class="pi pi-map azul"></i>
                          <input pInputText id="complemento" formControlName="complemento" required class="width" />
                          <label for="complemento" class="azul">Complemento</label>
                        </span>
                        <small *ngIf="formulario.get('endereco.complemento')?.hasError('required')"   class="p-error "><br>* Campo obrigatório</small>
                      </div>

                    </div>

                    <div class="row lg:flex lg:justify-content-center my-3">

                      <div class="field md:col-12 lg:col-4">
                        <span class="p-float-label p-input-icon-left width">
                          <i class="pi pi-map azul"></i>
                          <input pInputText id="referencia" formControlName="referencia" class="width" />
                          <label for="referencia" class="azul">Referencia</label>
                        </span>
                      </div>
                    </div>

                  </div>

            </div>

            <div *ngIf="indiceStep === 4">
                  <div class="card" formGroupName="anamnese">
                    <h3 class="mobile">Anamnese</h3>
                    <div class="row lg:flex lg:justify-content-center my-3">
                      <div class="field md:col-12 lg:col-6">
                        <span class="p-float-label p-input-icon-left width">
                          <i class="pi pi-file-edit azul"></i>
                          <input pInputText id="problemaSaude" formControlName="problemaSaude" required class="width" />
                          <label for="problemaSaude" class="azul">Portador(a) de alguma doença?</label>
                        </span>
                        <small *ngIf="formulario.get('anamnese.problemaSaude')?.hasError('required')"   class="p-error "><br>* Campo obrigatório</small>
                      </div>
                      <div class="field md:col-12 lg:col-4">
                        <span class="p-float-label p-input-icon-left width">
                          <i class="pi pi-file-edit azul"></i>
                          <input pInputText id="tratamento" formControlName="tratamento" required class="width" />
                          <label for="tratamento" class="azul">Em tratamento médico?</label>
                        </span>
                        <small *ngIf="formulario.get('anamnese.tratamento')?.hasError('required')"   class="p-error "><br>* Campo obrigatório</small>
                      </div>
                    </div>
                    <div class="row lg:flex lg:justify-content-center my-3">
                      <div class="field md:col-12 lg:col-4">
                        <span class="p-float-label p-input-icon-left width">
                          <i class="pi pi-file-edit azul"></i>
                          <input pInputText id="alergia" formControlName="alergia" required class="width" />
                          <label for="alergia" class="azul">&nbsp;&nbsp;Alérgico(a) a algum medicamento?</label>
                        </span>
                        <small *ngIf="formulario.get('anamnese.alergia')?.hasError('required')"   class="p-error "><br>* Campo obrigatório</small>
                      </div>
                      <div class="field md:col-12 lg:col-6">
                        <span class="p-float-label p-input-icon-left width">
                          <i class="pi pi-file-edit azul"></i>
                          <input pInputText id="remedio" formControlName="remedio" required class="width" />
                          <label for="remedio" class="azul">&nbsp;&nbsp;Em uso de medicação?</label>
                        </span>
                        <small *ngIf="formulario.get('anamnese.remedio')?.hasError('required')"   class="p-error "><br>* Campo obrigatório</small>
                      </div>
                    </div>
                    <div class="row lg:flex lg:justify-content-center mt-5">
                      <div class="col-1 web"></div>
                      <div class="md:col-12 lg:col-4">
                        <span class=" flex justify-content-start align-items-center  my-3">
                          <p-inputSwitch id="hipertenso" formControlName="hipertenso"></p-inputSwitch>
                          <label for="hipertenso" class="azul">&nbsp;&nbsp;Hipertenso?</label>
                        </span>
                        <span class=" flex justify-content-start align-items-center  my-3">
                          <p-inputSwitch id="gravida" formControlName="gravida"></p-inputSwitch>
                          <label for="gravida" class="azul">&nbsp;&nbsp;Está Gestante?</label>
                        </span>
                      </div>
                      <div class="md:col-12 lg:col-4 ">
                        <span class=" flex justify-content-start align-items-center my-3">
                          <p-inputSwitch id="traumatismoFace" formControlName="traumatismoFace"></p-inputSwitch>
                          <label for="traumatismoFace" class="azul">&nbsp;&nbsp;Possui algum traumatismo na face?</label>
                        </span>
                        <span class=" flex justify-content-start align-items-center  my-3">
                          <p-inputSwitch id="sangramentoExcessivo" formControlName="sangramentoExcessivo"></p-inputSwitch>
                          <label for="sangramentoExcessivo" class="azul">&nbsp;&nbsp;Possui sangramento excessivo?</label>
                        </span>
                      </div>


                    </div>
                  </div>

            </div>
            <div class="flex flex justify-content-around lg:justify-content-between align-content-center m-3">
              <p-button label="Voltar" [rounded]="true" severity="danger" [outlined]="true" icon="pi pi-times" class="mx-2" (click)="fecharModal()"></p-button>
              <p-button type="submit" label="Salvar" [rounded]="true" severity="success"  icon="pi pi-save" class="mx-2" *ngIf="indiceStep === 4"></p-button>
              <!-- <button pButton type="submit" icon="pi pi-save" label="Salvar"  class="btnSalvar mx-2" *ngIf="indiceStep === 4"></button> -->
            </div>
          </form>
        </div>
      </div>
      <!-- Proxímo -->
      <div class="col-1 flex justify-content-center align-items-center">
        @if(indiceStep !== 4){
        <i class="pi pi-angle-right"
          style="font-size: 2.4rem; color: #2070B4"
          pTooltip=" Próximo "
          tooltipPosition="top"
          (click)="nextStep()"
          ></i>
        }
      </div>
    </div>

</div>
