.azul{
  color: #2070B4;
}

button{
  background: linear-gradient(to right, #2070b4, #24aae3);
  font-size: 0.9rem;
  width: 10vw;
  border-radius: 50px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15), 0 6px 6px rgba(0, 0, 0, 0.12);
  border:none;
}

button:hover{
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2), 0 8px 8px rgba(0, 0, 0, 0.16);
}

.box{
  background: #FFFFFF;
  border-radius: 7px ;
  border: 1px solid #c4ddf3;
  box-shadow: rgba(228, 238, 250, 1) 0px 10px 20px, rgba(228, 238, 250, 1) 0px 6px 6px;

}
.new{
  border: 1px solid #c4ddf3;
  padding-left: 2vw;
  padding-right: 2vw;
  border-radius: 8px;
}
.width{
  width: 100%;
}
/* .btnSalvar {
  width: 8vw;
  background: #1DA750;
  border-radius: 15px;
  margin-inline: 2vw;
} */

button{
  background: linear-gradient(to right, #2070b4, #24aae3);
  font-size: 0.9rem;
  width: 8vw;
  border-radius: 50px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15), 0 6px 6px rgba(0, 0, 0, 0.12);
}

button:hover{
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2), 0 8px 8px rgba(0, 0, 0, 0.16);
}

.web{
  display: block;
}

.mobile{
  display: none;
}

@media only screen and (max-width: 767px) {
  .web{
    display: none;
  }
  .mobile{
    display: block;
  }

}
