


  <div class="card p-component pt-4 new ">
    <form [formGroup]="formulario" (ngSubmit)="onSubmit()">
      <div class="row flex justify-content-around mt-2 h-4rem">
        <div class="">
          <span class="p-float-label p-input-icon-right ">
            <p-dropdown
              *ngIf="!pacienteSelecionado"
              [options]="listaPaciente"
              appendTo="body"
              [autoZIndex]="true"
              formControlName="paciente"
              [filter]="true"
              filterBy="nome"
              optionLabel="nome"
              [style]="{'width': '14vw', 'height':'46px'}"
              scrollHeight="300px"
              inputId="paciente"
            ></p-dropdown>
            <i class="pi pi-pw pi-angle-down text-xl" *ngIf="pacienteSelecionado"></i>
            <input pInputText id="nome" *ngIf="pacienteSelecionado" [value]="pacienteSelecionado.nome" required [disabled]="true" class="width" />
            <label for="paciente" class="azul">{{pacienteSelecionado? "Paciente":"Selecione o Paciente"}}</label>
          </span>
          <small *ngIf="formulario.get('paciente')?.hasError('required')"  class="p-error text-xs"><br>* Campo obrigatório</small>
      </div>

        <div class="">
          <span class="p-float-label  p-input-icon-right">
            <p-dropdown
              [options]="listaDentista"
              appendTo="body"
              [autoZIndex]="true"
              formControlName="dentista"
              optionLabel="nome"
              [filter]="true"
              filterBy="nome"
              [style]="{'width': '14vw', 'height':'46px'}"
              scrollHeight="300px"
              inputId="dentista"
              ></p-dropdown>

            <label for="dentista" class="azul ">Selecione o Dentista</label>
          </span>
          <small *ngIf="formulario.get('dentista')?.hasError('required')"  class="p-error text-xs"><br>* Campo obrigatório</small>
        </div>

      </div>

      <div class="row flex justify-content-around mt-6 h-4rem">

            <div class="field">
              <span class="p-float-label  p-input-icon-right">
                <p-calendar
                  [iconDisplay]="'input'"
                  [showIcon]="true"
                  appendTo="body"
                  [autoZIndex]="true"
                  inputId="dataConsulta"
                  placeholder="dd/mm/yyyy"
                  dateFormat="dd/mm/yy"
                  [showButtonBar]="true"
                  [style]="{'color':'#2070B4', 'width': '12vw'}"
                  formControlName="dataConsulta"
                  >
                  <ng-template pTemplate="inputicon" let-clickCallBack="clickCallBack" class="p-input-icon-right">
                    <i class="pi pi-calendar azul" (click)="clickCallBack($event)"></i>
                  </ng-template>
                </p-calendar>
                <label for="dataConsulta" class="azul">Data Consulta</label>
              </span>
              <small *ngIf="formulario.get('dataConsulta')?.hasError('required')"  class="p-error text-xs"><br>* Campo obrigatório</small>
            </div>

            <div class="field">
              <span class="p-float-label p-input-icon-right">
                <i class="pi pi-clock azul"></i>
                <p-inputMask mask="99:99" slotChar="--:--" formControlName="horaConsulta" [style]="{'width': '12vw'}"></p-inputMask>
                <label for="horaConsulta" class="azul">Hora Consulta</label>
              </span>
              <small *ngIf="formulario.get('horaConsulta')?.hasError('required')"  class="p-error text-xs"><br>* Campo obrigatório</small>
            </div>
      </div>
      <div class="row flex justify-content-center mt-6 h-4rem ">
          <div class="field">
            <span class="p-float-label  p-input-icon-right">
              <p-dropdown
                [options]="listaEspecConsulta"
                appendTo="body"
                [autoZIndex]="true"
                formControlName="consultaEspecialidade"
                optionLabel="tipo"
                [style]="{'width': '16vw', 'height':'46px'}"
                scrollHeight="300px"
                inputId="especConsulta"
                ></p-dropdown>
              <label for="consultaEspecialidade" class="azul">Procedimento da Consulta</label>
              <small *ngIf="formulario.get('consultaEspecialidade')?.hasError('erro')"class="p-error text-xs"><br>*Houve um erro ao buscar os tipos de consultas</small>
            </span>
            <small *ngIf="formulario.get('consultaEspecialidade')?.hasError('required')"  class="p-error text-xs"><br>* Campo obrigatório</small>
          </div>
      </div>
      <div class="row h-6rem mt-3">
        <div class="flex justify-content-center">
          <div>
            <h4>Tempo Previsto</h4>
          </div>

        </div>

        <div class="flex justify-content-center ">
              <div class="flex align-items-center ">
                <p-radioButton name="tempoPrevisto" value="1" class="azul" formControlName="tempoPrevisto" inputId="tempo1" label="15 Minutos"></p-radioButton>
              </div>
              <div class="flex align-items-center ml-2">
                <p-radioButton name="tempoPrevisto" value="2" class="azul" formControlName="tempoPrevisto" inputId="tempo2" label="30 Minutos"></p-radioButton>
              </div>
              <div class="flex align-items-center ml-2 mr-2">
                <p-radioButton name="tempoPrevisto" value="3" class="azul" formControlName="tempoPrevisto" inputId="tempo3" label="45 Minutos"></p-radioButton>
              </div>
              <div class="flex align-items-center">
                <p-radioButton name="tempoPrevisto" value="4" class="azul" formControlName="tempoPrevisto" inputId="tempo4" label="60 Minutos"></p-radioButton>
              </div>
        </div>
        <div class="flex justify-content-center ">
          <small *ngIf="formulario.get('tempoPrevisto')?.hasError('required')"  class="p-error text-xs"><br>* Campo obrigatório</small>
        </div>
      </div>

      <div class="row flex justify-content-center mt-7">
        <span class="p-float-label width">
          <textarea id="float-input" rows="3" class="width" formControlName="observacao" pInputTextarea></textarea>
          <label for="float-input" class="azul">Observações</label>
        </span>
      </div>
      <div class="flex justify-content-center align-content-center m-3">
        <p-button label="Cancelar" [rounded]="true" severity="danger" [outlined]="true" icon="pi pi-times" class="mx-2" (click)="fecharModal()"></p-button>
        <button pButton type="submit"  label="Agendar" icon="pi pi-save" class="btnSalvar mx-2"></button>
     </div>
    </form>
  </div>



