<div class="">
  <div class="bannerEmpresa border-round-3xl">
    <div class="md:12 lg:col-2">
      <div class="lg:flex justify-content-center align-items-center mt-4">
        <p-image src="../../../assets/img/odonto.png"
        width="180"
        alt="Foto de perfil do paciente"
        [preview]="true"
        class="web"
        ></p-image>
      </div>
      <div class="flex justify-content-center align-items-center">
        <span class="text-red-500 font-bold text-sm cursor-pointer hover:text-red-600 m-1 web" > <i class="pi pi-pencil text-sm"></i>&nbsp;&nbsp;Alterar foto</span>
        <span class="text-red-500 font-bold mobile"><i class="pi pi-camera"></i></span>
      </div>
    </div>
  </div>

  <div class="lg:flex lg:mt-3" >
    <div class="col-12 bg-white border-round-2xl">

      <p-tabView class="md:p-auto"  [(activeIndex)]="activeIndex">
        <p-tabPanel header="Informações da Empresa" >
          <ng-template pTemplate="header" >
            <i class="pi pi-fw pi-building"></i>
            <span class="web">&nbsp;Informações</span>
          </ng-template>

          <div class="flex align-items-center justify-content-end gap-2">
              <p-button
                icon="pi pi-pw pi-pencil"
                (click)="editarEmpresa()"
                [rounded]="true"
                [text]="true"
                pTooltip="Editar"
                tooltipPosition="top"
                [style]="{'color': '#2570eb'}"
                [style.--cor-fundo]="'#dbecfe'"
                [style.--cor-fundo-hover]="'#cde6fe'"
                class="btnAcao border-circle"
              ></p-button>

              <p-button
                icon="pi pi-pw pi-check"
                (click)="salvarEdicao()"
                [rounded]="true"
                [text]="true"
                pTooltip="Confirmar"
                tooltipPosition="top"
                [style]="{'color': '#1DA750'}"
                [style.--cor-fundo]="'#ddfbe7'"
                [style.--cor-fundo-hover]="'#cef9d9'"
                class="btnAcao border-circle"
              ></p-button>

              <p-button
                *ngIf="false"
                icon="pi pi-pw pi-lock"
                [rounded]="true"
                [text]="true"
                pTooltip="Inativar"
                tooltipPosition="top"
                (click)="this.onInactivate();"
                [style]="{'color': '#ed2115'}"
                [style.--cor-fundo]="'#ffe1df'"
                [style.--cor-fundo-hover]="'#ffd4d2'"
                class="btnAcao border-circle"
              ></p-button>

              <p-button
                *ngIf="true"
                icon="pi pi-pw pi-lock-open"
                [rounded]="true"
                [text]="true"
                severity="danger"
                pTooltip="Ativar"
                tooltipPosition="top"
                (click)="this.onReactivate();"
                [style]="{'color': '#ed2115'}"
                [style.--cor-fundo]="'#ffe1df'"
                [style.--cor-fundo-hover]="'#ffd4d2'"
                class="btnAcao border-circle"
              ></p-button>

          </div>

          <p-divider align="left" type="solid" >
            <i class="pi pi-user" ></i>
            <b>&nbsp;&nbsp;&nbsp;Informações Empresariais</b>
          </p-divider>

          <!-- <form [formGroup]="formulario"> -->
            <div class="flex flex-column gap-2 mx-auto my-5 " >

              <div class="row flex justify-content-center">
                <div class="field md:col-12 lg:col-4">
                  <span class="p-float-label p-input-icon-left width">
                    <i class="pi pi-map azul"></i>
                    <!-- formControlName="nome" -->
                    <input pInputText id="nome"  class="width" />
                    <label for="nome" class="azul">Nome da empresa</label>
                  </span>
                </div>
                <div class="field md:col-12 lg:col-3">
                  <span class="p-float-label p-input-icon-left width">
                    <i class="pi pi-map azul"></i>
                    <!-- formControlName="cnpj"  -->
                    <input pInputText id="cnpj" class="width" />
                    <label for="cnpj" class="azul">CNPJ</label>
                  </span>
                </div>
                <div class="field md:col-12 lg:col-3">
                  <span class="p-float-label p-input-icon-left width">
                    <i class="pi pi-map azul"></i>
                    <!-- formControlName="telefone" -->
                    <input pInputText id="tell1"  class="width" />
                    <label for="tell1" class="azul">Telefone Fixo</label>
                  </span>
                </div>
              </div>

              <div class="row flex justify-content-center">
                <div class="field md:col-12 lg:col-3">
                  <span class="p-float-label p-input-icon-left width">
                    <i class="pi pi-map azul"></i>
                    <!-- formControlName="whatsapp" -->
                    <input pInputText id="whatsapp"  class="width" />
                    <label for="whatsapp" class="azul">Whatsapp</label>
                  </span>
                </div>
                <div class="field md:col-12 lg:col-5">
                  <span class="p-float-label p-input-icon-left width">
                    <i class="pi pi-map azul"></i>
                    <!-- formControlName="email" -->
                    <input pInputText id="email"  class="width" />
                    <label for="email" class="azul">Email</label>
                  </span>
                </div>
              </div>
            </div>

            <p-divider align="left" type="solid" >
              <i class="pi pi-map-marker" ></i>
              <b>&nbsp;&nbsp;&nbsp;Endereço</b>
            </p-divider>

            <div class="flex flex-column mt-3">

              <div class="row lg:flex lg:justify-content-center" >
                <div class="field md:col-12 lg:col-3">
                  <span class="p-float-label p-input-icon-left p-input-icon-right width">
                    <i class="pi pi-map-marker azul"></i>
                    <!-- formControlName="cep" -->
                    <i [ngClass]="loading? 'pi pi-spin pi-spinner': ''" style="font-size: 1.3rem"></i>
                    <input pInputText id="cep"  required (blur)="buscaCEP()" minlength="8" maxlength="11" class="width" />
                    <label for="cep" class="azul">CEP</label>
                  </span>

                </div>

                <div class="field md:col-12 lg:col-4">
                  <span class="p-float-label p-input-icon-left width">
                    <i class="pi pi-map-marker azul"></i>
                    <!-- formControlName="cidade" -->
                    <input pInputText id="cidade"  required class="width"  />
                    <label for="cidade" class="azul">Cidade</label>
                  </span>

                </div>

                <div class="field md:col-12 lg:col-4">
                  <span class="p-float-label p-input-icon-left width">
                    <i class="pi pi-map-marker azul"></i>
                    <!-- formControlName="bairro" -->
                    <input pInputText id="bairro"  required class="width"/>
                    <label for="bairro" class="azul">Bairro</label>
                  </span>

                </div>
              </div>

              <div class="row lg:flex lg:justify-content-center">
                <div class="field md:col-12 lg:col-5">
                  <span class="p-float-label p-input-icon-left width">
                    <i class="pi pi-map azul"></i>
                    <!-- formControlName="logradouro" -->
                    <input pInputText id="logradouro"  required class="width" />
                    <label for="logradouro" class="azul">Logradouro</label>
                  </span>

                </div>

                <div class="field md:col-12 lg:col-2">
                  <span class="p-float-label p-input-icon-left width">
                    <i class="pi pi-map azul"></i>
                    <!-- formControlName="numero" -->
                    <input pInputText id="numero"  required class="width" />
                    <label for="numero" class="azul">Número</label>
                  </span>

                </div>
                <div class="field md:col-12 lg:col-4">
                  <span class="p-float-label p-input-icon-left width">
                    <i class="pi pi-map azul"></i>
                    <!-- formControlName="complemento" -->
                    <input pInputText id="complemento"  required class="width" />
                    <label for="complemento" class="azul">Complemento</label>
                  </span>

                </div>

              </div>

              <div class="row lg:flex lg:justify-content-center">

                <div class="field md:col-12 lg:col-4">
                  <span class="p-float-label p-input-icon-left width">
                    <i class="pi pi-map azul"></i>
                    <!-- formControlName="referencia" -->
                    <input pInputText id="referencia"   class="width" />
                    <label for="referencia" class="azul">Referencia</label>
                  </span>
                </div>
              </div>

            </div>
          <!-- </form> -->

        </p-tabPanel>

        <p-tabPanel header="Colaboradores" >
          <ng-template pTemplate="header" >
            <i class="pi pi-fw pi-users"></i>
            <span class="web">&nbsp;Colaboradores</span>
          </ng-template>

          <div class="row my-2">
            <p-selectButton
              [options]="filtroFunc"
              [(ngModel)]="filtro"
              [multiple]="false"
              [allowEmpty]="false"
              optionLabel="name"
              optionValue="value"
              class="selectButton"
              (onChange)="filtrarFuncOption($event)"
            >
              <ng-template let-item pTemplate>
                <i [class]="item.icon"><span class="mt-1 ml-1 p-component" >{{item.name}}</span></i>
              </ng-template>
            </p-selectButton>
          </div>

          <div *ngIf="funcFuncionario" class="mt-3"  >
            <!-- <div class="flex flex-row-reverse flex-wrap py-4">
              <button pButton type="button" label="Novo Funcionário" (click)="cadastro()" icon="pi pi-user-plus" class="web"></button>
              <p-button icon="pi pi-plus" [rounded]="true"  (click)="cadastro()" [style]="{'background': '#2070b4'}" class="mobile"></p-button>
            </div>
            <div class="">

            </div> -->
            <app-list-funcionario></app-list-funcionario>
          </div>

          <div *ngIf="funcDentista" class="mt-4">
            <div class="flex justify-content-end py-3">
              <p-button icon="pi pi-plus" [rounded]="true"  (click)="showDialog()" class="mobile" [style]="{'background': '#2070b4'}"></p-button>
              <button pButton type="button" label="Novo Dentista" (click)="showDialogDentista()" icon="pi pi-user-plus" class="web"></button>
            </div>
            <app-dentista-listar></app-dentista-listar>
          </div>
        </p-tabPanel>

        <p-tabPanel header="Configurações" >
          <ng-template pTemplate="header" >
            <i class="pi pi-fw pi-cog"></i>
            <span class="web">&nbsp;Configurações</span>
          </ng-template>

            <div class="row my-2">
              <p-selectButton
                [options]="filtroCog"
                [(ngModel)]="filtro"
                [multiple]="false"
                [allowEmpty]="false"
                optionLabel="name"
                optionValue="value"
                class="selectButton"
                (onChange)="filtrarCogOption($event)"
              >
                <ng-template let-item pTemplate>
                  <i [class]="item.icon"><span class="mt-1 ml-1 p-component" >{{item.name}}</span></i>
                </ng-template>
              </p-selectButton>
            </div>

            <div *ngIf="cogSistema">
              Se usa ponto
              se usa estoque
              se usa o financeiro
            </div>

            <div *ngIf="cogCargo" >
              <app-list-cargo></app-list-cargo>
            </div>

            <div *ngIf="cogAcesso" >

            </div>

            <div *ngIf="cogConsulta" >
              <app-admin-consulta></app-admin-consulta>
            </div>

            <div *ngIf="cogDentista" >
              <app-admin-dentista></app-admin-dentista>
            </div>

        </p-tabPanel>

      </p-tabView>
    </div>
  </div>
</div>

<p-dialog header='Cadastrando Empresa' [(visible)]="cadastroOrg" [style]="{ width: '70vw',  height: 'auto' }" [modal]="true" [draggable]="false" [resizable]="false" [closable]="true" class="">
  <div class="new p-4">
    <form [formGroup]="formulario" (ngSubmit)="onSubmit()">
      <p-stepper [(activeStep)]="active">
        <p-stepperPanel>

          <ng-template pTemplate="header" let-onClick="onClick" let-index="index">
            <span
              class="text-xl"
              [ngClass]="{
                'text-primary': index <= active,
                'font-medium': index == active
              }">
              <i class="pi pi-building text-xl"  [ngClass]="{'font-medium': index == active}"></i>
              Empresa
            </span>
          </ng-template>

          <ng-template pTemplate="content" let-nextCallback="nextCallback">

            <!-- main -->
            <div class="flex flex-column gap-2 mx-auto mt-3" >

              <div class="row flex justify-content-center">
                <div class="field md:col-12 lg:col-4">
                  <span class="p-float-label p-input-icon-left width">
                    <i class="pi pi-map azul"></i>
                    <input pInputText id="nome" class="width" />
                    <label for="nome" class="azul">Nome da empresa</label>
                  </span>
                </div>
                <div class="field md:col-12 lg:col-3">
                  <span class="p-float-label p-input-icon-left width">
                    <i class="pi pi-map azul"></i>
                    <input pInputText id="cnpj" class="width" />
                    <label for="cnpj" class="azul">CNPJ</label>
                  </span>
                </div>
                <div class="field md:col-12 lg:col-3">
                  <span class="p-float-label p-input-icon-left width">
                    <i class="pi pi-map azul"></i>
                    <input pInputText id="tell1" class="width" />
                    <label for="tell1" class="azul">Telefone Fixo</label>
                  </span>
                </div>
              </div>

              <div class="row flex justify-content-center">
                <div class="field md:col-12 lg:col-3">
                  <span class="p-float-label p-input-icon-left width">
                    <i class="pi pi-map azul"></i>
                    <input pInputText id="whatsapp" class="width" />
                    <label for="whatsapp" class="azul">Whatsapp</label>
                  </span>
                </div>
                <div class="field md:col-12 lg:col-3">
                  <span class="p-float-label p-input-icon-left width">
                    <i class="pi pi-map azul"></i>
                    <input pInputText id="email" class="width" />
                    <label for="email" class="azul">Email</label>
                  </span>
                </div>
              </div>
            </div>

            <div class="flex pt-4 justify-content-between">
              <p-button
              label="Cancelar"
              icon="pi pi-times"
              [rounded]="true"
              severity="danger"
              [outlined]="true"
              (onClick)="cadastroOrg = !cadastroOrg"
            />
              <p-button
                label="Próxima"
                icon="pi pi-arrow-right"
                iconPos="right"
                [outlined]="true"
                [rounded]="true"
                severity="success"
                (onClick)="nextCallback.emit()"
              />
            </div>
          </ng-template>
        </p-stepperPanel>

        <p-stepperPanel >

          <ng-template pTemplate="header" let-onClick="onClick" let-index="index">
            <span
              class="text-xl"
              [ngClass]="{
                'text-primary': index <= active,
                'font-medium': index == active
              }">
              <i class="pi pi-map-marker text-xl"  [ngClass]="{'font-medium': index == active}"></i>
              Endereço
            </span>
          </ng-template>


          <ng-template pTemplate="content" let-prevCallback="prevCallback" let-nextCallback="nextCallback" let-index="index">

              <!-- main -->
              <div class="flex flex-column mt-3">

                <div class="row lg:flex lg:justify-content-center" >
                  <div class="field md:col-12 lg:col-3">
                    <span class="p-float-label p-input-icon-left p-input-icon-right width">
                      <i class="pi pi-map-marker azul"></i>
                      <i [ngClass]="loading? 'pi pi-spin pi-spinner': ''" style="font-size: 1.3rem"></i>
                      <input pInputText id="cep" formControlName="cep" required (blur)="buscaCEP()" minlength="8" maxlength="11" class="width" />
                      <label for="cep" class="azul">CEP</label>
                    </span>

                  </div>

                  <div class="field md:col-12 lg:col-4">
                    <span class="p-float-label p-input-icon-left width">
                      <i class="pi pi-map-marker azul"></i>
                      <input pInputText id="cidade" formControlName="cidade" required class="width"  />
                      <label for="cidade" class="azul">Cidade</label>
                    </span>

                  </div>

                  <div class="field md:col-12 lg:col-4">
                    <span class="p-float-label p-input-icon-left width">
                      <i class="pi pi-map-marker azul"></i>
                      <input pInputText id="bairro" formControlName="bairro" required class="width"/>
                      <label for="bairro" class="azul">Bairro</label>
                    </span>

                  </div>
                </div>

                <div class="row lg:flex lg:justify-content-center">
                  <div class="field md:col-12 lg:col-5">
                    <span class="p-float-label p-input-icon-left width">
                      <i class="pi pi-map azul"></i>
                      <input pInputText id="logradouro" formControlName="logradouro" required class="width" />
                      <label for="logradouro" class="azul">Logradouro</label>
                    </span>

                  </div>

                  <div class="field md:col-12 lg:col-2">
                    <span class="p-float-label p-input-icon-left width">
                      <i class="pi pi-map azul"></i>
                      <input pInputText id="numero" formControlName="numero" required class="width" />
                      <label for="numero" class="azul">Número</label>
                    </span>

                  </div>
                  <div class="field md:col-12 lg:col-4">
                    <span class="p-float-label p-input-icon-left width">
                      <i class="pi pi-map azul"></i>
                      <input pInputText id="complemento" formControlName="complemento" required class="width" />
                      <label for="complemento" class="azul">Complemento</label>
                    </span>

                  </div>

                </div>

                <div class="row lg:flex lg:justify-content-center">

                  <div class="field md:col-12 lg:col-4">
                    <span class="p-float-label p-input-icon-left width">
                      <i class="pi pi-map azul"></i>
                      <input pInputText id="referencia" formControlName="referencia" class="width" />
                      <label for="referencia" class="azul">Referencia</label>
                    </span>
                  </div>
                </div>

              </div>

              <div class="flex pt-4 justify-content-between">
                <p-button
                  label="Voltar"
                  icon="pi pi-arrow-left"
                  [rounded]="true"
                  severity="danger"
                  [outlined]="true"
                  (onClick)="prevCallback.emit()"
                />
                <p-button
                  label="Próxima"
                  icon="pi pi-arrow-right"
                  iconPos="right"
                  [outlined]="true"
                  [rounded]="true"
                  severity="success"
                  (onClick)="nextCallback.emit()"
                />
              </div>
          </ng-template>
        </p-stepperPanel>

        <p-stepperPanel >
          <ng-template pTemplate="header" let-onClick="onClick" let-index="index">
            <span
              class="text-xl"
              [ngClass]="{
                'text-primary': index <= active,
                'font-medium': index == active
              }">
              <i class="pi pi-building-columns text-xl"  [ngClass]="{'font-medium': index == active}"></i>
              Bancário
            </span>
          </ng-template>

          <ng-template pTemplate="content" let-prevCallback="prevCallback" let-index="index">

            <!-- main -->
              <div class="row lg:flex lg:justify-content-center mt-3" >

                <div class="field md:col-12 lg:col-3">
                  <span class="p-float-label p-input-icon-left width">
                    <i class="pi pi-building-columns azul"></i>
                    <input pInputText id="banco" formControlName="banco" class="width" />
                    <label for="banco" class="azul">Banco</label>
                  </span>
                </div>

                <div class="field md:col-12 lg:col-3">
                  <span class="p-float-label p-input-icon-left width">
                    <i class="pi pi-pencil azul"></i>
                    <input pInputText id="agencia" formControlName="agencia" class="width" />
                    <label for="agencia" class="azul">Agencia</label>
                  </span>
                </div>
                <div class="field md:col-12 lg:col-3">
                  <span class="p-float-label p-input-icon-left width">
                    <i class="pi pi-pencil azul"></i>
                    <input pInputText id="conta" formControlName="conta" class="width" />
                    <label for="conta" class="azul">Conta Bancaria</label>
                  </span>
                </div>
              </div>

              <div class="flex pt-4 justify-content-between">
                  <p-button
                    label="Voltar"
                    icon="pi pi-arrow-left"
                    [rounded]="true"
                    severity="danger"
                    [outlined]="true"
                    (onClick)="prevCallback.emit()"
                  />
                  <p-button
                    *ngIf="index == 2"
                    label="Salvar"
                    icon="pi pi-save"
                    iconPos="right"
                    [rounded]="true"
                    severity="success"

                  />


              </div>
          </ng-template>
        </p-stepperPanel>
      </p-stepper>
    </form>
  </div>
</p-dialog>


<p-dialog header='Novo Dentista' [(visible)]="novoDentista" [style]="{  width: '80vw',  height: 'auto' }" [modal]="true" [draggable]="false" [resizable]="false" [closable]="true" class="">
  <ng-template pTemplate="content">
    <app-dentista-novo (closeModal)="closeModalDentista($event)" (onlyClose)="onlyClose($event)"></app-dentista-novo>
  </ng-template>
</p-dialog>


