<div class="z-0 capitalize">
  <full-calendar #calendar *ngIf='calendarVisible()' [options]='calendarOptions()' [events]="eventos" [style.--cor-fundo]="cores.corFundo" [style.--cor-fundo-hover]="cores.corFundoHover" [style.--cor-fundo-hover-2]="cores.corFundoHover2" >
    <ng-template #eventContent let-arg>
      <div class="custom-event-container" >
        <div class=" custom-event p-component flex justify-content-between shadow-2 align-itens-center border-1 border-solid border-round-sm pl-1 p-component cursor-pointer hover:bg-white"
          [style]="{'background': arg.event.display + '25', 'border-color': arg.event.display, 'transition': 'background-color 0.2s', 'padding-top':'2px', 'padding-bottom':'2px', 'padding-right':'2px'}">
          <div class="overflow-hidden text-overflow-ellipsis flex align-items-center" style="width:53%">
            <span class="text-xs text-900 font-medium white-space-nowrap">
              <i class="pi pi-bolt text-xs azul mr-1" *ngIf="arg.event.durationEditable"></i>
              <i class="pi pi-user text-xs" [style]="{'color': arg.event.display}" ></i>
              {{ arg.event.title }}
            </span>
          </div>
          <div class=" white-space-nowrap overflow-hidden text-overflow-ellipsis flex align-items-center" style="width:34%">
            <span class="text-xs text-900 font-medium white-space-nowrap">
              <i class="pi pi-clock text-xs ml-1" [style]="{'color': arg.event.display}"></i>
              {{arg.event.start | date: 'HH:mm'}}
              -
              {{arg.event.end | date: 'HH:mm'}}
            </span>
          </div>
          <div class="flex justify-content-end white-space-nowrap overflow-hidden text-overflow-ellipsis" style="width:12%">
            <!-- <i class="pi pi-circle-fill text-xs ml-1" [style.color]="arg.event.textColor"></i> -->
            @if(arg.event.textColor == '1'){
              <p-tag [rounded]="true" pTooltip="Aguardando" tooltipPosition="top"  [style]="{'background-color': '#e3e6e5', 'color':'#4a4c54'}"><i class="material-icons" [style]="{'font-size': '14px'}" >schedule</i></p-tag> 
            } @else if (arg.event.textColor == '2') {
              <p-tag [rounded]="true"  pTooltip="Confirmado" tooltipPosition="top" [style]="{'background-color': '#e8d5ff', 'color':'#8026d9'}"><i class="material-icons" [style]="{'font-size': '14px'}" >done_all</i></p-tag>
            }@else if (arg.event.textColor == '3') {
              <p-tag severity="warning"  pTooltip="Agendado" tooltipPosition="top" [rounded]="true"><i class="pi pi-calendar-clock" [style]="{'font-size': '13px'}" ></i></p-tag>
            }@else if (arg.event.textColor == '4') {
              <p-tag  [rounded]="true"  pTooltip="Em atendimento" tooltipPosition="top" ><i class="material-icons" [style]="{'font-size': '14px'}" >timelapse</i></p-tag>
            }@else if(arg.event.textColor == '5'){
              <p-tag severity="success" pTooltip="Atendido" tooltipPosition="top" [rounded]="true"><i class="pi pi-check-circle" [style]="{'font-size': '13px'}" ></i></p-tag>
            }@else if (arg.event.textColor == '6') {
              <p-tag severity="danger" pTooltip="Ausente" tooltipPosition="top" [rounded]="true"><i class="material-icons" [style]="{'font-size': '14px'}" >person_off</i></p-tag>
            }
          </div>
        </div>
      </div>
    </ng-template>
  </full-calendar>
</div>


