
<div class="row flex ">
  <div class="wrapper  sticky top-0 pl-3 pt-3 z-2  " [class.sidebar-visible]="sidebarVisible" >
    <div class="sidebar ">

        <div class="header my-2 flex justify-content-center align-items-center" >
          <div class=" py-2" (click)="navegacaoRotas('')">
            <img src="assets/img/odonto.jpg"  width="150" />
          </div>
        </div>

        <div class="box my-2 pl-1" routerLinkActive="boxAtivo">
          <div class="flex justify-content-center py-2" (click)="navegacaoRotas('configuracoes')">
            <div class="col-3 flex justify-content-center align-items-center">
              <i class="pi pi-cog iconMenu"></i>
            </div>
            <div class="col-9 text-600">
              Configurações
            </div>
          </div>
        </div>
        <div class="box my-2 pl-1" >
          <div class="flex justify-content-center py-2" (click)="navegacaoRotas('paciente')">
            <div class="col-3 flex justify-content-center align-items-center">
              <i class="pi pi-users iconMenu"></i>
            </div>
            <div class="col-9 text-600">
              Pacientes
            </div>
          </div>
        </div>
        <div class="box my-2 pl-1" >
          <div class="flex justify-content-center py-2" (click)="navegacaoRotas('dentista')">
            <div class="col-3 flex justify-content-center align-items-center">
              <i class="pi pi-user iconMenu"></i>
            </div>
            <div class="col-9 text-600">
              Dentistas
            </div>
          </div>
        </div>
        <div class="box my-2 pl-1" >
          <div class="flex justify-content-center py-2" (click)="navegacaoRotas('consulta')">
            <div class="col-3 flex justify-content-center align-items-center">
              <i class="pi pi-briefcase iconMenu"></i>
            </div>
            <div class="col-9 text-600">
              Consultas
            </div>
          </div>
        </div>
        <div class="box my-2 pl-1" >
          <div class="flex justify-content-center py-2" (click)="navegacaoRotas('relatorio')">
            <div class="col-3 flex justify-content-center align-items-center">
              <i class="pi pi-file iconMenu"></i>
            </div>
            <div class="col-9 text-600">
              Relatórios
            </div>
          </div>
        </div>
        <div class="box my-2 pl-1" >
          <div class="flex justify-content-center py-2" (click)="navegacaoRotas('financeiro')">
            <div class="col-3 flex justify-content-center align-items-center">
              <i class="pi pi-dollar iconMenu"></i>
            </div>
            <div class="col-9 text-600">
              Financeiro
            </div>
          </div>
        </div>
        <div class="box my-2 pl-1" >
          <div class="flex justify-content-center py-2" (click)="navegacaoRotas('estoque')" routerLinkActive="boxAtivo">
            <div class="col-3 flex justify-content-center align-items-center">
              <i class="pi pi-box iconMenu"></i>
            </div>
            <div class="col-9 text-600">
              Estoque
            </div>
          </div>
        </div>

        <div class="box my-2 pl-1" >
          <div class="flex justify-content-center py-2" (click)="navegacaoRotas('')" routerLinkActive="boxAtivo">
            <div class="col-3 flex justify-content-center align-items-center">
              <i class="pi pi-thumbtack iconMenu"></i>
            </div>
            <div class="col-9 text-600">
              Nao sei
            </div>
          </div>
        </div>

        <div class="box my-2 pl-1" >
          <div class="flex justify-content-center py-2" (click)="navegacaoRotas('')" routerLinkActive="boxAtivo">
            <div class="col-3 flex justify-content-center align-items-center">
              <i class="pi pi-thumbtack iconMenu"></i>
            </div>
            <div class="col-9 text-600">
              Nao sei
            </div>
          </div>
        </div>

        <div class="box my-2 pl-1" >
          <div class="flex justify-content-center py-2" (click)="navegacaoRotas('')" routerLinkActive="boxAtivo">
            <div class="col-3 flex justify-content-center align-items-center">
              <i class="pi pi-thumbtack iconMenu"></i>
            </div>
            <div class="col-9 text-600">
              Nao sei
            </div>
          </div>
        </div>

        <div>

        </div>
      </div>
  </div>

  <div class="p-component w-full p-3">

    <router-outlet></router-outlet>

  </div>

</div>
<!-- <p-button class="btnSidebar" icon="pi pi-bars" [rounded]="true" severity="danger" [outlined]="true" ></p-button> -->
<!-- <p-button class="btnSidebar" icon="pi pi-bars" [rounded]="true" [text]="true" severity="help " (click)="toggleSidebar()"></p-button> -->
<i class="pi pi-list text-white  btnSidebar" style="font-size: 1.35rem; cursor: pointer;" (click)="toggleSidebar()"></i>
