
.wrapper {
  display: flex;
}

.content {
  flex: 1;
}

.sidebar {
  width: 235px;
  height: auto;
  display: none;
  background: #FFF;
  box-shadow: rgba(228, 238, 250, 1) 0px 10px 20px, rgba(228, 238, 250, 1) 0px 6px 6px;

}

.sidebar-visible .sidebar {
  display: block;
}

.header{
  width: 100%;
  height: 100px;
}
.naveg{
  background: #FFFFFF;
}

.box{
  background: #FFFFFF;
  cursor: pointer;
}

.box:hover{
  background: #f2f7fc;
}

.boxAtivo{
  background: #f2f7fc;
}

.iconMenu{
  color: #2070b4;
  font-size: 1.2rem;
}
.btnSidebar{
  position: absolute;
  top: 25px;
  left: 250px
}
