button {
  background: linear-gradient(to right, #2070b4, #24aae3);
  font-size: .9rem;
  color: #fff;
  width: auto;
  padding: 12px 24px;
  border-radius: 50px;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15), 0 4px 4px rgba(0, 0, 0, 0.12);
}

button:hover {
  background: linear-gradient(to right,#226199, #1E9CC9);
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2), 0 8px 8px rgba(0, 0, 0, 0.15);
  transform: translateY(-2px);
}

button:active {
  transform: translateY(0);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15), 0 4px 4px rgba(0, 0, 0, 0.12);
}
.mobile{
  display: none;
}
.web{
  display: block;
}
