
<span class="flex justify-content-start mb-4 font-bold ">Procedimentos</span>
<div class="row flex">
  <div class="">
    <div class=" border-1 surface-border border-round overflow-auto surface-overlay" style="width: 500px;height: 350px; border-color: #dadde3;">
      <div class="p-2 flex justify-content-center shadow-1 border-none border-solid border-round border-bottom-1  sticky top-0 bg-white" style="border-color: #dadde3;">
        <p-iconField iconPosition="left" >
          <p-inputIcon>
              <i class="pi pi-search azul"></i>
          </p-inputIcon>
          <input
              pInputText
              type="text"
              placeholder="Filtrar procedimento..."
              class="search border-blue-100" />
        </p-iconField>
      </div>

      <ul class="p-2 list-none flex flex-column gap-2 p-0 m-0">
        <li
          *ngFor="let item of listaEspecConsultas"
          class="p-2 border-round border-solid border-round border-1 font-medium"
          style="border-color: #E5E7EB;"
          pDraggable
          (onDragStart)="dragStart(item)"
          (onDragEnd)="dragEnd()">
          <div class="flex justify-content-between">
            <div class="col-1">
              <i class="pi pi-briefcase azul"></i>
            </div>
            <div class="col-10">
              {{item.tipo}}
            </div>
            <div class="col-1">
              <i class="pi pi-tag azul"></i>
            </div>

          </div>
        </li>
      </ul>
    </div>
  </div>
  <div class="ml-6">
    <div class="flex-row align-content-between  border-1 border-solid border-round overflow-auto surface-overlay" [style]="selecionado.length > 0 ? 'height: 310px;' : 'height: 350px;' " style="width: 1000px;border-color: #dadde3;"pDroppable (onDrop)="drop()">
      <div class="border-none border-solid border-round border-bottom-1 py-2 mb-2 flex shadow-1" style="border-color: #dadde3;">
        <div class="col-7 flex justify-content-center font-medium  text-2x1 ">Procedimento</div>
        <div class="col-3 flex justify-content-start font-medium  text-2x1">Valor</div>
        <div class="col-2 flex justify-content-center font-medium  text-2x1">Ação</div>
      </div>
      <div >
        <ul class="list-none flex flex-column gap-2 p-0 m-0" *ngIf="selecionado" >
          <li *ngFor="let item of selecionado" class="flex justify-content-around border-none border-solid border-bottom-1" style="border-color: #dadde3;">

              <div class="col-7 flex justify-content-center">

                {{item.tipo}}

              </div>
              <div class="col-3 flex justify-content-start">

                {{item.valorBase | currency: 'BRL'}}

               </div>
              <div class="col-2 flex justify-content-center">

                <i class="pi pi-trash text-red-500 cursor-pointer" (click)="onRemove(item.id)"></i>

              </div>

          </li>
        </ul>

      </div>
    </div>
    <div class="border-none border-solid border-round border-bottom-1 border-left-1 border-right-1 " *ngIf="selecionado.length > 0" style="height: 40px;border-color: #dadde3;">
      <div  class="flex row">
        <div class="col-7 flex justify-content-center">
          <span class=" text-center font-medium  text-2x1 ml-6">Total</span>
        </div>
        <div class="col-5 ">
          <span class="font-medium text-2x1">{{somaTotalOrcamento() | currency: 'BRL'}}</span>
        </div>
      </div>
    </div>
  </div>
</div>

