


:host ::ng-deep .custom-switch
    .p-inputswitch.p-inputswitch-checked
    .p-inputswitch-slider,
:host ::ng-deep .custom-switch
    .p-inputswitch.p-inputswitch-checked:hover
    .p-inputswitch-slider {
    background: #c4ddf3;
}

:host ::ng-deep .custom-switch
    .p-inputswitch-checked
    .p-inputswitch-slider::before {
    background: #2070b4;
}

.main{
  padding-bottom: 80px;
}

  button{
    background: linear-gradient(to right, #2070b4, #24aae3);
    font-size: 0.9rem;
    width: 8vw;
    border-radius: 50px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15), 0 6px 6px rgba(0, 0, 0, 0.12);
    border:none;
  }

  button:hover{
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2), 0 8px 8px rgba(0, 0, 0, 0.16);
  }



 .systemMenus{
    display: flex;
    position: fixed;
    width: 70vw;
    height: 10vh;
    background-color: #f2f8fd;
    border-radius: 15px;
    bottom: 30px;
    align-items: center;
    box-shadow: 0 14px 28px rgba(17, 39, 64,0.25), 0 10px 10px rgba(17, 39, 64,0.22);
    border: 1px solid #2070b4;
 }
 .menus{
  display: flex;
  position: fixed;
  bottom: 30px;
  width: 100%;
  justify-content: center;
  align-items: center;
  justify-content: space-evenly;
  background-color: #f2f8fd;
  width: 60vw;
  height: 10vh;
  border: 1px solid #2070b4;
  border-radius: 50px;
 }

.btnHomeAtivo{
  background: linear-gradient(to right, #194973, #0f82ba)
}
.box{
  background: #FFFFFF;
  border-radius: 15px ;
  border: 1px solid #c4ddf3;
  box-shadow: rgba(228, 238, 250, 1) 0px 10px 20px, rgba(228, 238, 250, 1) 0px 6px 6px;
  cursor: pointer;
}

.box:hover{
  background: #f2f7fc;
}

@media (max-width: 768px) {

  button {
      font-size: 0rem; /* Ajustei o tamanho do botão para dispositivos menores */
      width: 13vw; /* Ajustei a largura do botão para dispositivos menores */
      height: 3vh;
      box-shadow: none;
    }


    .menus {
      position: fixed;
      bottom: 20px;
      width: 90vw;
      height: 6vh;
    }
}
