@import "primeicons/primeicons.css";
@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";


.main{
  padding-bottom: 80px;
}

  button{
    background: linear-gradient(to right, #2070b4, #24aae3);
    font-size: 0.9rem;
    width: 8vw;
    border-radius: 50px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15), 0 6px 6px rgba(0, 0, 0, 0.12);
  }

  button:hover{
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2), 0 8px 8px rgba(0, 0, 0, 0.16);
  }

  .containerMenu{
    display: flex;
    width: 100%;
    justify-content: center;
    position: fixed;
    bottom: 30px;
  }

 .systemMenus{
    display: flex;
    position: fixed;
    width: 70vw;
    height: 10vh;
    background-color: #f2f8fd;
    border-radius: 15px;
    bottom: 30px;
    align-items: center;
    box-shadow: 0 14px 28px rgba(17, 39, 64,0.25), 0 10px 10px rgba(17, 39, 64,0.22);
    border: 1px solid #2070b4;
 }
 .menus{
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  justify-content: space-evenly;
  background-color: #f2f8fd;
  width: 60vw;
  height: 10vh;
  border: 1px solid #2070b4;
  border-radius: 50px;
 }

.btnHomeAtivo{
  background: linear-gradient(to right, #194973, #0f82ba)
}

