        <!-- <div class="cores1"><p>#F0EAE6</p></div>
        <div class="cores2"><p>#979890</p></div>
        <div class="cores3"><p>#C28861</p></div>
        <div class="cores6"><p>Hover #c4743e</p></div>
        <div class="cores4"><p>#655F5A</p></div>
        <div class="cores5"><p>#3B3F39</p></div><br>
        <div class="cores7"><p>Hover #262924</p></div><br> -->
        <div>
                <p>Nova Identidade</p>
        <div class="cores1"><p>#54a2dc Border</p></div>
        <div class="cores2"><p>#f2f8fd background</p></div>
        <div class="cores3"><p>#2070b4 cor padrao</p></div>
        <div class="cores6"><p>#f44336 erro texto</p></div>
        <div class="cores4"><p>#ffe3e1 erro background</p></div>
        <div class="cores5"><p>#e5f3e6 success background</p></div><br>
        <div class="cores7"><p>#407945 success texto</p></div><br>
        <p>  primary: '#24AAE3',
                secondary: '#2070B4'</p>
        </div>