
.box{
  background: #FFFFFF;
  border-radius: 15px ;
  border: 1px solid #c4ddf3;
  box-shadow: rgba(228, 238, 250, 1) 0px 10px 20px, rgba(228, 238, 250, 1) 0px 6px 6px;
}
.card{
  background: #FFFFFF;
  border-radius: 15px ;
  border: 1px solid #c4ddf3;
  box-shadow: rgba(228, 238, 250, 1) 0px 10px 20px, rgba(228, 238, 250, 1) 0px 6px 6px;
}
.bar{

  padding: 2rem;
  background: #FFFFFF;
  border-radius: 15px ;
  border: 1px solid #c4ddf3;
  box-shadow: rgba(228, 238, 250, 1) 0px 10px 20px, rgba(228, 238, 250, 1) 0px 6px 6px;
}
.line{
  padding: 2rem;
  background: #FFFFFF;
  border-radius: 15px ;
  border: 1px solid #c4ddf3;
  box-shadow: rgba(228, 238, 250, 1) 0px 10px 20px, rgba(228, 238, 250, 1) 0px 6px 6px;
}
.doughnut{
  width: auto;
  height: auto;
  padding: 2rem;
  background: #FFFFFF;
  border-radius: 15px ;
  border: 1px solid #c4ddf3;
  box-shadow: rgba(228, 238, 250, 1) 0px 10px 20px, rgba(228, 238, 250, 1) 0px 6px 6px;
}
.iconCard{
  background-color: '#F3F4F6';
}
.backGreen{
  display: flex;
  width: 1.5vw;
  height: 1.5vw;
  border-radius: 50%;
  background-color: rgba(34, 197, 94, 0.14);
  justify-content: center;
  align-items: center;
  font-size: 10px;
}

.backRed{
  display: flex;
  width: 1.5vw;
  height: 1.5vw;
  border-radius: 50%;
  background-color: rgba(255, 61, 50, 0.14);
  justify-content: center;
  align-items: center;
  font-size: 10px;
}
.cardTitulo{
  color:#303030;
  font-weight: 700;
  font-size: medium;
}
.cardValor{
  color:#303030;
  font-weight: 700;
  font-size: xx-large;
}

.cardPorcVerd{
  color:#159D47;
  font-weight: 500;
  font-size: medium;
}



.top-2 {
  top: 2%;
  /* Outras propriedades da classe */
}

.dashboard{
  display: flex;
}

.wrapper {
  display: flex;
}

.content {
  flex: 1;
  /* Estilos para o conteúdo principal */
}

.sidebar {
  width: 250px;
  display: none;
}

.sidebar-visible .sidebar {
  display: block; /* Mostra o sidebar quando a classe sidebar-visible é aplicada */
}

.btnFiltro{
  position: absolute;
  top: 30px;
  left: 320px
}




@media only screen and (max-width: 767px) {
  .filtroMovel {
    display: none; /* Esconde a div em dispositivos móveis com largura de tela menor que 768 pixels */
  }
  .card {
    min-width: auto; /* Remove a largura mínima para os cartões em dispositivos móveis */
    max-width: 100%; /* Define a largura máxima como 100% para ocupar toda a largura da tela */
    margin: 0; /* Adiciona margem acima e abaixo dos cartões em dispositivos móveis */
  }

}
