
.cores1{
    width: 100px;
    height: 70px;
  
    border-radius: 20%;
    background-color: #54a2dc;
}
.cores2{
    width: 100px;
    height: 70px;

    border-radius: 20%;
    background-color: #f2f8fd;
}
.cores3{
    width: 100px;
    height: 70px;

    border-radius: 20%;
    background-color: #2070b4;
    color: white;
}
.cores6{
    width: 100px;
    height: 70px;

    border-radius: 20%;
    background-color: #f44336;
    color: white;
}
.cores4{
    width: 100px;
    height: 70px;

    border-radius: 20%;
    background-color: #ffe3e1;
    color: white;
}
.cores5{
    width: 100px;
    height: 70px;

    border-radius: 20%;
    background-color: #e5f3e6;
    color: white;
}
.cores7{
    background-color: #407945;
    width: 100px;
    height: 70px;

    border-radius: 20%;

    color: white;
}
