
.box{
  background: #FFFFFF;
  border-radius: 7px ;
  border: 1px solid #c4ddf3;
  box-shadow: rgba(228, 238, 250, 1) 0px 10px 20px, rgba(228, 238, 250, 1) 0px 6px 6px;

}
.cardTitulo{
  color:#303030;
  font-weight: 700;
  font-size:medium;
}
.cardValor{
  color:#303030;
  font-weight: 700;
  font-size: xx-large;
  margin-top: 1rem;
}
.cardPorc{
  color:red;
  font-weight: 500;
  font-size: medium;
}
.cardPorcVerd{
  color:#159D47;
  font-weight: 500;
  font-size: medium;
}
