  <p-stepper [(activeStep)]="active">
    <p-stepperPanel>
      <ng-template pTemplate="header"  let-onClick="onClick" let-index="index">
          <div >
            <div class="flex justify-content-center align-items-center">
              <span
                class="border-round-2xl border-2 w-3rem h-3rem inline-flex align-items-center justify-content-center"
                [ngClass]="{
                  'border-green-600 bg-green-50': active > 0  || (this.formInform.valid),
                  'border-blue-100 bg-blue-50 opacity-40': active < 0,
                  'border-blue-500 bg-blue-50': active == 0
                }"
              >
                <i [ngClass]="(active > 0) || (this.formInform.valid) ? 'pi pi-fw pi-check text-green-600 font-semibold flipleft animation-duration-300 animation-1':'pi pi-fw pi-user flipright animation-duration-300 animation-iteration-1 text-blue-600 font-semibold'"></i>
              </span>
            </div>
            <div class="flex justify-content-center align-items-center mt-1">
              <span class="font-semibold"
              [ngClass]="{
                'text-green-600': active > 0 || (this.formInform.valid) ,
                'text-blue-500 opacity-40': active < 0,
                'text-blue-500': active == 0
              }"
              >Informações</span>
            </div>
          </div>
      </ng-template>
      <ng-template pTemplate="content" let-nextCallback="nextCallback">
          <div class="new py-4 mt-3" >
            <form [formGroup]="formInform" autocomplete="off" >
              <div class="row flex">

                  <div class="col-3 flex justify-content-end" >

                    <div>
                      <div class="flex justify-content-center align-items-center ">
                        <p-image
                          src="https://plus.unsplash.com/premium_photo-1683121366070-5ceb7e007a97?fm=jpg&q=60&w=3000&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MXx8dXNlcnxlbnwwfHwwfHx8MA%3D%3D"
                          alt="Image"
                          width="230"
                          class="w-full"
                          [preview]="true"
                          [style]="{'border-radius': '50%'}"
                        />
                      </div>
                      <div class="flex justify-content-center align-items-center">
                        <span class="text-red-500 font-bold text-xs cursor-pointer hover:text-red-600 web" (click)="abrirExplorerFoto()">
                            <i class="pi pi-camera text-sm"></i>
                        </span>
                        <input type="file" #fileInput style="display: none;" />
                      </div>
                    </div>

                  </div>
                  <div class="col-9">

                    <div class="row lg:flex lg:justify-content-center mt-2">
                      <div class="field col-7">
                        <span class="p-float-label p-input-icon-left width">
                          <i class="pi pi-pencil azul"></i>
                          <input pInputText id="nome" formControlName="nome" required class="width" [ngClass]="{'ng-invalid ng-dirty': formInform.controls['nome'].invalid && formInform.controls['nome'].touched}" />
                          <label for="nome" class="azul">Nome Completo <span class="p-error ">*</span></label>
                        </span>
                        <!-- <small *ngIf="formInform.controls['nome'].errors?.['required']||formInform.controls['nome'].errors?.['touched']"  class="p-error "><br>* Campo obrigatório</small> -->
                      </div>

                      <div class="field col-4">
                        <span class="p-float-label p-input-icon-right width ">
                          <p-calendar inputId="dataNascimento" appendTo="body" [autoZIndex]="true" formControlName="dataNascimento" [ngClass]="{'ng-invalid ng-dirty': formInform.controls['dataNascimento'].invalid && formInform.controls['dataNascimento'].touched}" [iconDisplay]="'input'" [showIcon]="true" [showTime]="false" [showButtonBar]="false" dateFormat="dd/mm/yy" class="width" >
                            <ng-template pTemplate="inputicon" let-clickCallBack="clickCallBack" class="p-input-icon-right">
                              <i class="pi pi-calendar azul" (click)="clickCallBack($event)"></i>
                            </ng-template>
                          </p-calendar>
                          <label for="dataNascimento" class="azul">Data Nascimento <span class="p-error ">*</span></label>
                        </span>
                      </div>
                    </div>

                    <div class="row lg:flex lg:justify-content-center ">

                      <div class="field col-4">
                        <span class="p-float-label p-input-icon-left width">
                          <i class="pi pi-phone azul"></i>
                          <input pInputText id="telefone" formControlName="telefone"  minlength="11" minlength="14"(input)="replaceTelefone(1)" required class="width"[ngClass]="{'ng-invalid ng-dirty': formInform.controls['telefone'].invalid && formInform.controls['telefone'].touched}"  />
                          <label for="cpf" class="azul">Telefone <span class="p-error ">*</span></label>
                        </span>
                        <!-- <small *ngIf="formInform.controls['telefone'].errors?.['required']"  class="p-error "><br>* Campo obrigatório</small> -->
                      </div>

                      <div class="field col-7">
                        <span class="p-float-label p-input-icon-left width">
                          <i class="pi pi-envelope azul"></i>
                          <input pInputText id="email" formControlName="email" required class="width" [ngClass]="{'ng-invalid ng-dirty': formInform.controls['email'].invalid && formInform.controls['email'].touched}"  />
                          <label for="email" class="azul">E-mail <span class="p-error ">*</span></label>
                        </span>
                        <!-- <small *ngIf="formInform.controls['email'].errors?.['required']"  class="p-error "><br>* Campo obrigatório</small> -->
                      </div>


                    </div>
                  </div>

              </div>
              <div class="row">
                <div class="row lg:flex lg:justify-content-center">
                  <div class="field col-3">
                    <span class="p-float-label p-input-icon-left p-input-icon-right width">
                      <i class="pi pi-id-card azul"></i>
                      @if (!validacaoCPF && validacaoCPF != null || existeCPF) {
                        <i class='pi pi-times' style="font-size: 1.3rem; color: #FF3D32"></i>
                      }
                      @else if (validacaoCPF && validacaoCPF != null) {
                        <i class='pi pi-check' style="font-size: 1.3rem; color: #136C34"></i>
                      }
                      <input pInputText id="cpf" formControlName="cpf" maxlength="14" minlength="11" (input)="validaCPF()" required  [style]="!validacaoCPF && validacaoCPF != null || existeCPF? 'border-color:  #136C34':'none'" class="width" [ngClass]="{'ng-invalid ng-dirty': formInform.controls['cpf'].invalid && formInform.controls['cpf'].touched}"/>
                      <label for="cpf" class="azul">CPF <span class="p-error ">*</span></label>
                    </span>
                    <!-- <small *ngIf="formInform.controls['cpf'].errors?.['required']"  class="p-error "><br>* Campo obrigatório</small> -->
                    <small *ngIf="!validacaoCPF && validacaoCPF != null || existeCPF"  class="p-error "><br>CPF inválido ou já cadastrado</small>

                    <small *ngIf="validacaoCPF && validacaoCPF != null"  style="color: #136C34"><br>CPF válido</small>
                  </div>

                  <div class="field col-3">
                    <span class="p-float-label p-input-icon-left width">
                      <i class="pi pi-id-card azul"></i>
                      <input pInputText id="rg" formControlName="rg" required class="width" [ngClass]="{'ng-invalid ng-dirty': formInform.controls['rg'].invalid && formInform.controls['rg'].touched}" />
                      <label for="rg" class="azul">RG <span class="p-error ">*</span></label>
                    </span>
                    <!-- <small *ngIf="formInform.controls['telefone'].errors?.['required']"  class="p-error "><br>* Campo obrigatório</small> -->
                  </div>

                  <div class="field col-2">
                    <span class="p-float-label p-input-icon-left width">
                      <i class="pi pi-id-card azul"></i>
                      <input pInputText id="RgUf" formControlName="RgUF" required class="width" [ngClass]="{'ng-invalid ng-dirty': formInform.controls['RgUF'].invalid && formInform.controls['RgUF'].touched}" />
                      <label for="RgUf" class="azul">UF <span class="p-error ">*</span></label>
                    </span>
                    <!-- <small *ngIf="formInform.controls['telefone'].errors?.['required']"  class="p-error "><br>* Campo obrigatório</small> -->
                  </div>
                  <div class="field col-3">
                    <span class="p-float-label p-input-icon-left width">
                      <i class="pi pi-id-card azul"></i>
                      <input pInputText id="orgEmissor" formControlName="orgEmissor" required class="width" [ngClass]="{'ng-invalid ng-dirty': formInform.controls['orgEmissor'].invalid && formInform.controls['orgEmissor'].touched}" />
                      <label for="orgEmissor" class="azul">Org. Emissor <span class="p-error ">*</span></label>
                    </span>
                    <!-- <small *ngIf="formInform.controls['telefone'].errors?.['required']"  class="p-error "><br>* Campo obrigatório</small> -->
                  </div>
                </div>

                <div class="row lg:flex lg:justify-content-center" >
                  <div class="field col-3">
                    <span class="p-float-label p-input-icon-left width">
                      <i class="pi pi-id-card azul"></i>
                      <input pInputText id="pis" formControlName="pisPasep" required class="width" [ngClass]="{'ng-invalid ng-dirty': formInform.controls['pisPasep'].invalid && formInform.controls['pisPasep'].touched}"/>
                      <label for="pis" class="azul">PIS/PASEP <span class="p-error ">*</span></label>
                    </span>
                    <!-- <small *ngIf="formInform.controls['pisPasep'].errors?.['required']"  class="p-error "><br>* Campo obrigatório</small> -->
                  </div>
                  <div class="field col-3">
                    <span class="p-float-label p-input-icon-left width">
                      <i class="pi pi-id-card azul"></i>
                      <input pInputText id="ctpsN" formControlName="ctpsN" required class="width" [ngClass]="{'ng-invalid ng-dirty': formInform.controls['ctpsN'].invalid && formInform.controls['ctpsN'].touched}" />
                      <label for="ctpsN" class="azul">CTPS N° <span class="p-error ">*</span></label>
                    </span>
                    <!-- <small *ngIf="formInform.controls['ctpsN'].errors?.['required']"  class="p-error "><br>* Campo obrigatório</small> -->
                  </div>
                  <div class="field col-3">
                    <span class="p-float-label p-input-icon-left width">
                      <i class="pi pi-id-card azul"></i>
                      <input pInputText id="ctpsS" formControlName="ctpsS" required class="width" [ngClass]="{'ng-invalid ng-dirty': formInform.controls['ctpsS'].invalid && formInform.controls['ctpsS'].touched}" />
                      <label for="ctpsS" class="azul">CTPS Série <span class="p-error ">*</span></label>
                    </span>
                    <!-- <small *ngIf="formInform.controls['ctpsS'].errors?.['required']"  class="p-error "><br>* Campo obrigatório</small> -->
                  </div>
                  <div class="field col-2">
                    <span class="p-float-label p-input-icon-left width">
                      <i class="pi pi-id-card azul"></i>
                      <input pInputText id="ctpsUF" formControlName="ctpsUF" required class="width" [ngClass]="{'ng-invalid ng-dirty': formInform.controls['ctpsUF'].invalid && formInform.controls['ctpsUF'].touched}" />
                      <label for="ctpsUF" class="azul">CTPS UF <span class="p-error ">*</span></label>
                    </span>
                    <!-- <small *ngIf="formInform.controls['ctpsUF'].errors?.['required']"  class="p-error "><br>* Campo obrigatório</small> -->
                  </div>
                </div>
              </div>
            </form>
            <div class="row flex justify-content-center">
              <small class="p-error "><br>* Campos obrigatórios</small>
            </div>
          </div>
          <div class="flex pt-4 justify-content-end">
            <p-button (click)="validaFormulario(1)" type="ngSubmit" [disabled]="!formInform.valid" [rounded]="true" label="Próximo" icon="pi pi-arrow-right" iconPos="right" />
          </div>

      </ng-template>
    </p-stepperPanel>
    <p-stepperPanel>
      <ng-template pTemplate="header"  let-onClick="onClick" let-index="index">
        <div >
          <div class="flex justify-content-center align-items-center">
            <span
              class="border-round-2xl border-2 w-3rem h-3rem inline-flex align-items-center justify-content-center"
              [ngClass]="{
                'border-green-600 bg-green-50': (active > 1) || (this.formEndereco.valid) ,
                'border-blue-100 bg-blue-50 opacity-40': active < 1 ,
                'border-blue-500 bg-blue-50': active == 1
              }"
            >
              <i [ngClass]="(active > 1) || (this.formEndereco.valid) ? 'pi pi-fw pi-check text-green-600 font-semibold flipleft animation-duration-300 animation-1':'pi pi-fw pi-map-marker flipright animation-duration-300 animation-iteration-1 text-blue-600 font-semibold'"></i>
            </span>
          </div>
          <div class="flex justify-content-center align-items-center mt-1">
            <span class="font-semibold"
              [ngClass]="{
                'text-green-600': (active > 1) || (this.formEndereco.valid)  ,
                'text-blue-500 opacity-40': active < 1 ,
                'text-blue-500': active == 1
              }"

              >Endereço</span>
          </div>
        </div>
      </ng-template>
      <ng-template pTemplate="content" let-prevCallback="prevCallback" let-nextCallback="nextCallback">
        <div class="new py-4 mt-3" >
          <form [formGroup]="formEndereco" autocomplete="off">

            <div class="row lg:flex lg:justify-content-center mt-2" >
              <div class="field md:col-12 lg:col-3">
                <span class="p-float-label p-input-icon-left p-input-icon-right width">
                  <i class="pi pi-map-marker azul"></i>
                  <i [ngClass]="loading? 'pi pi-spin pi-spinner': ''" style="font-size: 1.3rem"></i>
                  <input pInputText id="cep" formControlName="cep" required (input)="buscaCEP()" minlength="8" maxlength="9" class="width" [ngClass]="{'ng-invalid ng-dirty': formEndereco.controls['cep'].invalid && formEndereco.controls['cep'].touched}" />
                  <label for="cep" class="azul">CEP <span class="p-error ">*</span></label>
                </span>
                <!-- <small *ngIf="formEndereco.get('endereco.cep')?.hasError('required')"  class="p-error "><br>* Campo obrigatório</small> -->
              </div>

              <div class="field md:col-12 lg:col-4">
                <span class="p-float-label p-input-icon-left width">
                  <i class="pi pi-map-marker azul"></i>
                  <input pInputText id="cidade" formControlName="cidade" required class="width" [ngClass]="{'ng-invalid ng-dirty': formEndereco.controls['cidade'].invalid && formEndereco.controls['cidade'].touched}" />
                  <label for="cidade" class="azul">Cidade <span class="p-error ">*</span></label>
                </span>
                <!-- <small *ngIf="formEndereco.get('endereco.cidade')?.hasError('required')"  class="p-error "><br>* Campo obrigatório</small> -->
              </div>

              <div class="field md:col-12 lg:col-4">
                <span class="p-float-label p-input-icon-left width">
                  <i class="pi pi-map-marker azul"></i>
                  <input pInputText id="bairro" formControlName="bairro" required class="width" [ngClass]="{'ng-invalid ng-dirty': formEndereco.controls['bairro'].invalid && formEndereco.controls['bairro'].touched}"/>
                  <label for="bairro" class="azul">Bairro <span class="p-error ">*</span></label>
                </span>
                <!-- <small *ngIf="formEndereco.get('endereco.bairro')?.hasError('required')"  class="p-error "><br>* Campo obrigatório</small> -->
              </div>
            </div>

            <div class="row lg:flex lg:justify-content-center">
              <div class="field md:col-12 lg:col-5">
                <span class="p-float-label p-input-icon-left width">
                  <i class="pi pi-map azul"></i>
                  <input pInputText id="logradouro" formControlName="logradouro" required class="width" [ngClass]="{'ng-invalid ng-dirty': formEndereco.controls['logradouro'].invalid && formEndereco.controls['logradouro'].touched}"/>
                  <label for="logradouro" class="azul">Logradouro <span class="p-error ">*</span></label>
                </span>
                <!-- <small *ngIf="formEndereco.get('endereco.logradouro')?.hasError('required')"  class="p-error "><br>* Campo obrigatório</small> -->
              </div>

              <div class="field md:col-12 lg:col-2">
                <span class="p-float-label p-input-icon-left width">
                  <i class="pi pi-map azul"></i>
                  <input pInputText #numeroInput  id="numero" formControlName="numero" required class="width" [ngClass]="{'ng-invalid ng-dirty': formEndereco.controls['numero'].invalid && formEndereco.controls['numero'].touched}"/>
                  <label for="numero" class="azul">Número <span class="p-error ">*</span></label>
                </span>
                <!-- <small *ngIf="formEndereco.get('endereco.numero')?.hasError('required')"  class="p-error "><br>* Campo obrigatório</small> -->
              </div>
              <div class="field md:col-12 lg:col-4">
                <span class="p-float-label p-input-icon-left width">
                  <i class="pi pi-map azul"></i>
                  <input pInputText id="complemento" formControlName="complemento" required class="width" [ngClass]="{'ng-invalid ng-dirty': formEndereco.controls['complemento'].invalid && formEndereco.controls['complemento'].touched}"/>
                  <label for="complemento" class="azul">Complemento <span class="p-error ">*</span></label>
                </span>
                <!-- <small *ngIf="formEndereco.get('endereco.complemento')?.hasError('required')"   class="p-error "><br>* Campo obrigatório</small> -->
              </div>

            </div>

            <div class="row lg:flex lg:justify-content-center">

              <div class="field md:col-12 lg:col-4">
                <span class="p-float-label p-input-icon-left width">
                  <i class="pi pi-map azul"></i>
                  <input pInputText id="referencia" formControlName="referencia" class="width" />
                  <label for="referencia" class="azul">Referencia</label>
                </span>
              </div>
            </div>
          </form>
          <div class="row flex justify-content-center">
            <small class="p-error "><br>* Campos obrigatórios</small>
          </div>
        </div>
        <div class="flex pt-4 justify-content-between">
          <p-button (onClick)="prevCallback.emit(); " [rounded]="true" label="Voltar" severity="secondary" icon="pi pi-arrow-left" />
          <p-button (onClick)="validaFormulario(2);" [disabled]="!formEndereco.valid" [rounded]="true" label="Próximo" icon="pi pi-arrow-right" iconPos="right" />
        </div>

      </ng-template>
    </p-stepperPanel>
    <p-stepperPanel>
      <ng-template pTemplate="header"  let-onClick="onClick" let-index="index">
        <div >
          <div class="flex justify-content-center align-items-center">
            <span
              class="border-round-2xl border-2 w-3rem h-3rem inline-flex align-items-center justify-content-center"
              [ngClass]="{
                'border-green-600 bg-green-50': (active > 2) || (this.formContrato.valid) ,
                'border-blue-100 bg-blue-50 opacity-40': active < 2,
                'border-blue-500 bg-blue-50': active == 2
              }"
            >
              <i [ngClass]="(active > 2) || (this.formContrato.valid)? 'pi pi-fw pi-check text-green-600 font-semibold flipleft animation-duration-300 animation-1':'pi pi-fw pi-book flipright animation-duration-300 animation-iteration-1 text-blue-600 font-semibold'"></i>
            </span>
          </div>
          <div class="flex justify-content-center align-items-center mt-1">
            <span class="font-semibold"
              [ngClass]="{
                'text-green-600': (active > 2) || (this.formContrato.valid),
                'text-blue-500 opacity-40': active < 2,
                'text-blue-500': active == 2
              }"
              >Contrato</span>
          </div>
        </div>
      </ng-template>
      <ng-template pTemplate="content" let-prevCallback="prevCallback" let-nextCallback="nextCallback">
        <div class="new py-4 mt-3" >
          <form [formGroup]="formContrato" autocomplete="off">

            <div class="row lg:flex lg:justify-content-center" >
              <div class="field col-4">
                <span class="p-float-label p-input-icon-left width">
                  <i class="pi pi-id-card azul"></i>
                  <input pInputText id="empresa" required class="width" formControlName="empresa" [ngClass]="{'ng-invalid ng-dirty': formContrato.controls['empresa'].invalid && formContrato.controls['empresa'].touched}" [disabled]="true"/>
                  <label for="empresa" class="azul">Empresa <span class="p-error ">*</span></label>
                </span>

              </div>
              <div class="field col-3">
                <span class="p-float-label p-input-icon-left width">
                  <i class="pi pi-id-card azul"></i>
                  <input pInputText id="empresaCNPJ" required class="width" formControlName="empresaCNPJ" [readonly]="true" [ngClass]="{'ng-invalid ng-dirty': formContrato.controls['empresaCNPJ'].invalid && formContrato.controls['empresaCNPJ'].touched}"/>
                  <label for="empresaCNPJ" class="azul">CNPJ <span class="p-error ">*</span></label>
                </span>

              </div>

              <div class="field col-4">
                <span class="p-float-label p-input-icon-right width">
                  <p-dropdown [options]="cargosList" formControlName="cargo" [showClear]="true" appendTo="body" (onChange)="preencheuCargo()" [autoZIndex]="true" optionLabel="nome" inputId="cargo" [style]="{'color':'#2070B4', 'width': '100%'}" [ngClass]="{'ng-invalid ng-dirty': formContrato.controls['cargo'].invalid && formContrato.controls['cargo'].touched}"></p-dropdown>
                  <label for="cargo" class="azul">Selecione o cargo <span class="p-error ">*</span></label>
                </span>
              </div>

            </div>

            <div class="row lg:flex lg:justify-content-center" >

              <div class="field col-3">
                <span class="p-float-label  p-input-icon-right">
                  <p-calendar
                    [iconDisplay]="'input'"
                    [showIcon]="true"
                    appendTo="body"
                    [autoZIndex]="true"
                    inputId="dataAdmissao"
                    dateFormat="dd/mm/yy"
                    [showTime]="true"
                    [showButtonBar]="true"
                    [style]="{'color':'#2070B4', 'width': '100%'}"
                    formControlName="dataAdmissao"
                    [ngClass]="{'ng-invalid ng-dirty': formContrato.controls['dataAdmissao'].invalid && formContrato.controls['dataAdmissao'].touched}"
                    >
                    <ng-template pTemplate="inputicon" let-clickCallBack="clickCallBack" class="p-input-icon-right">
                      <i class="pi pi-calendar azul" (click)="clickCallBack($event)"></i>
                    </ng-template>
                  </p-calendar>
                  <label for="dataAdmissao" class="azul">Data admissão <span class="p-error ">*</span></label>
                </span>
              </div>

              <div class="field col-3">
                <span class="p-float-label p-input-icon-left width">
                  <i class="pi pi-id-card azul"></i>
                  <input pInputText id="registroN" required class="width" formControlName="registroN" [ngClass]="{'ng-invalid ng-dirty': formContrato.controls['registroN'].invalid && formContrato.controls['registroN'].touched}"/>
                  <label for="registroN" class="azul">Registro n° <span class="p-error " >*</span></label>
                </span>
              </div>

              <div class="field pt-2 ml-2 ">

                  <span class="p-float-label p-input-icon-left ">
                    <i class="pi pi-dollar" *ngIf="formContrato.get('remuneracao')?.value == null"></i>
                    <!-- <input pInputText id="pasta" required class="width" formControlName="remuneracao"/> -->
                    <p-inputNumber
                          formControlName="remuneracao"
                          id="remuneracao"
                          mode="currency"
                          currency="BRL"
                          locale="pt-BR"
                          required
                          class="custom-width"
                          [readonly]="true"
                      />
                    <label for="remuneracao" class="azul" >Remuneração <span class="p-error ">*</span></label>
                  </span>
              </div>
              <div class="field pt-2 ml-3" *ngIf="formContrato.get('cargo')?.value?.premiacao">
                <span class="p-float-label p-input-icon-left width">
                  <i class="pi pi-dollar" *ngIf="formContrato.get('valorPremiacao')?.value == null"></i>
                  <p-inputNumber
                        formControlName="valorPremiacao"
                        id="valorPremiacao"
                        mode="currency"
                        currency="BRL"
                        locale="pt-BR"
                        required
                        class="custom-width"
                    />
                  <label for="valorPremiacao" class="azul" >Valor premiação <span class="p-error ">*</span></label>
                </span>
              </div>


            </div>


            <div class="row lg:flex lg:justify-content-center ">
              <div class="md:col-12 lg:col-2 flex justify-content-center align-items-center m-0">
                  <span class=" flex justify-content-start align-items-center mt-2">
                  <p-inputSwitch id="valeTrans" formControlName="valeTrans" class="custom-switch" [readonly]="true"></p-inputSwitch>
                  <label for="valeTrans" class="azul">&nbsp;&nbsp;VT</label>
                  </span>

              </div>
              <div class="md:col-12 lg:col-2 flex justify-content-center align-items-center m-0">
                  <span class="flex justify-content-start align-items-center  my-2">
                  <p-inputSwitch id="valeAR" formControlName="valeAR" class="custom-switch" [readonly]="true"></p-inputSwitch>
                  <label for="valeAR" class="azul">&nbsp;&nbsp;VA/VR</label>
                  </span>
              </div>
              <div class="md:col-12 lg:col-2 flex justify-content-center align-items-center m-0">
                  <span class=" flex justify-content-start align-items-center  my-2">
                  <p-inputSwitch id="planoSaude"formControlName="planoSaude" class="custom-switch" [readonly]="true"></p-inputSwitch>
                  <label for="planoSaude" class="azul">&nbsp;&nbsp;Plano Saúde</label>
                  </span>
              </div>
              <div class="md:col-12 lg:col-2 flex justify-content-center align-items-center m-0">
                  <span class=" flex justify-content-start align-items-center  my-2">
                  <p-inputSwitch id="plr" formControlName="plr" class="custom-switch" [readonly]="true"></p-inputSwitch>
                  <label for="plr" class="azul" >&nbsp;&nbsp;PLR</label>
                  </span>
              </div>
              <div class="md:col-12 lg:col-2 flex justify-content-center align-items-center m-0">
                  <span class=" flex justify-content-start align-items-center  my-2">
                  <p-inputSwitch id="premiacao" formControlName="premiacao"  class="custom-switch" [readonly]="true"></p-inputSwitch>
                  <label for="premiacao" class="azul" >&nbsp;&nbsp;Premiação</label>
                  </span>
              </div>
              <div class="md:col-12 lg:col-2 flex justify-content-center align-items-center m-0">
                  <span class=" flex justify-content-start align-items-center  my-2">
                  <p-inputSwitch id="gymPass" formControlName="gymPass" class="custom-switch" [readonly]="true"></p-inputSwitch>
                  <label for="gymPass" class="azul">&nbsp;&nbsp;GymPass</label>
                  </span>
              </div>
            </div>

          </form>
          <div class="row flex justify-content-center">
            <small class="p-error "><br>* Campos obrigatórios</small>
          </div>
        </div>
        <div class="flex pt-4 justify-content-between">
          <p-button (onClick)="prevCallback.emit();" [rounded]="true" label="Voltar" severity="secondary" icon="pi pi-arrow-left" />
          <p-button (onClick)="validaFormulario(3);" [disabled]="!formContrato.valid" [rounded]="true" label="Próximo" icon="pi pi-arrow-right" iconPos="right" />
        </div>
      </ng-template>
    </p-stepperPanel>
    <p-stepperPanel>
      <ng-template pTemplate="header" let-onClick="onClick" let-index="index">
        <div >
          <div class="flex justify-content-center align-items-center">
            <span
              class="border-round-2xl border-2 w-3rem h-3rem inline-flex align-items-center justify-content-center"
              [ngClass]="{
                'border-green-600 bg-green-50': (active > 3) || (this.formConfig.valid) ,
                'border-blue-100 bg-blue-50 opacity-40': active < 3,
                'border-blue-500 bg-blue-50': active == 3
              }"
            >
              <i [ngClass]="(active > 3) || (this.formConfig.valid)? 'pi pi-fw pi-check text-green-600 font-semibold flipleft animation-duration-300 animation-1':'pi pi-fw pi-cog flipright animation-duration-300 animation-iteration-1 text-blue-600 font-semibold'"></i>
            </span>
          </div>
          <div class="flex justify-content-center align-items-center mt-1">
            <span class="font-semibold"
              [ngClass]="{
                'text-green-600': (active > 3) || (this.formConfig.valid) ,
                'text-blue-500 opacity-40': active < 3,
                'text-blue-500': active == 3
              }"
              >Configuração</span>
          </div>
        </div>

      </ng-template>
      <ng-template pTemplate="content" let-prevCallback="prevCallback" let-nextCallback="nextCallback">
        <div class="new py-4 mt-3" >
          <form [formGroup]="formConfig">
            <div class="row lg:flex lg:justify-content-center ">
              <div class="field md:col-12 lg:col-3">
                <span class="p-float-label p-input-icon-right width">

                  <i [ngClass]="loading? 'pi pi-spin pi-spinner azul': ''" style="font-size: 1.3rem"></i>
                  <i [ngClass]="validacaoLogin? 'pi pi-check azul': ''" style="font-size: 1.3rem; color: #136C34"></i>
                  <input pInputText id="login" formControlName="login" required (input)="buscaLogin()" minlength="3" [style]="validacaoLogin? 'border-color:  #136C34': ''" class="width" [ngClass]="{'ng-invalid ng-dirty': formConfig.controls['login'].invalid && formConfig.controls['login'].touched}"/>
                  <label for="login " class="azul">Login</label>
                </span>
                <small *ngIf="formConfig.controls['login'].errors?.['loginEmUso']" class="p-error"><br>Login já está em uso.</small>
                <small *ngIf="validacaoLogin" style="color: #136C34"><br>O login é válido.</small>
              </div>

              <div class="field  md:col-12 lg:col-3">
                <p-floatLabel>
                  <p-password formControlName="senha" [toggleMask]="true"   [ngClass]="{'ng-invalid ng-dirty': formConfig.controls['senha'].invalid && formConfig.controls['senha'].touched}"/>
                  <label for="password" class="azul">Senha</label>
                </p-floatLabel>

              </div>

            </div>
            <div class="row lg:flex lg:justify-content-evenly " >

              <div class="field col-4">
                <span class="p-float-label width">
                  <p-dropdown
                    [options]="[{ label: 'ADM', value: 1 }, {label: 'SUPERVISOR', value:2},{label:'DENTISTA', value: 3},{label: 'FATURAMENTO', value:4}, {label: 'FINANCEIRO', value:5},{label: 'RECEPCAO', value:6}, {label: 'REGISTRO', value: 7}]"
                    formControlName="perfilAcesso"
                    [showClear]="true"
                    appendTo="body"
                    [autoZIndex]="true"
                    optionLabel="label"
                    inputId="perfilAcesso"
                    [style]="{'color':'#2070B4', 'width': '100%'}"
                    [ngClass]="{'ng-invalid ng-dirty': formConfig.controls['perfilAcesso'].invalid && formConfig.controls['perfilAcesso'].touched}"
                  ></p-dropdown>
                  <label for="perfilAcesso" class="azul">Perfil de acesso <span class="p-error ">*</span></label>
                </span>
              </div>

              <p-divider layout="vertical"/>

              <div class="field col-4">
                <span class="p-float-label width">
                  <p-dropdown
                    [options]="[{label:'Nivel 1', value: 1},{label: 'Nivel 2', value: 2}, {label: 'Nivel 3', value:3}, { label: 'Nivel 4', value: 4 }]"
                    formControlName="nivelAcesso"
                    [showClear]="true"
                    appendTo="body"
                    [autoZIndex]="true"
                    optionLabel="label"
                    inputId="nivelAcesso"
                    [style]="{'color':'#2070B4', 'width': '100%'}"
                    [ngClass]="{'ng-invalid ng-dirty': formConfig.controls['nivelAcesso'].invalid && formConfig.controls['nivelAcesso'].touched}"
                  ></p-dropdown>
                  <label for="nivelAcesso" class="azul">Nível de acesso <span class="p-error ">*</span></label>
                </span>
              </div>

            </div>
          </form>
          <div class="row lg:flex lg:justify-content-center" >

            <div class="col-5 p-3 text-sm">
              <div class="row " *ngIf="formConfig.get('perfilAcesso')?.value">
                <span>Com base no perfil que você selecionou, seu usuário terá as acesso{{formConfig.get('perfilAcesso')?.value?.value === 1 ? ' total ao sistema, isso inclui: ':' a:'}}</span>

              </div>

              <div *ngIf="formConfig.get('perfilAcesso')?.value?.value === 1">
                <ul class="list-disc line-height-3">
                  <li>Dados de paciente, dentista e funcionarios;</li>
                  <li>Relatórios, constrole de estoque e controle de ponto;</li>
                  <li>Financeiro;</li>
                </ul>
              </div>
              <div *ngIf="formConfig.get('perfilAcesso')?.value?.value === 2">Dentista</div>
              <div *ngIf="formConfig.get('perfilAcesso')?.value?.value === 3">Faturamento</div>
              <div *ngIf="formConfig.get('perfilAcesso')?.value?.value === 4">Financeiro</div>
              <div *ngIf="formConfig.get('perfilAcesso')?.value?.value === 5">Recepção</div>
              <div *ngIf="formConfig.get('perfilAcesso')?.value?.value === 6">Sem Registro</div>
            </div>

            <p-divider layout="vertical" />

            <div class="col-5 p-3 text-sm">
              <div class="row mb-2" *ngIf="formConfig.get('nivelAcesso')?.value">
                <span>Com base no nível que você selecionou, seu perfil terá as seguintes ações disponíveis: </span>
              </div>


              <div class="flex justify-content-center line-height-3 ml-4" *ngIf="formConfig.get('nivelAcesso')?.value?.value === 1">

                <table>
                  <tr>
                    <td class="" [width]="230"><i class="pi pi-fw pi-eye azul text-sm"></i><span class="ml-3">Visualização</span></td>
                    <td class=""><i class="pi pi-fw pi-check text-green-600 font-semibold"></i></td>
                  </tr>
                  <tr>
                    <td class="" [width]="230" ><i class="pi pi-fw pi-plus azul text-sm"></i> <span class="ml-3">Cadastro</span></td>
                    <td class=""><i class="pi pi-fw pi-times text-red-600 font-semibold"></i></td>
                  </tr>
                  <tr>
                    <td class="" [width]="230" ><i class="pi pi-fw pi-pencil azul text-sm"></i><span class="ml-3">Edição</span></td>
                    <td class=""><i class="pi pi-fw pi-times text-red-600 font-semibold"></i></td>
                  </tr>
                  <tr>
                    <td class="" [width]="230" ><i class="pi pi-fw pi-trash azul text-sm"></i><span class="ml-3">Deleção</span></td>
                    <td class=""><i class="pi pi-fw pi-times text-red-600 font-semibold"></i></td>
                  </tr>
                </table>
              </div>
              <div class="flex justify-content-center line-height-3 ml-4" *ngIf="formConfig.get('nivelAcesso')?.value?.value === 2">
                <table>
                  <tr>
                    <td class="" [width]="230" ><i class="pi pi-fw pi-eye azul text-sm"></i><span class="ml-3">Visualização</span></td>
                    <td class=""><i class="pi pi-fw pi-check text-green-600 font-semibold"></i></td>
                  </tr>
                  <tr>
                    <td class="" [width]="230" ><i class="pi pi-fw pi-plus azul text-sm"></i> <span class="ml-3">Cadastro</span></td>
                    <td class=""><i class="pi pi-fw pi-check text-green-600 font-semibold"></i></td>
                  </tr>
                  <tr>
                    <td class="" [width]="230" ><i class="pi pi-fw pi-pencil azul text-sm"></i><span class="ml-3">Edição</span></td>
                    <td class=""><i class="pi pi-fw pi-times text-red-600 font-semibold"></i></td>
                  </tr>
                  <tr>
                    <td class="" [width]="230" ><i class="pi pi-fw pi-trash azul text-sm"></i><span class="ml-3">Deleção</span></td>
                    <td class=""><i class="pi pi-fw pi-times text-red-600 font-semibold"></i></td>
                  </tr>
                </table>
              </div>
              <div class="flex justify-content-center line-height-3 ml-4" *ngIf="formConfig.get('nivelAcesso')?.value?.value === 3">
                <table>
                  <tr>
                    <td class="" [width]="230" ><i class="pi pi-fw pi-eye azul text-sm"></i><span class="ml-3">Visualização</span></td>
                    <td class=""><i class="pi pi-fw pi-check text-green-600 font-semibold"></i></td>
                  </tr>
                  <tr>
                    <td class="" [width]="230" ><i class="pi pi-fw pi-plus azul text-sm"></i> <span class="ml-3">Cadastro</span></td>
                    <td class=""><i class="pi pi-fw pi-check text-green-600 font-semibold"></i></td>
                  </tr>
                  <tr>
                    <td class="" [width]="230" ><i class="pi pi-fw pi-pencil azul text-sm"></i><span class="ml-3">Edição</span></td>
                    <td class=""><i class="pi pi-fw pi-check text-green-600 font-semibold"></i></td>
                  </tr>
                  <tr>
                    <td class="" [width]="230" ><i class="pi pi-fw pi-trash azul text-sm"></i><span class="ml-3">Deleção</span></td>
                    <td class=""><i class="pi pi-fw pi-times text-red-600 font-semibold"></i></td>
                  </tr>
                </table>
              </div>
              <div class="flex justify-content-center line-height-3 ml-4" *ngIf="formConfig.get('nivelAcesso')?.value?.value === 4">
                <table>
                  <tr>
                    <td class="" [width]="230" ><i class="pi pi-fw pi-eye azul text-sm"></i><span class="ml-3">Visualização</span></td>
                    <td class=""><i class="pi pi-fw pi-check text-green-600 font-semibold"></i></td>
                  </tr>
                  <tr>
                    <td class="" [width]="230" ><i class="pi pi-fw pi-plus azul text-sm"></i> <span class="ml-3">Cadastro</span></td>
                    <td class=""><i class="pi pi-fw pi-check text-green-600 font-semibold"></i></td>
                  </tr>
                  <tr>
                    <td class="" [width]="230" ><i class="pi pi-fw pi-pencil azul text-sm"></i><span class="ml-3">Edição</span></td>
                    <td class=""><i class="pi pi-fw pi-check text-green-600 font-semibold"></i></td>
                  </tr>
                  <tr>
                    <td class="" [width]="230" ><i class="pi pi-fw pi-trash azul text-sm"></i><span class="ml-3">Deleção</span></td>
                    <td class=""><i class="pi pi-fw pi-check text-green-600 font-semibold"></i></td>
                  </tr>
                </table>
              </div>
            </div>

          </div>
          <div class="row flex justify-content-center">
            <small class="p-error "><br>* Campos obrigatórios</small>
          </div>
        </div>
        <div class="flex pt-4 justify-content-between">
          <p-button (onClick)="prevCallback.emit();" [rounded]="true" label="Voltar" severity="secondary" icon="pi pi-arrow-left" />
          <p-button (onClick)="nextCallback.emit();"[rounded]="true" label="Próximo" icon="pi pi-arrow-right" iconPos="right" />
        </div>
      </ng-template>
    </p-stepperPanel>
    <p-stepperPanel>
        <ng-template pTemplate="header"  let-onClick="onClick" let-index="index">
          <div >
            <div class="flex justify-content-center align-items-center">
              <span
                class="border-round-2xl border-2 w-3rem h-3rem inline-flex align-items-center justify-content-center"
                [ngClass]="{
                  'border-green-600 bg-green-50': active > 4 ,
                  'border-blue-100 bg-blue-50 opacity-40': active < 4,
                  'border-blue-500 bg-blue-50': active == 4
                }"
              >
              <i [ngClass]="active > 4? 'pi pi-fw pi-check text-green-600 font-semibold flipleft animation-duration-300 animation-1':'pi pi-fw pi-file flipright animation-duration-300 animation-iteration-1 text-blue-600 font-semibold'"></i>
              </span>
            </div>
            <div class="flex justify-content-center align-items-center mt-1">
              <span class="font-semibold"
                [ngClass]="{
                  'text-green-600': active > 4 ,
                  'text-blue-500 opacity-40': active < 4,
                  'text-blue-500': active == 4
                }"
                >Anexo</span>
            </div>
          </div>


        </ng-template>
        <ng-template pTemplate="content" let-prevCallback="prevCallback">
          <div class="row lg:flex lg:justify-content-center " >
            <div class="field col-3 width">
              <p-fileUpload
              name="demo[]"
              url=""
              (onUpload)="onUpload($event)"
              [multiple]="true"
              accept=".docx,.pdf,.jpg,.png"
              maxFileSize="1000000">
              <ng-template pTemplate="content">
                <div class="custom-upload-body">
                  <ul *ngIf="uploadedFiles.length">
                    <li *ngFor="let file of uploadedFiles">
                      {{ file.name }} - {{ file.size }} bytes
                    </li>
                  </ul>
                </div>
              </ng-template>
              </p-fileUpload>
            </div>
          </div>
          <div class="flex pt-4 justify-content-between">
              <p-button (onClick)="prevCallback.emit()" [rounded]="true" label="Voltar" severity="secondary" icon="pi pi-arrow-left" />
              <p-button (onClick)="onSubmit()" [rounded]="true" label="Salvar" severity="success" icon="pi pi-save" iconPos="right" />
            </div>
        </ng-template>
    </p-stepperPanel>
</p-stepper>
